lib/WSDLClient/wsdl/AdresseOppdateringServiceWS_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" xmlns:ns2="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" xmlns:ns3="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" xmlns:ns4="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" xmlns:ns5="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" xmlns:ns6="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" xmlns:ns7="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" xmlns:ns8="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering" elementFormDefault="qualified" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering" version="1.0">

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="kommunetillegg.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>

  <xs:element name="endreMatrikkeladresseTilVegadresse" type="tns:endreMatrikkeladresseTilVegadresse"/>

  <xs:element name="endreMatrikkeladresseTilVegadresseResponse" type="tns:endreMatrikkeladresseTilVegadresseResponse"/>

  <xs:element name="endreVegadresseTilMatrikkeladresse" type="tns:endreVegadresseTilMatrikkeladresse"/>

  <xs:element name="endreVegadresseTilMatrikkeladresseResponse" type="tns:endreVegadresseTilMatrikkeladresseResponse"/>

  <xs:element name="insertKrets" type="tns:insertKrets"/>

  <xs:element name="insertKretsResponse" type="tns:insertKretsResponse"/>

  <xs:element name="insertMatrikkeladresse" type="tns:insertMatrikkeladresse"/>

  <xs:element name="insertMatrikkeladresseResponse" type="tns:insertMatrikkeladresseResponse"/>

  <xs:element name="insertPostnummeromrade" type="tns:insertPostnummeromrade"/>

  <xs:element name="insertPostnummeromradeResponse" type="tns:insertPostnummeromradeResponse"/>

  <xs:element name="insertVeg" type="tns:insertVeg"/>

  <xs:element name="insertVegResponse" type="tns:insertVegResponse"/>

  <xs:element name="insertVegadresse" type="tns:insertVegadresse"/>

  <xs:element name="insertVegadresseResponse" type="tns:insertVegadresseResponse"/>

  <xs:element name="removeAdresse" type="tns:removeAdresse"/>

  <xs:element name="removeAdresseResponse" type="tns:removeAdresseResponse"/>

  <xs:element name="removeKrets" type="tns:removeKrets"/>

  <xs:element name="removeKretsResponse" type="tns:removeKretsResponse"/>

  <xs:element name="removePostnummeromrade" type="tns:removePostnummeromrade"/>

  <xs:element name="removePostnummeromradeResponse" type="tns:removePostnummeromradeResponse"/>

  <xs:element name="removeTettsted" type="tns:removeTettsted"/>

  <xs:element name="removeTettstedResponse" type="tns:removeTettstedResponse"/>

  <xs:element name="removeVeg" type="tns:removeVeg"/>

  <xs:element name="removeVegResponse" type="tns:removeVegResponse"/>

  <xs:element name="saveSplittetMatrikkeladresse" type="tns:saveSplittetMatrikkeladresse"/>

  <xs:element name="saveSplittetMatrikkeladresseResponse" type="tns:saveSplittetMatrikkeladresseResponse"/>

  <xs:element name="saveSplittetVegadresse" type="tns:saveSplittetVegadresse"/>

  <xs:element name="saveSplittetVegadresseResponse" type="tns:saveSplittetVegadresseResponse"/>

  <xs:element name="updateAdressemerkeBestillinger" type="tns:updateAdressemerkeBestillinger"/>

  <xs:element name="updateAdressemerkeBestillingerResponse" type="tns:updateAdressemerkeBestillingerResponse"/>

  <xs:element name="updateForskjovetVegadresser" type="tns:updateForskjovetVegadresser"/>

  <xs:element name="updateForskjovetVegadresserResponse" type="tns:updateForskjovetVegadresserResponse"/>

  <xs:element name="updateKommunaleKretstyper" type="tns:updateKommunaleKretstyper"/>

  <xs:element name="updateKommunaleKretstyperResponse" type="tns:updateKommunaleKretstyperResponse"/>

  <xs:element name="updateKrets" type="tns:updateKrets"/>

  <xs:element name="updateKretsResponse" type="tns:updateKretsResponse"/>

  <xs:element name="updateMatrikkeladresse" type="tns:updateMatrikkeladresse"/>

  <xs:element name="updateMatrikkeladressePostnummeromrade" type="tns:updateMatrikkeladressePostnummeromrade"/>

  <xs:element name="updateMatrikkeladressePostnummeromradeResponse" type="tns:updateMatrikkeladressePostnummeromradeResponse"/>

  <xs:element name="updateMatrikkeladresseResponse" type="tns:updateMatrikkeladresseResponse"/>

  <xs:element name="updatePostnummeromrade" type="tns:updatePostnummeromrade"/>

  <xs:element name="updatePostnummeromradeResponse" type="tns:updatePostnummeromradeResponse"/>

  <xs:element name="updateVeg" type="tns:updateVeg"/>

  <xs:element name="updateVegResponse" type="tns:updateVegResponse"/>

  <xs:element name="updateVegadresse" type="tns:updateVegadresse"/>

  <xs:element name="updateVegadressePostnummeromrade" type="tns:updateVegadressePostnummeromrade"/>

  <xs:element name="updateVegadressePostnummeromradeResponse" type="tns:updateVegadressePostnummeromradeResponse"/>

  <xs:element name="updateVegadresseResponse" type="tns:updateVegadresseResponse"/>

  <xs:complexType name="insertVegadresse">
    <xs:sequence>
      <xs:element name="nyVegadresse" type="ns1:Vegadresse"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertVegadresseResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="removeAdresse">
    <xs:sequence>
      <xs:element name="adresseId" type="ns1:AdresseId"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeAdresseResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="endreMatrikkeladresseTilVegadresse">
    <xs:sequence>
      <xs:element name="vegadresse" type="ns1:Vegadresse"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="endreMatrikkeladresseTilVegadresseResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateMatrikkeladresse">
    <xs:sequence>
      <xs:element name="matrikkeladresse" type="ns1:Matrikkeladresse"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateMatrikkeladresseResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="removeKrets">
    <xs:sequence>
      <xs:element name="krets" type="ns1:Krets"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeKretsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="insertPostnummeromrade">
    <xs:sequence>
      <xs:element name="nyttPostnummeromrade" type="ns1:Postnummeromrade"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertPostnummeromradeResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateVeg">
    <xs:sequence>
      <xs:element name="veg" type="ns1:Veg"/>
      <xs:element minOccurs="0" name="vedtaksdato" type="ns3:LocalDate"/>
      <xs:element minOccurs="0" name="arsakEndringStedsnavnKodeId" type="ns6:ArsakEndringStedsnavnKodeId"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateVegResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateMatrikkeladressePostnummeromrade">
    <xs:sequence>
      <xs:element name="matrikkeladresseId" type="ns1:MatrikkeladresseId"/>
      <xs:element name="postnummeromrade" type="ns1:Postnummeromrade"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateMatrikkeladressePostnummeromradeResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateKommunaleKretstyper">
    <xs:sequence>
      <xs:element name="kommunalKretstypeUnitOfWorkTransfer" nillable="true" type="ns1:KommunalKretstypeUnitOfWorkTransfer"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateKommunaleKretstyperResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="removeVeg">
    <xs:sequence>
      <xs:element name="vegId" type="ns1:VegId"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeVegResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="insertKrets">
    <xs:sequence>
      <xs:element name="nyKrets" type="ns1:Krets"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertKretsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateVegadresse">
    <xs:sequence>
      <xs:element name="vegadresse" type="ns1:Vegadresse"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateVegadresseResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="endreVegadresseTilMatrikkeladresse">
    <xs:sequence>
      <xs:element name="matrikkeladresse" type="ns1:Matrikkeladresse"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="endreVegadresseTilMatrikkeladresseResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateAdressemerkeBestillinger">
    <xs:sequence>
      <xs:element name="transfer" type="ns1:AdressemerkeBestillingUnitOfWorkTransfer"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateAdressemerkeBestillingerResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateForskjovetVegadresser">
    <xs:sequence>
      <xs:element name="transfer" type="ns1:ForskyvVegadresseUnitOfWorkTransfer"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateForskjovetVegadresserResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateKrets">
    <xs:sequence>
      <xs:element name="krets" type="ns1:Krets"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateKretsResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="saveSplittetMatrikkeladresse">
    <xs:sequence>
      <xs:element name="splittetMatrikkeladresse" type="ns1:Matrikkeladresse"/>
      <xs:element name="nyeMatrikkeladresser" type="ns1:MatrikkeladresseList"/>
      <xs:element name="bruksenheter" type="ns8:BruksenhetList"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveSplittetMatrikkeladresseResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updatePostnummeromrade">
    <xs:sequence>
      <xs:element name="postnummeromrade" type="ns1:Postnummeromrade"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updatePostnummeromradeResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="updateVegadressePostnummeromrade">
    <xs:sequence>
      <xs:element name="vegadresseId" type="ns1:VegadresseId"/>
      <xs:element name="postnummeromrade" type="ns1:Postnummeromrade"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateVegadressePostnummeromradeResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="saveSplittetVegadresse">
    <xs:sequence>
      <xs:element name="splittetVegadresse" type="ns1:Vegadresse"/>
      <xs:element name="nyeVegadresser" type="ns1:VegadresseList"/>
      <xs:element name="bruksenheter" type="ns8:BruksenhetList"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveSplittetVegadresseResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="insertMatrikkeladresse">
    <xs:sequence>
      <xs:element name="nyMatrikkeladresse" type="ns1:Matrikkeladresse"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertMatrikkeladresseResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="removePostnummeromrade">
    <xs:sequence>
      <xs:element name="postnummeromrade" type="ns1:Postnummeromrade"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removePostnummeromradeResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="insertVeg">
    <xs:sequence>
      <xs:element name="veg" type="ns1:Veg"/>
      <xs:element minOccurs="0" name="vedtaksdato" type="ns3:LocalDate"/>
      <xs:element minOccurs="0" name="representasjonspunkt" type="ns4:Representasjonspunkt"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertVegResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="removeTettsted">
    <xs:sequence>
      <xs:element name="tettsted" type="ns1:Tettsted"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="removeTettstedResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>