lib/WSDLClient/wsdl/AdresseServiceWS_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" xmlns:ns2="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" xmlns:ns3="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" xmlns:ns4="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" xmlns:ns5="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" xmlns:ns6="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" xmlns:ns7="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" xmlns:ns8="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse" elementFormDefault="qualified" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse" version="1.0">

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>

  <xs:element name="countKretserForKretstype" type="tns:countKretserForKretstype"/>

  <xs:element name="countKretserForKretstypeResponse" type="tns:countKretserForKretstypeResponse"/>

  <xs:element name="countVegadresse" type="tns:countVegadresse"/>

  <xs:element name="countVegadresseResponse" type="tns:countVegadresseResponse"/>

  <xs:element name="findAdresseIdForIdent" type="tns:findAdresseIdForIdent"/>

  <xs:element name="findAdresseIdForIdentResponse" type="tns:findAdresseIdForIdentResponse"/>

  <xs:element name="findAdresseIdsForIdents" type="tns:findAdresseIdsForIdents"/>

  <xs:element name="findAdresseIdsForIdentsResponse" type="tns:findAdresseIdsForIdentsResponse"/>

  <xs:element name="findAdresseInfoObjekter" type="tns:findAdresseInfoObjekter"/>

  <xs:element name="findAdresseInfoObjekterResponse" type="tns:findAdresseInfoObjekterResponse"/>

  <xs:element name="findAdressemerkeBestillinger" type="tns:findAdressemerkeBestillinger"/>

  <xs:element name="findAdressemerkeBestillingerResponse" type="tns:findAdressemerkeBestillingerResponse"/>

  <xs:element name="findAdresser" type="tns:findAdresser"/>

  <xs:element name="findAdresserForBygg" type="tns:findAdresserForBygg"/>

  <xs:element name="findAdresserForByggList" type="tns:findAdresserForByggList"/>

  <xs:element name="findAdresserForByggListResponse" type="tns:findAdresserForByggListResponse"/>

  <xs:element name="findAdresserForByggResponse" type="tns:findAdresserForByggResponse"/>

  <xs:element name="findAdresserForMatrikkelenhet" type="tns:findAdresserForMatrikkelenhet"/>

  <xs:element name="findAdresserForMatrikkelenhetResponse" type="tns:findAdresserForMatrikkelenhetResponse"/>

  <xs:element name="findAdresserForMatrikkelenheter" type="tns:findAdresserForMatrikkelenheter"/>

  <xs:element name="findAdresserForMatrikkelenheterResponse" type="tns:findAdresserForMatrikkelenheterResponse"/>

  <xs:element name="findAdresserForSelectionPolygon" type="tns:findAdresserForSelectionPolygon"/>

  <xs:element name="findAdresserForSelectionPolygonResponse" type="tns:findAdresserForSelectionPolygonResponse"/>

  <xs:element name="findAdresserForVeg" type="tns:findAdresserForVeg"/>

  <xs:element name="findAdresserForVegResponse" type="tns:findAdresserForVegResponse"/>

  <xs:element name="findAdresserForVeger" type="tns:findAdresserForVeger"/>

  <xs:element name="findAdresserForVegerResponse" type="tns:findAdresserForVegerResponse"/>

  <xs:element name="findAdresserResponse" type="tns:findAdresserResponse"/>

  <xs:element name="findGamleAdresseIdenterForAdresseIdent" type="tns:findGamleAdresseIdenterForAdresseIdent"/>

  <xs:element name="findGamleAdresseIdenterForAdresseIdentResponse" type="tns:findGamleAdresseIdenterForAdresseIdentResponse"/>

  <xs:element name="findGamleAdresseIdenterMapForAdresseIdenter" type="tns:findGamleAdresseIdenterMapForAdresseIdenter"/>

  <xs:element name="findGamleAdresseIdenterMapForAdresseIdenterResponse" type="tns:findGamleAdresseIdenterMapForAdresseIdenterResponse"/>

  <xs:element name="findKommunaleKretstyper" type="tns:findKommunaleKretstyper"/>

  <xs:element name="findKommunaleKretstyperResponse" type="tns:findKommunaleKretstyperResponse"/>

  <xs:element name="findKrets" type="tns:findKrets"/>

  <xs:element name="findKretsResponse" type="tns:findKretsResponse"/>

  <xs:element name="findKretserForKretstype" type="tns:findKretserForKretstype"/>

  <xs:element name="findKretserForKretstypeResponse" type="tns:findKretserForKretstypeResponse"/>

  <xs:element name="findKretserForPunkt" type="tns:findKretserForPunkt"/>

  <xs:element name="findKretserForPunktResponse" type="tns:findKretserForPunktResponse"/>

  <xs:element name="findMatrikkeladresse" type="tns:findMatrikkeladresse"/>

  <xs:element name="findMatrikkeladresseResponse" type="tns:findMatrikkeladresseResponse"/>

  <xs:element name="findNavarendeAdresseIdentMapForAdresseIdenter" type="tns:findNavarendeAdresseIdentMapForAdresseIdenter"/>

  <xs:element name="findNavarendeAdresseIdentMapForAdresseIdenterResponse" type="tns:findNavarendeAdresseIdentMapForAdresseIdenterResponse"/>

  <xs:element name="findNavarendeAdresseIdenterForAdresseIdent" type="tns:findNavarendeAdresseIdenterForAdresseIdent"/>

  <xs:element name="findNavarendeAdresseIdenterForAdresseIdentResponse" type="tns:findNavarendeAdresseIdenterForAdresseIdentResponse"/>

  <xs:element name="findNesteLedigeUndernummer" type="tns:findNesteLedigeUndernummer"/>

  <xs:element name="findNesteLedigeUndernummerResponse" type="tns:findNesteLedigeUndernummerResponse"/>

  <xs:element name="findObjekterForAdresse" type="tns:findObjekterForAdresse"/>

  <xs:element name="findObjekterForAdresseResponse" type="tns:findObjekterForAdresseResponse"/>

  <xs:element name="findPostnummeromrade" type="tns:findPostnummeromrade"/>

  <xs:element name="findPostnummeromradeResponse" type="tns:findPostnummeromradeResponse"/>

  <xs:element name="findPoststedInfoObjekter" type="tns:findPoststedInfoObjekter"/>

  <xs:element name="findPoststedInfoObjekterResponse" type="tns:findPoststedInfoObjekterResponse"/>

  <xs:element name="findTettstedInfoObjekter" type="tns:findTettstedInfoObjekter"/>

  <xs:element name="findTettstedInfoObjekterResponse" type="tns:findTettstedInfoObjekterResponse"/>

  <xs:element name="findVegHistorikker" type="tns:findVegHistorikker"/>

  <xs:element name="findVegHistorikkerResponse" type="tns:findVegHistorikkerResponse"/>

  <xs:element name="findVegIdForIdent" type="tns:findVegIdForIdent"/>

  <xs:element name="findVegIdForIdentResponse" type="tns:findVegIdForIdentResponse"/>

  <xs:element name="findVegIdsForIdents" type="tns:findVegIdsForIdents"/>

  <xs:element name="findVegIdsForIdentsResponse" type="tns:findVegIdsForIdentsResponse"/>

  <xs:element name="findVegadresse" type="tns:findVegadresse"/>

  <xs:element name="findVegadresseResponse" type="tns:findVegadresseResponse"/>

  <xs:element name="findVegerForKommune" type="tns:findVegerForKommune"/>

  <xs:element name="findVegerForKommuneResponse" type="tns:findVegerForKommuneResponse"/>

  <xs:element name="findVegerForKommuner" type="tns:findVegerForKommuner"/>

  <xs:element name="findVegerForKommunerResponse" type="tns:findVegerForKommunerResponse"/>

  <xs:element name="findVegerMedNavn" type="tns:findVegerMedNavn"/>

  <xs:element name="findVegerMedNavnResponse" type="tns:findVegerMedNavnResponse"/>

  <xs:element name="finnesAdresseMedKretsIKommune" type="tns:finnesAdresseMedKretsIKommune"/>

  <xs:element name="finnesAdresseMedKretsIKommuneResponse" type="tns:finnesAdresseMedKretsIKommuneResponse"/>

  <xs:element name="finnesAnnenKretsMedSammeIdent" type="tns:finnesAnnenKretsMedSammeIdent"/>

  <xs:element name="finnesAnnenKretsMedSammeIdentResponse" type="tns:finnesAnnenKretsMedSammeIdentResponse"/>

  <xs:element name="finnesAnnenMatrikkeladresseMedSammeIdent" type="tns:finnesAnnenMatrikkeladresseMedSammeIdent"/>

  <xs:element name="finnesAnnenMatrikkeladresseMedSammeIdentResponse" type="tns:finnesAnnenMatrikkeladresseMedSammeIdentResponse"/>

  <xs:element name="finnesAnnenVegadresseMedSammeIdent" type="tns:finnesAnnenVegadresseMedSammeIdent"/>

  <xs:element name="finnesAnnenVegadresseMedSammeIdentResponse" type="tns:finnesAnnenVegadresseMedSammeIdentResponse"/>

  <xs:element name="finnesAnnetKirkesognMedSammeOrganisasjonsnummer" type="tns:finnesAnnetKirkesognMedSammeOrganisasjonsnummer"/>

  <xs:element name="finnesAnnetKirkesognMedSammeOrganisasjonsnummerResponse" type="tns:finnesAnnetKirkesognMedSammeOrganisasjonsnummerResponse"/>

  <xs:complexType name="findKrets">
    <xs:sequence>
      <xs:element name="id" type="ns1:KommuneId"/>
      <xs:element name="kretstypeKodeId" type="ns2:KretstypeKodeId"/>
      <xs:element name="kretsnr" type="xs:int"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKretsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:KretsId"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="finnesAnnenKretsMedSammeIdent">
    <xs:sequence>
      <xs:element name="kretsId" type="ns5:KretsId"/>
      <xs:element name="kretsIdent" type="ns5:KretsIdent"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="finnesAnnenKretsMedSammeIdentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresserForVeger">
    <xs:sequence>
      <xs:element name="vegIds" type="ns5:VegIdList"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresserForVegerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:VegIdTilAdresseIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="finnesAdresseMedKretsIKommune">
    <xs:sequence>
      <xs:element name="kretsId" type="ns5:KretsId"/>
      <xs:element name="kommuneId" type="ns1:KommuneId"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="finnesAdresseMedKretsIKommuneResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="finnesAnnenVegadresseMedSammeIdent">
    <xs:sequence>
      <xs:element name="kommuneId" type="ns1:KommuneId"/>
      <xs:element name="vegadresseId" nillable="true" type="ns5:VegadresseId"/>
      <xs:element name="adressekode" type="xs:int"/>
      <xs:element name="nummer" type="xs:int"/>
      <xs:element name="bokstav" nillable="true" type="xs:string"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="finnesAnnenVegadresseMedSammeIdentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findPoststedInfoObjekter">
    <xs:sequence>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findPoststedInfoObjekterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:PoststedInfoObjektList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countKretserForKretstype">
    <xs:sequence>
      <xs:element name="kretstypeKodeId" type="ns2:KretstypeKodeId"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countKretserForKretstypeResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findVegIdsForIdents">
    <xs:sequence>
      <xs:element name="vegIdents" type="ns5:VegIdentList"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findVegIdsForIdentsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:VegIdentTilVegIdMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findVegerForKommune">
    <xs:sequence>
      <xs:element name="kommuneId" type="ns1:KommuneId"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findVegerForKommuneResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:VegIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKretserForPunkt">
    <xs:sequence>
      <xs:element name="punkt" type="ns6:Point"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKretserForPunktResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:KretsIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKretserForKretstype">
    <xs:sequence>
      <xs:element name="kommuneId" type="ns1:KommuneId"/>
      <xs:element name="kretstypeKodeId" type="ns2:KretstypeKodeId"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKretserForKretstypeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:KretsIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresserForMatrikkelenheter">
    <xs:sequence>
      <xs:element name="matrikkelenhetIds" type="ns7:MatrikkelenhetIdList"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresserForMatrikkelenheterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:MatrikkelenhetIdTilAdresseIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresseIdForIdent">
    <xs:sequence>
      <xs:element name="adresseIdent" type="ns5:AdresseIdent"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresseIdForIdentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:AdresseId"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKommunaleKretstyper">
    <xs:sequence>
      <xs:element name="kommuneId" type="ns1:KommuneId"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKommunaleKretstyperResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns2:KommunalKretstypeKodeIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresser">
    <xs:sequence>
      <xs:element name="adressesokModel" type="ns5:AdressesokModel"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:AdresseIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findGamleAdresseIdenterMapForAdresseIdenter">
    <xs:sequence>
      <xs:element name="adresseIdents" type="ns5:AdresseIdentList"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findGamleAdresseIdenterMapForAdresseIdenterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:AdresseIdentTilAdresseIdentsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findNavarendeAdresseIdenterForAdresseIdent">
    <xs:sequence>
      <xs:element name="adresseIdent" type="ns5:AdresseIdent"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findNavarendeAdresseIdenterForAdresseIdentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:AdresseIdentList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findObjekterForAdresse">
    <xs:sequence>
      <xs:element name="adresseId" type="ns5:AdresseId"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findObjekterForAdresseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:AdresseInfoTransfer"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresserForSelectionPolygon">
    <xs:sequence>
      <xs:element name="selectionPolygon" type="ns6:SelectionPolygon"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresserForSelectionPolygonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:AdresseIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findVegerMedNavn">
    <xs:sequence>
      <xs:element name="kommuneId" type="ns1:KommuneId"/>
      <xs:element name="adressekode" type="xs:int"/>
      <xs:element name="adressenavn" nillable="true" type="xs:string"/>
      <xs:element name="adressenavnFonetisk" nillable="true" type="xs:boolean"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findVegerMedNavnResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:VegIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresserForBygg">
    <xs:sequence>
      <xs:element name="byggId" type="ns8:ByggId"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresserForByggResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:AdresseIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findVegIdForIdent">
    <xs:sequence>
      <xs:element name="vegIdent" type="ns5:VegIdent"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findVegIdForIdentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:VegId"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countVegadresse">
    <xs:sequence>
      <xs:element name="kommuneId" type="ns1:KommuneId"/>
      <xs:element name="adressekode" type="xs:int"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countVegadresseResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="finnesAnnenMatrikkeladresseMedSammeIdent">
    <xs:sequence>
      <xs:element name="kommuneId" type="ns1:KommuneId"/>
      <xs:element name="matrikkeladresseId" nillable="true" type="ns5:MatrikkeladresseId"/>
      <xs:element name="gardsnummer" type="xs:int"/>
      <xs:element name="bruksnummer" type="xs:int"/>
      <xs:element name="festenummer" type="xs:int"/>
      <xs:element name="undernummer" type="xs:int"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="finnesAnnenMatrikkeladresseMedSammeIdentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="finnesAnnetKirkesognMedSammeOrganisasjonsnummer">
    <xs:sequence>
      <xs:element name="kretsId" type="ns5:KretsId"/>
      <xs:element name="ident" type="ns5:KirkesognIdent"/>
      <xs:element name="organisasjonsnummer" type="xs:string"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="finnesAnnetKirkesognMedSammeOrganisasjonsnummerResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findGamleAdresseIdenterForAdresseIdent">
    <xs:sequence>
      <xs:element name="adresseIdent" type="ns5:AdresseIdent"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findGamleAdresseIdenterForAdresseIdentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:AdresseIdentList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findPostnummeromrade">
    <xs:sequence>
      <xs:element name="postnr" type="xs:string"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findPostnummeromradeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:PostnummeromradeId"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresserForVeg">
    <xs:sequence>
      <xs:element name="vegId" type="ns5:VegId"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresserForVegResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:AdresseIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdressemerkeBestillinger">
    <xs:sequence>
      <xs:element name="bruksenhetIds" type="ns8:BruksenhetIdList"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdressemerkeBestillingerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:AdressemerkeBestillingIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresserForByggList">
    <xs:sequence>
      <xs:element name="byggIds" type="ns8:ByggIdList"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresserForByggListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:ByggIdTilAdresseIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresseInfoObjekter">
    <xs:sequence>
      <xs:element name="model" type="ns5:AdressesokModel"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresseInfoObjekterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:AdresseBokInfoList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findTettstedInfoObjekter">
    <xs:sequence>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findTettstedInfoObjekterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:TettstedInfoObjektList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresserForMatrikkelenhet">
    <xs:sequence>
      <xs:element name="matrikkelenhetId" type="ns7:MatrikkelenhetId"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresserForMatrikkelenhetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:AdresseIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findVegadresse">
    <xs:sequence>
      <xs:element name="kommuneId" type="ns1:KommuneId"/>
      <xs:element name="adressekode" type="xs:int"/>
      <xs:element name="nummer" type="xs:int"/>
      <xs:element name="bokstav" nillable="true" type="xs:string"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findVegadresseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:VegadresseId"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findNavarendeAdresseIdentMapForAdresseIdenter">
    <xs:sequence>
      <xs:element name="adresseIdents" type="ns5:AdresseIdentList"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findNavarendeAdresseIdentMapForAdresseIdenterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:AdresseIdentTilAdresseIdentsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findMatrikkeladresse">
    <xs:sequence>
      <xs:element name="kommuneId" type="ns1:KommuneId"/>
      <xs:element name="gardsnummer" type="xs:int"/>
      <xs:element name="bruksnummer" type="xs:int"/>
      <xs:element name="festenummer" type="xs:int"/>
      <xs:element name="undernummer" type="xs:int"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findMatrikkeladresseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:MatrikkeladresseId"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresseIdsForIdents">
    <xs:sequence>
      <xs:element name="adresseIdents" type="ns5:AdresseIdentList"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findAdresseIdsForIdentsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:AdresseIdentTilAdresseIdMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findVegHistorikker">
    <xs:sequence>
      <xs:element name="vegId" type="ns5:VegId"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findVegHistorikkerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:VegHistorikkInfoList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findVegerForKommuner">
    <xs:sequence>
      <xs:element name="kommuneIds" type="ns1:KommuneIdList"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findVegerForKommunerResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:KommuneIdTilVegIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findNesteLedigeUndernummer">
    <xs:sequence>
      <xs:element name="kommuneId" type="ns1:KommuneId"/>
      <xs:element name="gardsnummer" type="xs:int"/>
      <xs:element name="bruksnummer" type="xs:int"/>
      <xs:element name="festenummer" type="xs:int"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findNesteLedigeUndernummerResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>