lib/WSDLClient/wsdl/AdresseOppdateringServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdresseOppdateringServiceWS" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering" schemaLocation="AdresseOppdateringServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="util.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/test" schemaLocation="test.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="sefrakKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="sefrak.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="rapportKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="personKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="metadata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="matrikkelenhetKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="kulturminneKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="kulturminne.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="konsesjonKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="konsesjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="kommunetilleggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="kommunetillegg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="jobbKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="jobb.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="grunnforurensingKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="grunnforurensing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="forretning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="endringsloggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="elektronisktinglysing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="bygningKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="brukerKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="aktivitetslisteKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="aktivitetsliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="insertVegadresse">
    <part element="tns:insertVegadresse" name="parameters"/>
  </message>
  <message name="insertVegadresseResponse">
    <part element="tns:insertVegadresseResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="updateVegadresse">
    <part element="tns:updateVegadresse" name="parameters"/>
  </message>
  <message name="updateVegadresseResponse">
    <part element="tns:updateVegadresseResponse" name="parameters"/>
  </message>
  <message name="updateVegadressePostnummeromrade">
    <part element="tns:updateVegadressePostnummeromrade" name="parameters"/>
  </message>
  <message name="updateVegadressePostnummeromradeResponse">
    <part element="tns:updateVegadressePostnummeromradeResponse" name="parameters"/>
  </message>
  <message name="removeAdresse">
    <part element="tns:removeAdresse" name="parameters"/>
  </message>
  <message name="removeAdresseResponse">
    <part element="tns:removeAdresseResponse" name="parameters"/>
  </message>
  <message name="insertMatrikkeladresse">
    <part element="tns:insertMatrikkeladresse" name="parameters"/>
  </message>
  <message name="insertMatrikkeladresseResponse">
    <part element="tns:insertMatrikkeladresseResponse" name="parameters"/>
  </message>
  <message name="updateMatrikkeladresse">
    <part element="tns:updateMatrikkeladresse" name="parameters"/>
  </message>
  <message name="updateMatrikkeladresseResponse">
    <part element="tns:updateMatrikkeladresseResponse" name="parameters"/>
  </message>
  <message name="updateMatrikkeladressePostnummeromrade">
    <part element="tns:updateMatrikkeladressePostnummeromrade" name="parameters"/>
  </message>
  <message name="updateMatrikkeladressePostnummeromradeResponse">
    <part element="tns:updateMatrikkeladressePostnummeromradeResponse" name="parameters"/>
  </message>
  <message name="saveSplittetVegadresse">
    <part element="tns:saveSplittetVegadresse" name="parameters"/>
  </message>
  <message name="saveSplittetVegadresseResponse">
    <part element="tns:saveSplittetVegadresseResponse" name="parameters"/>
  </message>
  <message name="saveSplittetMatrikkeladresse">
    <part element="tns:saveSplittetMatrikkeladresse" name="parameters"/>
  </message>
  <message name="saveSplittetMatrikkeladresseResponse">
    <part element="tns:saveSplittetMatrikkeladresseResponse" name="parameters"/>
  </message>
  <message name="updateForskjovetVegadresser">
    <part element="tns:updateForskjovetVegadresser" name="parameters"/>
  </message>
  <message name="updateForskjovetVegadresserResponse">
    <part element="tns:updateForskjovetVegadresserResponse" name="parameters"/>
  </message>
  <message name="endreMatrikkeladresseTilVegadresse">
    <part element="tns:endreMatrikkeladresseTilVegadresse" name="parameters"/>
  </message>
  <message name="endreMatrikkeladresseTilVegadresseResponse">
    <part element="tns:endreMatrikkeladresseTilVegadresseResponse" name="parameters"/>
  </message>
  <message name="endreVegadresseTilMatrikkeladresse">
    <part element="tns:endreVegadresseTilMatrikkeladresse" name="parameters"/>
  </message>
  <message name="endreVegadresseTilMatrikkeladresseResponse">
    <part element="tns:endreVegadresseTilMatrikkeladresseResponse" name="parameters"/>
  </message>
  <message name="insertVeg">
    <part element="tns:insertVeg" name="parameters"/>
  </message>
  <message name="insertVegResponse">
    <part element="tns:insertVegResponse" name="parameters"/>
  </message>
  <message name="updateVeg">
    <part element="tns:updateVeg" name="parameters"/>
  </message>
  <message name="updateVegResponse">
    <part element="tns:updateVegResponse" name="parameters"/>
  </message>
  <message name="removeVeg">
    <part element="tns:removeVeg" name="parameters"/>
  </message>
  <message name="removeVegResponse">
    <part element="tns:removeVegResponse" name="parameters"/>
  </message>
  <message name="insertKrets">
    <part element="tns:insertKrets" name="parameters"/>
  </message>
  <message name="insertKretsResponse">
    <part element="tns:insertKretsResponse" name="parameters"/>
  </message>
  <message name="updateKrets">
    <part element="tns:updateKrets" name="parameters"/>
  </message>
  <message name="updateKretsResponse">
    <part element="tns:updateKretsResponse" name="parameters"/>
  </message>
  <message name="removeKrets">
    <part element="tns:removeKrets" name="parameters"/>
  </message>
  <message name="removeKretsResponse">
    <part element="tns:removeKretsResponse" name="parameters"/>
  </message>
  <message name="insertPostnummeromrade">
    <part element="tns:insertPostnummeromrade" name="parameters"/>
  </message>
  <message name="insertPostnummeromradeResponse">
    <part element="tns:insertPostnummeromradeResponse" name="parameters"/>
  </message>
  <message name="updatePostnummeromrade">
    <part element="tns:updatePostnummeromrade" name="parameters"/>
  </message>
  <message name="updatePostnummeromradeResponse">
    <part element="tns:updatePostnummeromradeResponse" name="parameters"/>
  </message>
  <message name="removePostnummeromrade">
    <part element="tns:removePostnummeromrade" name="parameters"/>
  </message>
  <message name="removePostnummeromradeResponse">
    <part element="tns:removePostnummeromradeResponse" name="parameters"/>
  </message>
  <message name="removeTettsted">
    <part element="tns:removeTettsted" name="parameters"/>
  </message>
  <message name="removeTettstedResponse">
    <part element="tns:removeTettstedResponse" name="parameters"/>
  </message>
  <message name="updateAdressemerkeBestillinger">
    <part element="tns:updateAdressemerkeBestillinger" name="parameters"/>
  </message>
  <message name="updateAdressemerkeBestillingerResponse">
    <part element="tns:updateAdressemerkeBestillingerResponse" name="parameters"/>
  </message>
  <message name="updateKommunaleKretstyper">
    <part element="tns:updateKommunaleKretstyper" name="parameters"/>
  </message>
  <message name="updateKommunaleKretstyperResponse">
    <part element="tns:updateKommunaleKretstyperResponse" name="parameters"/>
  </message>
  <portType name="AdresseOppdateringService">
    <operation name="insertVegadresse">
      <input message="tns:insertVegadresse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/insertVegadresseRequest"/>
      <output message="tns:insertVegadresseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/insertVegadresseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/insertVegadresse/Fault/ServiceException"/>
    </operation>
    <operation name="updateVegadresse">
      <input message="tns:updateVegadresse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateVegadresseRequest"/>
      <output message="tns:updateVegadresseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateVegadresseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateVegadresse/Fault/ServiceException"/>
    </operation>
    <operation name="updateVegadressePostnummeromrade">
      <input message="tns:updateVegadressePostnummeromrade" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateVegadressePostnummeromradeRequest"/>
      <output message="tns:updateVegadressePostnummeromradeResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateVegadressePostnummeromradeResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateVegadressePostnummeromrade/Fault/ServiceException"/>
    </operation>
    <operation name="removeAdresse">
      <input message="tns:removeAdresse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/removeAdresseRequest"/>
      <output message="tns:removeAdresseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/removeAdresseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/removeAdresse/Fault/ServiceException"/>
    </operation>
    <operation name="insertMatrikkeladresse">
      <input message="tns:insertMatrikkeladresse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/insertMatrikkeladresseRequest"/>
      <output message="tns:insertMatrikkeladresseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/insertMatrikkeladresseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/insertMatrikkeladresse/Fault/ServiceException"/>
    </operation>
    <operation name="updateMatrikkeladresse">
      <input message="tns:updateMatrikkeladresse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateMatrikkeladresseRequest"/>
      <output message="tns:updateMatrikkeladresseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateMatrikkeladresseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateMatrikkeladresse/Fault/ServiceException"/>
    </operation>
    <operation name="updateMatrikkeladressePostnummeromrade">
      <input message="tns:updateMatrikkeladressePostnummeromrade" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateMatrikkeladressePostnummeromradeRequest"/>
      <output message="tns:updateMatrikkeladressePostnummeromradeResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateMatrikkeladressePostnummeromradeResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateMatrikkeladressePostnummeromrade/Fault/ServiceException"/>
    </operation>
    <operation name="saveSplittetVegadresse">
      <input message="tns:saveSplittetVegadresse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/saveSplittetVegadresseRequest"/>
      <output message="tns:saveSplittetVegadresseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/saveSplittetVegadresseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/saveSplittetVegadresse/Fault/ServiceException"/>
    </operation>
    <operation name="saveSplittetMatrikkeladresse">
      <input message="tns:saveSplittetMatrikkeladresse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/saveSplittetMatrikkeladresseRequest"/>
      <output message="tns:saveSplittetMatrikkeladresseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/saveSplittetMatrikkeladresseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/saveSplittetMatrikkeladresse/Fault/ServiceException"/>
    </operation>
    <operation name="updateForskjovetVegadresser">
      <input message="tns:updateForskjovetVegadresser" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateForskjovetVegadresserRequest"/>
      <output message="tns:updateForskjovetVegadresserResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateForskjovetVegadresserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateForskjovetVegadresser/Fault/ServiceException"/>
    </operation>
    <operation name="endreMatrikkeladresseTilVegadresse">
      <input message="tns:endreMatrikkeladresseTilVegadresse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/endreMatrikkeladresseTilVegadresseRequest"/>
      <output message="tns:endreMatrikkeladresseTilVegadresseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/endreMatrikkeladresseTilVegadresseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/endreMatrikkeladresseTilVegadresse/Fault/ServiceException"/>
    </operation>
    <operation name="endreVegadresseTilMatrikkeladresse">
      <input message="tns:endreVegadresseTilMatrikkeladresse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/endreVegadresseTilMatrikkeladresseRequest"/>
      <output message="tns:endreVegadresseTilMatrikkeladresseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/endreVegadresseTilMatrikkeladresseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/endreVegadresseTilMatrikkeladresse/Fault/ServiceException"/>
    </operation>
    <operation name="insertVeg">
      <input message="tns:insertVeg" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/insertVegRequest"/>
      <output message="tns:insertVegResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/insertVegResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/insertVeg/Fault/ServiceException"/>
    </operation>
    <operation name="updateVeg">
      <input message="tns:updateVeg" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateVegRequest"/>
      <output message="tns:updateVegResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateVegResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateVeg/Fault/ServiceException"/>
    </operation>
    <operation name="removeVeg">
      <input message="tns:removeVeg" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/removeVegRequest"/>
      <output message="tns:removeVegResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/removeVegResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/removeVeg/Fault/ServiceException"/>
    </operation>
    <operation name="insertKrets">
      <input message="tns:insertKrets" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/insertKretsRequest"/>
      <output message="tns:insertKretsResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/insertKretsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/insertKrets/Fault/ServiceException"/>
    </operation>
    <operation name="updateKrets">
      <input message="tns:updateKrets" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateKretsRequest"/>
      <output message="tns:updateKretsResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateKretsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateKrets/Fault/ServiceException"/>
    </operation>
    <operation name="removeKrets">
      <input message="tns:removeKrets" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/removeKretsRequest"/>
      <output message="tns:removeKretsResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/removeKretsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/removeKrets/Fault/ServiceException"/>
    </operation>
    <operation name="insertPostnummeromrade">
      <input message="tns:insertPostnummeromrade" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/insertPostnummeromradeRequest"/>
      <output message="tns:insertPostnummeromradeResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/insertPostnummeromradeResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/insertPostnummeromrade/Fault/ServiceException"/>
    </operation>
    <operation name="updatePostnummeromrade">
      <input message="tns:updatePostnummeromrade" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updatePostnummeromradeRequest"/>
      <output message="tns:updatePostnummeromradeResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updatePostnummeromradeResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updatePostnummeromrade/Fault/ServiceException"/>
    </operation>
    <operation name="removePostnummeromrade">
      <input message="tns:removePostnummeromrade" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/removePostnummeromradeRequest"/>
      <output message="tns:removePostnummeromradeResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/removePostnummeromradeResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/removePostnummeromrade/Fault/ServiceException"/>
    </operation>
    <operation name="removeTettsted">
      <input message="tns:removeTettsted" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/removeTettstedRequest"/>
      <output message="tns:removeTettstedResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/removeTettstedResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/removeTettsted/Fault/ServiceException"/>
    </operation>
    <operation name="updateAdressemerkeBestillinger">
      <input message="tns:updateAdressemerkeBestillinger" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateAdressemerkeBestillingerRequest"/>
      <output message="tns:updateAdressemerkeBestillingerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateAdressemerkeBestillingerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateAdressemerkeBestillinger/Fault/ServiceException"/>
    </operation>
    <operation name="updateKommunaleKretstyper">
      <input message="tns:updateKommunaleKretstyper" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateKommunaleKretstyperRequest"/>
      <output message="tns:updateKommunaleKretstyperResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateKommunaleKretstyperResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/oppdatering/AdresseOppdateringService/updateKommunaleKretstyper/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="AdresseOppdateringServicePortBinding" type="tns:AdresseOppdateringService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="insertVegadresse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateVegadresse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateVegadressePostnummeromrade">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeAdresse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="insertMatrikkeladresse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateMatrikkeladresse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateMatrikkeladressePostnummeromrade">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveSplittetVegadresse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveSplittetMatrikkeladresse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateForskjovetVegadresser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="endreMatrikkeladresseTilVegadresse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="endreVegadresseTilMatrikkeladresse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="insertVeg">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateVeg">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeVeg">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="insertKrets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateKrets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeKrets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="insertPostnummeromrade">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updatePostnummeromrade">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removePostnummeromrade">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeTettsted">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateAdressemerkeBestillinger">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateKommunaleKretstyper">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AdresseOppdateringServiceWS">
    <port binding="tns:AdresseOppdateringServicePortBinding" name="AdresseOppdateringServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>