lib/WSDLClient/wsdl/AdresseServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AdresseServiceWS" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse" schemaLocation="AdresseServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="util.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="sefrakKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="sefrak.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="rapportKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="personKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="metadata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="matrikkelenhetKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="kulturminneKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="kulturminne.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="konsesjonKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="konsesjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="kommunetilleggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="kommunetillegg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="jobbKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="jobb.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="grunnforurensingKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="grunnforurensing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="forretning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="endringsloggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="elektronisktinglysing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="bygningKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="brukerKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="aktivitetslisteKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="aktivitetsliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findVegerMedNavn">
    <part element="tns:findVegerMedNavn" name="parameters"/>
  </message>
  <message name="findVegerMedNavnResponse">
    <part element="tns:findVegerMedNavnResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findAdresserForMatrikkelenhet">
    <part element="tns:findAdresserForMatrikkelenhet" name="parameters"/>
  </message>
  <message name="findAdresserForMatrikkelenhetResponse">
    <part element="tns:findAdresserForMatrikkelenhetResponse" name="parameters"/>
  </message>
  <message name="findAdresserForMatrikkelenheter">
    <part element="tns:findAdresserForMatrikkelenheter" name="parameters"/>
  </message>
  <message name="findAdresserForMatrikkelenheterResponse">
    <part element="tns:findAdresserForMatrikkelenheterResponse" name="parameters"/>
  </message>
  <message name="findAdresserForVeg">
    <part element="tns:findAdresserForVeg" name="parameters"/>
  </message>
  <message name="findAdresserForVegResponse">
    <part element="tns:findAdresserForVegResponse" name="parameters"/>
  </message>
  <message name="findAdresserForVeger">
    <part element="tns:findAdresserForVeger" name="parameters"/>
  </message>
  <message name="findAdresserForVegerResponse">
    <part element="tns:findAdresserForVegerResponse" name="parameters"/>
  </message>
  <message name="findAdresserForBygg">
    <part element="tns:findAdresserForBygg" name="parameters"/>
  </message>
  <message name="findAdresserForByggResponse">
    <part element="tns:findAdresserForByggResponse" name="parameters"/>
  </message>
  <message name="findAdresserForByggList">
    <part element="tns:findAdresserForByggList" name="parameters"/>
  </message>
  <message name="findAdresserForByggListResponse">
    <part element="tns:findAdresserForByggListResponse" name="parameters"/>
  </message>
  <message name="findAdresseIdForIdent">
    <part element="tns:findAdresseIdForIdent" name="parameters"/>
  </message>
  <message name="findAdresseIdForIdentResponse">
    <part element="tns:findAdresseIdForIdentResponse" name="parameters"/>
  </message>
  <message name="findAdresseIdsForIdents">
    <part element="tns:findAdresseIdsForIdents" name="parameters"/>
  </message>
  <message name="findAdresseIdsForIdentsResponse">
    <part element="tns:findAdresseIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findVegIdForIdent">
    <part element="tns:findVegIdForIdent" name="parameters"/>
  </message>
  <message name="findVegIdForIdentResponse">
    <part element="tns:findVegIdForIdentResponse" name="parameters"/>
  </message>
  <message name="findVegIdsForIdents">
    <part element="tns:findVegIdsForIdents" name="parameters"/>
  </message>
  <message name="findVegIdsForIdentsResponse">
    <part element="tns:findVegIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findVegerForKommune">
    <part element="tns:findVegerForKommune" name="parameters"/>
  </message>
  <message name="findVegerForKommuneResponse">
    <part element="tns:findVegerForKommuneResponse" name="parameters"/>
  </message>
  <message name="findVegerForKommuner">
    <part element="tns:findVegerForKommuner" name="parameters"/>
  </message>
  <message name="findVegerForKommunerResponse">
    <part element="tns:findVegerForKommunerResponse" name="parameters"/>
  </message>
  <message name="findAdressemerkeBestillinger">
    <part element="tns:findAdressemerkeBestillinger" name="parameters"/>
  </message>
  <message name="findAdressemerkeBestillingerResponse">
    <part element="tns:findAdressemerkeBestillingerResponse" name="parameters"/>
  </message>
  <message name="findAdresser">
    <part element="tns:findAdresser" name="parameters"/>
  </message>
  <message name="findAdresserResponse">
    <part element="tns:findAdresserResponse" name="parameters"/>
  </message>
  <message name="findNavarendeAdresseIdenterForAdresseIdent">
    <part element="tns:findNavarendeAdresseIdenterForAdresseIdent" name="parameters"/>
  </message>
  <message name="findNavarendeAdresseIdenterForAdresseIdentResponse">
    <part element="tns:findNavarendeAdresseIdenterForAdresseIdentResponse" name="parameters"/>
  </message>
  <message name="findNavarendeAdresseIdentMapForAdresseIdenter">
    <part element="tns:findNavarendeAdresseIdentMapForAdresseIdenter" name="parameters"/>
  </message>
  <message name="findNavarendeAdresseIdentMapForAdresseIdenterResponse">
    <part element="tns:findNavarendeAdresseIdentMapForAdresseIdenterResponse" name="parameters"/>
  </message>
  <message name="findGamleAdresseIdenterForAdresseIdent">
    <part element="tns:findGamleAdresseIdenterForAdresseIdent" name="parameters"/>
  </message>
  <message name="findGamleAdresseIdenterForAdresseIdentResponse">
    <part element="tns:findGamleAdresseIdenterForAdresseIdentResponse" name="parameters"/>
  </message>
  <message name="findGamleAdresseIdenterMapForAdresseIdenter">
    <part element="tns:findGamleAdresseIdenterMapForAdresseIdenter" name="parameters"/>
  </message>
  <message name="findGamleAdresseIdenterMapForAdresseIdenterResponse">
    <part element="tns:findGamleAdresseIdenterMapForAdresseIdenterResponse" name="parameters"/>
  </message>
  <message name="findKretserForPunkt">
    <part element="tns:findKretserForPunkt" name="parameters"/>
  </message>
  <message name="findKretserForPunktResponse">
    <part element="tns:findKretserForPunktResponse" name="parameters"/>
  </message>
  <message name="finnesAnnenVegadresseMedSammeIdent">
    <part element="tns:finnesAnnenVegadresseMedSammeIdent" name="parameters"/>
  </message>
  <message name="finnesAnnenVegadresseMedSammeIdentResponse">
    <part element="tns:finnesAnnenVegadresseMedSammeIdentResponse" name="parameters"/>
  </message>
  <message name="finnesAnnenMatrikkeladresseMedSammeIdent">
    <part element="tns:finnesAnnenMatrikkeladresseMedSammeIdent" name="parameters"/>
  </message>
  <message name="finnesAnnenMatrikkeladresseMedSammeIdentResponse">
    <part element="tns:finnesAnnenMatrikkeladresseMedSammeIdentResponse" name="parameters"/>
  </message>
  <message name="countVegadresse">
    <part element="tns:countVegadresse" name="parameters"/>
  </message>
  <message name="countVegadresseResponse">
    <part element="tns:countVegadresseResponse" name="parameters"/>
  </message>
  <message name="findNesteLedigeUndernummer">
    <part element="tns:findNesteLedigeUndernummer" name="parameters"/>
  </message>
  <message name="findNesteLedigeUndernummerResponse">
    <part element="tns:findNesteLedigeUndernummerResponse" name="parameters"/>
  </message>
  <message name="findVegadresse">
    <part element="tns:findVegadresse" name="parameters"/>
  </message>
  <message name="findVegadresseResponse">
    <part element="tns:findVegadresseResponse" name="parameters"/>
  </message>
  <message name="findMatrikkeladresse">
    <part element="tns:findMatrikkeladresse" name="parameters"/>
  </message>
  <message name="findMatrikkeladresseResponse">
    <part element="tns:findMatrikkeladresseResponse" name="parameters"/>
  </message>
  <message name="findAdresseInfoObjekter">
    <part element="tns:findAdresseInfoObjekter" name="parameters"/>
  </message>
  <message name="findAdresseInfoObjekterResponse">
    <part element="tns:findAdresseInfoObjekterResponse" name="parameters"/>
  </message>
  <message name="findPostnummeromrade">
    <part element="tns:findPostnummeromrade" name="parameters"/>
  </message>
  <message name="findPostnummeromradeResponse">
    <part element="tns:findPostnummeromradeResponse" name="parameters"/>
  </message>
  <message name="findKretserForKretstype">
    <part element="tns:findKretserForKretstype" name="parameters"/>
  </message>
  <message name="findKretserForKretstypeResponse">
    <part element="tns:findKretserForKretstypeResponse" name="parameters"/>
  </message>
  <message name="findKommunaleKretstyper">
    <part element="tns:findKommunaleKretstyper" name="parameters"/>
  </message>
  <message name="findKommunaleKretstyperResponse">
    <part element="tns:findKommunaleKretstyperResponse" name="parameters"/>
  </message>
  <message name="finnesAnnenKretsMedSammeIdent">
    <part element="tns:finnesAnnenKretsMedSammeIdent" name="parameters"/>
  </message>
  <message name="finnesAnnenKretsMedSammeIdentResponse">
    <part element="tns:finnesAnnenKretsMedSammeIdentResponse" name="parameters"/>
  </message>
  <message name="finnesAdresseMedKretsIKommune">
    <part element="tns:finnesAdresseMedKretsIKommune" name="parameters"/>
  </message>
  <message name="finnesAdresseMedKretsIKommuneResponse">
    <part element="tns:finnesAdresseMedKretsIKommuneResponse" name="parameters"/>
  </message>
  <message name="countKretserForKretstype">
    <part element="tns:countKretserForKretstype" name="parameters"/>
  </message>
  <message name="countKretserForKretstypeResponse">
    <part element="tns:countKretserForKretstypeResponse" name="parameters"/>
  </message>
  <message name="findTettstedInfoObjekter">
    <part element="tns:findTettstedInfoObjekter" name="parameters"/>
  </message>
  <message name="findTettstedInfoObjekterResponse">
    <part element="tns:findTettstedInfoObjekterResponse" name="parameters"/>
  </message>
  <message name="findPoststedInfoObjekter">
    <part element="tns:findPoststedInfoObjekter" name="parameters"/>
  </message>
  <message name="findPoststedInfoObjekterResponse">
    <part element="tns:findPoststedInfoObjekterResponse" name="parameters"/>
  </message>
  <message name="findObjekterForAdresse">
    <part element="tns:findObjekterForAdresse" name="parameters"/>
  </message>
  <message name="findObjekterForAdresseResponse">
    <part element="tns:findObjekterForAdresseResponse" name="parameters"/>
  </message>
  <message name="findVegHistorikker">
    <part element="tns:findVegHistorikker" name="parameters"/>
  </message>
  <message name="findVegHistorikkerResponse">
    <part element="tns:findVegHistorikkerResponse" name="parameters"/>
  </message>
  <message name="findAdresserForSelectionPolygon">
    <part element="tns:findAdresserForSelectionPolygon" name="parameters"/>
  </message>
  <message name="findAdresserForSelectionPolygonResponse">
    <part element="tns:findAdresserForSelectionPolygonResponse" name="parameters"/>
  </message>
  <message name="findKrets">
    <part element="tns:findKrets" name="parameters"/>
  </message>
  <message name="findKretsResponse">
    <part element="tns:findKretsResponse" name="parameters"/>
  </message>
  <message name="finnesAnnetKirkesognMedSammeOrganisasjonsnummer">
    <part element="tns:finnesAnnetKirkesognMedSammeOrganisasjonsnummer" name="parameters"/>
  </message>
  <message name="finnesAnnetKirkesognMedSammeOrganisasjonsnummerResponse">
    <part element="tns:finnesAnnetKirkesognMedSammeOrganisasjonsnummerResponse" name="parameters"/>
  </message>
  <portType name="AdresseService">
    <operation name="findVegerMedNavn">
      <input message="tns:findVegerMedNavn" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegerMedNavnRequest"/>
      <output message="tns:findVegerMedNavnResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegerMedNavnResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegerMedNavn/Fault/ServiceException"/>
    </operation>
    <operation name="findAdresserForMatrikkelenhet">
      <input message="tns:findAdresserForMatrikkelenhet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForMatrikkelenhetRequest"/>
      <output message="tns:findAdresserForMatrikkelenhetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForMatrikkelenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForMatrikkelenhet/Fault/ServiceException"/>
    </operation>
    <operation name="findAdresserForMatrikkelenheter">
      <input message="tns:findAdresserForMatrikkelenheter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForMatrikkelenheterRequest"/>
      <output message="tns:findAdresserForMatrikkelenheterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForMatrikkelenheterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForMatrikkelenheter/Fault/ServiceException"/>
    </operation>
    <operation name="findAdresserForVeg">
      <input message="tns:findAdresserForVeg" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForVegRequest"/>
      <output message="tns:findAdresserForVegResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForVegResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForVeg/Fault/ServiceException"/>
    </operation>
    <operation name="findAdresserForVeger">
      <input message="tns:findAdresserForVeger" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForVegerRequest"/>
      <output message="tns:findAdresserForVegerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForVegerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForVeger/Fault/ServiceException"/>
    </operation>
    <operation name="findAdresserForBygg">
      <input message="tns:findAdresserForBygg" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForByggRequest"/>
      <output message="tns:findAdresserForByggResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForByggResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForBygg/Fault/ServiceException"/>
    </operation>
    <operation name="findAdresserForByggList">
      <input message="tns:findAdresserForByggList" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForByggListRequest"/>
      <output message="tns:findAdresserForByggListResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForByggListResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForByggList/Fault/ServiceException"/>
    </operation>
    <operation name="findAdresseIdForIdent">
      <input message="tns:findAdresseIdForIdent" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresseIdForIdentRequest"/>
      <output message="tns:findAdresseIdForIdentResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresseIdForIdentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresseIdForIdent/Fault/ServiceException"/>
    </operation>
    <operation name="findAdresseIdsForIdents">
      <input message="tns:findAdresseIdsForIdents" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresseIdsForIdentsRequest"/>
      <output message="tns:findAdresseIdsForIdentsResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresseIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresseIdsForIdents/Fault/ServiceException"/>
    </operation>
    <operation name="findVegIdForIdent">
      <input message="tns:findVegIdForIdent" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegIdForIdentRequest"/>
      <output message="tns:findVegIdForIdentResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegIdForIdentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegIdForIdent/Fault/ServiceException"/>
    </operation>
    <operation name="findVegIdsForIdents">
      <input message="tns:findVegIdsForIdents" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegIdsForIdentsRequest"/>
      <output message="tns:findVegIdsForIdentsResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegIdsForIdents/Fault/ServiceException"/>
    </operation>
    <operation name="findVegerForKommune">
      <input message="tns:findVegerForKommune" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegerForKommuneRequest"/>
      <output message="tns:findVegerForKommuneResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegerForKommuneResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegerForKommune/Fault/ServiceException"/>
    </operation>
    <operation name="findVegerForKommuner">
      <input message="tns:findVegerForKommuner" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegerForKommunerRequest"/>
      <output message="tns:findVegerForKommunerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegerForKommunerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegerForKommuner/Fault/ServiceException"/>
    </operation>
    <operation name="findAdressemerkeBestillinger">
      <input message="tns:findAdressemerkeBestillinger" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdressemerkeBestillingerRequest"/>
      <output message="tns:findAdressemerkeBestillingerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdressemerkeBestillingerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdressemerkeBestillinger/Fault/ServiceException"/>
    </operation>
    <operation name="findAdresser">
      <input message="tns:findAdresser" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserRequest"/>
      <output message="tns:findAdresserResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresser/Fault/ServiceException"/>
    </operation>
    <operation name="findNavarendeAdresseIdenterForAdresseIdent">
      <input message="tns:findNavarendeAdresseIdenterForAdresseIdent" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findNavarendeAdresseIdenterForAdresseIdentRequest"/>
      <output message="tns:findNavarendeAdresseIdenterForAdresseIdentResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findNavarendeAdresseIdenterForAdresseIdentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findNavarendeAdresseIdenterForAdresseIdent/Fault/ServiceException"/>
    </operation>
    <operation name="findNavarendeAdresseIdentMapForAdresseIdenter">
      <input message="tns:findNavarendeAdresseIdentMapForAdresseIdenter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findNavarendeAdresseIdentMapForAdresseIdenterRequest"/>
      <output message="tns:findNavarendeAdresseIdentMapForAdresseIdenterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findNavarendeAdresseIdentMapForAdresseIdenterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findNavarendeAdresseIdentMapForAdresseIdenter/Fault/ServiceException"/>
    </operation>
    <operation name="findGamleAdresseIdenterForAdresseIdent">
      <input message="tns:findGamleAdresseIdenterForAdresseIdent" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findGamleAdresseIdenterForAdresseIdentRequest"/>
      <output message="tns:findGamleAdresseIdenterForAdresseIdentResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findGamleAdresseIdenterForAdresseIdentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findGamleAdresseIdenterForAdresseIdent/Fault/ServiceException"/>
    </operation>
    <operation name="findGamleAdresseIdenterMapForAdresseIdenter">
      <input message="tns:findGamleAdresseIdenterMapForAdresseIdenter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findGamleAdresseIdenterMapForAdresseIdenterRequest"/>
      <output message="tns:findGamleAdresseIdenterMapForAdresseIdenterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findGamleAdresseIdenterMapForAdresseIdenterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findGamleAdresseIdenterMapForAdresseIdenter/Fault/ServiceException"/>
    </operation>
    <operation name="findKretserForPunkt">
      <input message="tns:findKretserForPunkt" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKretserForPunktRequest"/>
      <output message="tns:findKretserForPunktResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKretserForPunktResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKretserForPunkt/Fault/ServiceException"/>
    </operation>
    <operation name="finnesAnnenVegadresseMedSammeIdent">
      <input message="tns:finnesAnnenVegadresseMedSammeIdent" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnenVegadresseMedSammeIdentRequest"/>
      <output message="tns:finnesAnnenVegadresseMedSammeIdentResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnenVegadresseMedSammeIdentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnenVegadresseMedSammeIdent/Fault/ServiceException"/>
    </operation>
    <operation name="finnesAnnenMatrikkeladresseMedSammeIdent">
      <input message="tns:finnesAnnenMatrikkeladresseMedSammeIdent" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnenMatrikkeladresseMedSammeIdentRequest"/>
      <output message="tns:finnesAnnenMatrikkeladresseMedSammeIdentResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnenMatrikkeladresseMedSammeIdentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnenMatrikkeladresseMedSammeIdent/Fault/ServiceException"/>
    </operation>
    <operation name="countVegadresse">
      <input message="tns:countVegadresse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/countVegadresseRequest"/>
      <output message="tns:countVegadresseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/countVegadresseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/countVegadresse/Fault/ServiceException"/>
    </operation>
    <operation name="findNesteLedigeUndernummer">
      <input message="tns:findNesteLedigeUndernummer" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findNesteLedigeUndernummerRequest"/>
      <output message="tns:findNesteLedigeUndernummerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findNesteLedigeUndernummerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findNesteLedigeUndernummer/Fault/ServiceException"/>
    </operation>
    <operation name="findVegadresse">
      <input message="tns:findVegadresse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegadresseRequest"/>
      <output message="tns:findVegadresseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegadresseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegadresse/Fault/ServiceException"/>
    </operation>
    <operation name="findMatrikkeladresse">
      <input message="tns:findMatrikkeladresse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findMatrikkeladresseRequest"/>
      <output message="tns:findMatrikkeladresseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findMatrikkeladresseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findMatrikkeladresse/Fault/ServiceException"/>
    </operation>
    <operation name="findAdresseInfoObjekter">
      <input message="tns:findAdresseInfoObjekter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresseInfoObjekterRequest"/>
      <output message="tns:findAdresseInfoObjekterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresseInfoObjekterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresseInfoObjekter/Fault/ServiceException"/>
    </operation>
    <operation name="findPostnummeromrade">
      <input message="tns:findPostnummeromrade" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findPostnummeromradeRequest"/>
      <output message="tns:findPostnummeromradeResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findPostnummeromradeResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findPostnummeromrade/Fault/ServiceException"/>
    </operation>
    <operation name="findKretserForKretstype">
      <input message="tns:findKretserForKretstype" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKretserForKretstypeRequest"/>
      <output message="tns:findKretserForKretstypeResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKretserForKretstypeResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKretserForKretstype/Fault/ServiceException"/>
    </operation>
    <operation name="findKommunaleKretstyper">
      <input message="tns:findKommunaleKretstyper" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKommunaleKretstyperRequest"/>
      <output message="tns:findKommunaleKretstyperResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKommunaleKretstyperResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKommunaleKretstyper/Fault/ServiceException"/>
    </operation>
    <operation name="finnesAnnenKretsMedSammeIdent">
      <input message="tns:finnesAnnenKretsMedSammeIdent" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnenKretsMedSammeIdentRequest"/>
      <output message="tns:finnesAnnenKretsMedSammeIdentResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnenKretsMedSammeIdentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnenKretsMedSammeIdent/Fault/ServiceException"/>
    </operation>
    <operation name="finnesAdresseMedKretsIKommune">
      <input message="tns:finnesAdresseMedKretsIKommune" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAdresseMedKretsIKommuneRequest"/>
      <output message="tns:finnesAdresseMedKretsIKommuneResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAdresseMedKretsIKommuneResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAdresseMedKretsIKommune/Fault/ServiceException"/>
    </operation>
    <operation name="countKretserForKretstype">
      <input message="tns:countKretserForKretstype" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/countKretserForKretstypeRequest"/>
      <output message="tns:countKretserForKretstypeResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/countKretserForKretstypeResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/countKretserForKretstype/Fault/ServiceException"/>
    </operation>
    <operation name="findTettstedInfoObjekter">
      <input message="tns:findTettstedInfoObjekter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findTettstedInfoObjekterRequest"/>
      <output message="tns:findTettstedInfoObjekterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findTettstedInfoObjekterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findTettstedInfoObjekter/Fault/ServiceException"/>
    </operation>
    <operation name="findPoststedInfoObjekter">
      <input message="tns:findPoststedInfoObjekter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findPoststedInfoObjekterRequest"/>
      <output message="tns:findPoststedInfoObjekterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findPoststedInfoObjekterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findPoststedInfoObjekter/Fault/ServiceException"/>
    </operation>
    <operation name="findObjekterForAdresse">
      <input message="tns:findObjekterForAdresse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findObjekterForAdresseRequest"/>
      <output message="tns:findObjekterForAdresseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findObjekterForAdresseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findObjekterForAdresse/Fault/ServiceException"/>
    </operation>
    <operation name="findVegHistorikker">
      <input message="tns:findVegHistorikker" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegHistorikkerRequest"/>
      <output message="tns:findVegHistorikkerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegHistorikkerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findVegHistorikker/Fault/ServiceException"/>
    </operation>
    <operation name="findAdresserForSelectionPolygon">
      <input message="tns:findAdresserForSelectionPolygon" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForSelectionPolygonRequest"/>
      <output message="tns:findAdresserForSelectionPolygonResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForSelectionPolygonResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findAdresserForSelectionPolygon/Fault/ServiceException"/>
    </operation>
    <operation name="findKrets">
      <input message="tns:findKrets" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKretsRequest"/>
      <output message="tns:findKretsResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKretsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/findKrets/Fault/ServiceException"/>
    </operation>
    <operation name="finnesAnnetKirkesognMedSammeOrganisasjonsnummer">
      <input message="tns:finnesAnnetKirkesognMedSammeOrganisasjonsnummer" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnetKirkesognMedSammeOrganisasjonsnummerRequest"/>
      <output message="tns:finnesAnnetKirkesognMedSammeOrganisasjonsnummerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnetKirkesognMedSammeOrganisasjonsnummerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/AdresseService/finnesAnnetKirkesognMedSammeOrganisasjonsnummer/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="AdresseServicePortBinding" type="tns:AdresseService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findVegerMedNavn">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAdresserForMatrikkelenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAdresserForMatrikkelenheter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAdresserForVeg">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAdresserForVeger">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAdresserForBygg">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAdresserForByggList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAdresseIdForIdent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAdresseIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findVegIdForIdent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findVegIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findVegerForKommune">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findVegerForKommuner">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAdressemerkeBestillinger">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAdresser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findNavarendeAdresseIdenterForAdresseIdent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findNavarendeAdresseIdentMapForAdresseIdenter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findGamleAdresseIdenterForAdresseIdent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findGamleAdresseIdenterMapForAdresseIdenter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findKretserForPunkt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="finnesAnnenVegadresseMedSammeIdent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="finnesAnnenMatrikkeladresseMedSammeIdent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="countVegadresse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findNesteLedigeUndernummer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findVegadresse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findMatrikkeladresse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAdresseInfoObjekter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findPostnummeromrade">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findKretserForKretstype">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findKommunaleKretstyper">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="finnesAnnenKretsMedSammeIdent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="finnesAdresseMedKretsIKommune">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="countKretserForKretstype">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTettstedInfoObjekter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findPoststedInfoObjekter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findObjekterForAdresse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findVegHistorikker">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAdresserForSelectionPolygon">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findKrets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="finnesAnnetKirkesognMedSammeOrganisasjonsnummer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AdresseServiceWS">
    <port binding="tns:AdresseServicePortBinding" name="AdresseServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>