lib/WSDLClient/wsdl/AktivitetslisteOppdateringServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/oppdatering" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AktivitetslisteOppdateringServiceWS" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/oppdatering">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/oppdatering" schemaLocation="AktivitetslisteOppdateringServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="util.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="sefrakKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="sefrak.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="rapportKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="personKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="metadata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="matrikkelenhetKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="kulturminneKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="kulturminne.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="konsesjonKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="konsesjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="kommunetilleggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="kommunetillegg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="jobbKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="jobb.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="grunnforurensingKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="grunnforurensing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="forretning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="endringsloggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="elektronisktinglysing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="bygningKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="brukerKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="aktivitetslisteKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="aktivitetsliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="removeMeldinger">
    <part element="tns:removeMeldinger" name="parameters"/>
  </message>
  <message name="removeMeldingerResponse">
    <part element="tns:removeMeldingerResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="removeAvtaleStedbundenRettighetMeldinger">
    <part element="tns:removeAvtaleStedbundenRettighetMeldinger" name="parameters"/>
  </message>
  <message name="removeAvtaleStedbundenRettighetMeldingerResponse">
    <part element="tns:removeAvtaleStedbundenRettighetMeldingerResponse" name="parameters"/>
  </message>
  <message name="oppdaterMeldingStatus">
    <part element="tns:oppdaterMeldingStatus" name="parameters"/>
  </message>
  <message name="oppdaterMeldingStatusResponse">
    <part element="tns:oppdaterMeldingStatusResponse" name="parameters"/>
  </message>
  <message name="kvitterUtMelding">
    <part element="tns:kvitterUtMelding" name="parameters"/>
  </message>
  <message name="kvitterUtMeldingResponse">
    <part element="tns:kvitterUtMeldingResponse" name="parameters"/>
  </message>
  <portType name="AktivitetslisteOppdateringService">
    <operation name="removeMeldinger">
      <input message="tns:removeMeldinger" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/oppdatering/AktivitetslisteOppdateringService/removeMeldingerRequest"/>
      <output message="tns:removeMeldingerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/oppdatering/AktivitetslisteOppdateringService/removeMeldingerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/oppdatering/AktivitetslisteOppdateringService/removeMeldinger/Fault/ServiceException"/>
    </operation>
    <operation name="removeAvtaleStedbundenRettighetMeldinger">
      <input message="tns:removeAvtaleStedbundenRettighetMeldinger" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/oppdatering/AktivitetslisteOppdateringService/removeAvtaleStedbundenRettighetMeldingerRequest"/>
      <output message="tns:removeAvtaleStedbundenRettighetMeldingerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/oppdatering/AktivitetslisteOppdateringService/removeAvtaleStedbundenRettighetMeldingerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/oppdatering/AktivitetslisteOppdateringService/removeAvtaleStedbundenRettighetMeldinger/Fault/ServiceException"/>
    </operation>
    <operation name="oppdaterMeldingStatus">
      <input message="tns:oppdaterMeldingStatus" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/oppdatering/AktivitetslisteOppdateringService/oppdaterMeldingStatusRequest"/>
      <output message="tns:oppdaterMeldingStatusResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/oppdatering/AktivitetslisteOppdateringService/oppdaterMeldingStatusResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/oppdatering/AktivitetslisteOppdateringService/oppdaterMeldingStatus/Fault/ServiceException"/>
    </operation>
    <operation name="kvitterUtMelding">
      <input message="tns:kvitterUtMelding" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/oppdatering/AktivitetslisteOppdateringService/kvitterUtMeldingRequest"/>
      <output message="tns:kvitterUtMeldingResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/oppdatering/AktivitetslisteOppdateringService/kvitterUtMeldingResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/oppdatering/AktivitetslisteOppdateringService/kvitterUtMelding/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="AktivitetslisteOppdateringServicePortBinding" type="tns:AktivitetslisteOppdateringService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="removeMeldinger">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeAvtaleStedbundenRettighetMeldinger">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="oppdaterMeldingStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="kvitterUtMelding">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AktivitetslisteOppdateringServiceWS">
    <port binding="tns:AktivitetslisteOppdateringServicePortBinding" name="AktivitetslisteOppdateringServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>