lib/WSDLClient/wsdl/AktivitetslisteServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AktivitetslisteServiceWS" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste" schemaLocation="AktivitetslisteServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="util.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="sefrakKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="sefrak.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="rapportKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="personKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="metadata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="matrikkelenhetKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="kulturminneKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="kulturminne.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="konsesjonKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="konsesjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="kommunetilleggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="kommunetillegg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="jobbKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="jobb.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="grunnforurensingKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="grunnforurensing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="forretning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="endringsloggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="elektronisktinglysing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="bygningKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="brukerKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="aktivitetslisteKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="aktivitetsliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findMeldingerForKommune">
    <part element="tns:findMeldingerForKommune" name="parameters"/>
  </message>
  <message name="findMeldingerForKommuneResponse">
    <part element="tns:findMeldingerForKommuneResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findMeldingerForKommuneForType">
    <part element="tns:findMeldingerForKommuneForType" name="parameters"/>
  </message>
  <message name="findMeldingerForKommuneForTypeResponse">
    <part element="tns:findMeldingerForKommuneForTypeResponse" name="parameters"/>
  </message>
  <message name="findMeldingerForMatrikkelenhet">
    <part element="tns:findMeldingerForMatrikkelenhet" name="parameters"/>
  </message>
  <message name="findMeldingerForMatrikkelenhetResponse">
    <part element="tns:findMeldingerForMatrikkelenhetResponse" name="parameters"/>
  </message>
  <message name="findMeldingerForMatrikkelenheter">
    <part element="tns:findMeldingerForMatrikkelenheter" name="parameters"/>
  </message>
  <message name="findMeldingerForMatrikkelenheterResponse">
    <part element="tns:findMeldingerForMatrikkelenheterResponse" name="parameters"/>
  </message>
  <message name="findAntallForretningMeldingerForKommune">
    <part element="tns:findAntallForretningMeldingerForKommune" name="parameters"/>
  </message>
  <message name="findAntallForretningMeldingerForKommuneResponse">
    <part element="tns:findAntallForretningMeldingerForKommuneResponse" name="parameters"/>
  </message>
  <message name="findForretningMeldingerForKommune">
    <part element="tns:findForretningMeldingerForKommune" name="parameters"/>
  </message>
  <message name="findForretningMeldingerForKommuneResponse">
    <part element="tns:findForretningMeldingerForKommuneResponse" name="parameters"/>
  </message>
  <message name="findForretningerOgMeldinger">
    <part element="tns:findForretningerOgMeldinger" name="parameters"/>
  </message>
  <message name="findForretningerOgMeldingerResponse">
    <part element="tns:findForretningerOgMeldingerResponse" name="parameters"/>
  </message>
  <message name="findByggesakmeldinger">
    <part element="tns:findByggesakmeldinger" name="parameters"/>
  </message>
  <message name="findByggesakmeldingerResponse">
    <part element="tns:findByggesakmeldingerResponse" name="parameters"/>
  </message>
  <message name="findAvtaleMeldingerForKommune">
    <part element="tns:findAvtaleMeldingerForKommune" name="parameters"/>
  </message>
  <message name="findAvtaleMeldingerForKommuneResponse">
    <part element="tns:findAvtaleMeldingerForKommuneResponse" name="parameters"/>
  </message>
  <portType name="AktivitetslisteService">
    <operation name="findMeldingerForKommune">
      <input message="tns:findMeldingerForKommune" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findMeldingerForKommuneRequest"/>
      <output message="tns:findMeldingerForKommuneResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findMeldingerForKommuneResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findMeldingerForKommune/Fault/ServiceException"/>
    </operation>
    <operation name="findMeldingerForKommuneForType">
      <input message="tns:findMeldingerForKommuneForType" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findMeldingerForKommuneForTypeRequest"/>
      <output message="tns:findMeldingerForKommuneForTypeResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findMeldingerForKommuneForTypeResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findMeldingerForKommuneForType/Fault/ServiceException"/>
    </operation>
    <operation name="findMeldingerForMatrikkelenhet">
      <input message="tns:findMeldingerForMatrikkelenhet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findMeldingerForMatrikkelenhetRequest"/>
      <output message="tns:findMeldingerForMatrikkelenhetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findMeldingerForMatrikkelenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findMeldingerForMatrikkelenhet/Fault/ServiceException"/>
    </operation>
    <operation name="findMeldingerForMatrikkelenheter">
      <input message="tns:findMeldingerForMatrikkelenheter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findMeldingerForMatrikkelenheterRequest"/>
      <output message="tns:findMeldingerForMatrikkelenheterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findMeldingerForMatrikkelenheterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findMeldingerForMatrikkelenheter/Fault/ServiceException"/>
    </operation>
    <operation name="findAntallForretningMeldingerForKommune">
      <input message="tns:findAntallForretningMeldingerForKommune" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findAntallForretningMeldingerForKommuneRequest"/>
      <output message="tns:findAntallForretningMeldingerForKommuneResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findAntallForretningMeldingerForKommuneResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findAntallForretningMeldingerForKommune/Fault/ServiceException"/>
    </operation>
    <operation name="findForretningMeldingerForKommune">
      <input message="tns:findForretningMeldingerForKommune" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findForretningMeldingerForKommuneRequest"/>
      <output message="tns:findForretningMeldingerForKommuneResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findForretningMeldingerForKommuneResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findForretningMeldingerForKommune/Fault/ServiceException"/>
    </operation>
    <operation name="findForretningerOgMeldinger">
      <input message="tns:findForretningerOgMeldinger" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findForretningerOgMeldingerRequest"/>
      <output message="tns:findForretningerOgMeldingerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findForretningerOgMeldingerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findForretningerOgMeldinger/Fault/ServiceException"/>
    </operation>
    <operation name="findByggesakmeldinger">
      <input message="tns:findByggesakmeldinger" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findByggesakmeldingerRequest"/>
      <output message="tns:findByggesakmeldingerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findByggesakmeldingerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findByggesakmeldinger/Fault/ServiceException"/>
    </operation>
    <operation name="findAvtaleMeldingerForKommune">
      <input message="tns:findAvtaleMeldingerForKommune" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findAvtaleMeldingerForKommuneRequest"/>
      <output message="tns:findAvtaleMeldingerForKommuneResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findAvtaleMeldingerForKommuneResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/aktivitetsliste/AktivitetslisteService/findAvtaleMeldingerForKommune/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="AktivitetslisteServicePortBinding" type="tns:AktivitetslisteService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findMeldingerForKommune">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findMeldingerForKommuneForType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findMeldingerForMatrikkelenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findMeldingerForMatrikkelenheter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAntallForretningMeldingerForKommune">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findForretningMeldingerForKommune">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findForretningerOgMeldinger">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findByggesakmeldinger">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAvtaleMeldingerForKommune">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AktivitetslisteServiceWS">
    <port binding="tns:AktivitetslisteServicePortBinding" name="AktivitetslisteServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>