lib/WSDLClient/wsdl/BrukerAdminOppdateringServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BrukerAdminOppdateringServiceWS" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering" schemaLocation="BrukerAdminOppdateringServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="util.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="sefrakKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="sefrak.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="rapportKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="personKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="metadata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="matrikkelenhetKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="kulturminneKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="kulturminne.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="konsesjonKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="konsesjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="kommunetilleggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="kommunetillegg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="jobbKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="jobb.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="grunnforurensingKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="grunnforurensing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="forretning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="endringsloggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="elektronisktinglysing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="bygningKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="brukerKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="aktivitetslisteKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="aktivitetsliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="insertBruker">
    <part element="tns:insertBruker" name="parameters"/>
  </message>
  <message name="insertBrukerResponse">
    <part element="tns:insertBrukerResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="insertBrukerReuseAppUser">
    <part element="tns:insertBrukerReuseAppUser" name="parameters"/>
  </message>
  <message name="insertBrukerReuseAppUserResponse">
    <part element="tns:insertBrukerReuseAppUserResponse" name="parameters"/>
  </message>
  <message name="gjenopprettAdgangForBruker">
    <part element="tns:gjenopprettAdgangForBruker" name="parameters"/>
  </message>
  <message name="gjenopprettAdgangForBrukerResponse">
    <part element="tns:gjenopprettAdgangForBrukerResponse" name="parameters"/>
  </message>
  <message name="updateBruker">
    <part element="tns:updateBruker" name="parameters"/>
  </message>
  <message name="updateBrukerResponse">
    <part element="tns:updateBrukerResponse" name="parameters"/>
  </message>
  <message name="removeBruker">
    <part element="tns:removeBruker" name="parameters"/>
  </message>
  <message name="removeBrukerResponse">
    <part element="tns:removeBrukerResponse" name="parameters"/>
  </message>
  <message name="removeAdgangForBruker">
    <part element="tns:removeAdgangForBruker" name="parameters"/>
  </message>
  <message name="removeAdgangForBrukerResponse">
    <part element="tns:removeAdgangForBrukerResponse" name="parameters"/>
  </message>
  <message name="updateKommunelister">
    <part element="tns:updateKommunelister" name="parameters"/>
  </message>
  <message name="updateKommunelisterResponse">
    <part element="tns:updateKommunelisterResponse" name="parameters"/>
  </message>
  <message name="updateAdressemerkeBestillingerMedSendtTilProduksjon">
    <part element="tns:updateAdressemerkeBestillingerMedSendtTilProduksjon" name="parameters"/>
  </message>
  <message name="updateAdressemerkeBestillingerMedSendtTilProduksjonResponse">
    <part element="tns:updateAdressemerkeBestillingerMedSendtTilProduksjonResponse" name="parameters"/>
  </message>
  <message name="insertKurs">
    <part element="tns:insertKurs" name="parameters"/>
  </message>
  <message name="insertKursResponse">
    <part element="tns:insertKursResponse" name="parameters"/>
  </message>
  <message name="updateKurs">
    <part element="tns:updateKurs" name="parameters"/>
  </message>
  <message name="updateKursResponse">
    <part element="tns:updateKursResponse" name="parameters"/>
  </message>
  <message name="removeKurs">
    <part element="tns:removeKurs" name="parameters"/>
  </message>
  <message name="removeKursResponse">
    <part element="tns:removeKursResponse" name="parameters"/>
  </message>
  <portType name="BrukerAdminOppdateringService">
    <operation name="insertBruker">
      <input message="tns:insertBruker" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/insertBrukerRequest"/>
      <output message="tns:insertBrukerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/insertBrukerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/insertBruker/Fault/ServiceException"/>
    </operation>
    <operation name="insertBrukerReuseAppUser">
      <input message="tns:insertBrukerReuseAppUser" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/insertBrukerReuseAppUserRequest"/>
      <output message="tns:insertBrukerReuseAppUserResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/insertBrukerReuseAppUserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/insertBrukerReuseAppUser/Fault/ServiceException"/>
    </operation>
    <operation name="gjenopprettAdgangForBruker">
      <input message="tns:gjenopprettAdgangForBruker" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/gjenopprettAdgangForBrukerRequest"/>
      <output message="tns:gjenopprettAdgangForBrukerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/gjenopprettAdgangForBrukerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/gjenopprettAdgangForBruker/Fault/ServiceException"/>
    </operation>
    <operation name="updateBruker">
      <input message="tns:updateBruker" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/updateBrukerRequest"/>
      <output message="tns:updateBrukerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/updateBrukerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/updateBruker/Fault/ServiceException"/>
    </operation>
    <operation name="removeBruker">
      <input message="tns:removeBruker" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/removeBrukerRequest"/>
      <output message="tns:removeBrukerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/removeBrukerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/removeBruker/Fault/ServiceException"/>
    </operation>
    <operation name="removeAdgangForBruker">
      <input message="tns:removeAdgangForBruker" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/removeAdgangForBrukerRequest"/>
      <output message="tns:removeAdgangForBrukerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/removeAdgangForBrukerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/removeAdgangForBruker/Fault/ServiceException"/>
    </operation>
    <operation name="updateKommunelister">
      <input message="tns:updateKommunelister" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/updateKommunelisterRequest"/>
      <output message="tns:updateKommunelisterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/updateKommunelisterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/updateKommunelister/Fault/ServiceException"/>
    </operation>
    <operation name="updateAdressemerkeBestillingerMedSendtTilProduksjon">
      <input message="tns:updateAdressemerkeBestillingerMedSendtTilProduksjon" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/updateAdressemerkeBestillingerMedSendtTilProduksjonRequest"/>
      <output message="tns:updateAdressemerkeBestillingerMedSendtTilProduksjonResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/updateAdressemerkeBestillingerMedSendtTilProduksjonResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/updateAdressemerkeBestillingerMedSendtTilProduksjon/Fault/ServiceException"/>
    </operation>
    <operation name="insertKurs">
      <input message="tns:insertKurs" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/insertKursRequest"/>
      <output message="tns:insertKursResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/insertKursResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/insertKurs/Fault/ServiceException"/>
    </operation>
    <operation name="updateKurs">
      <input message="tns:updateKurs" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/updateKursRequest"/>
      <output message="tns:updateKursResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/updateKursResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/updateKurs/Fault/ServiceException"/>
    </operation>
    <operation name="removeKurs">
      <input message="tns:removeKurs" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/removeKursRequest"/>
      <output message="tns:removeKursResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/removeKursResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/oppdatering/BrukerAdminOppdateringService/removeKurs/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="BrukerAdminOppdateringServicePortBinding" type="tns:BrukerAdminOppdateringService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="insertBruker">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="insertBrukerReuseAppUser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="gjenopprettAdgangForBruker">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateBruker">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeBruker">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeAdgangForBruker">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateKommunelister">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateAdressemerkeBestillingerMedSendtTilProduksjon">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="insertKurs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateKurs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="removeKurs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="BrukerAdminOppdateringServiceWS">
    <port binding="tns:BrukerAdminOppdateringServicePortBinding" name="BrukerAdminOppdateringServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>