lib/WSDLClient/wsdl/BruksenhetServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BruksenhetServiceWS" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning" schemaLocation="BruksenhetServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="util.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="sefrakKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="sefrak.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="rapportKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="personKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="metadata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="matrikkelenhetKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="kulturminneKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="kulturminne.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="konsesjonKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="konsesjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="kommunetilleggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="kommunetillegg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="jobbKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="jobb.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="grunnforurensingKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="grunnforurensing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="forretning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="endringsloggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="elektronisktinglysing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="bygningKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="brukerKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="aktivitetslisteKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="aktivitetsliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findBruksenheterForAdresse">
    <part element="tns:findBruksenheterForAdresse" name="parameters"/>
  </message>
  <message name="findBruksenheterForAdresseResponse">
    <part element="tns:findBruksenheterForAdresseResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findBruksenheterForMatrikkelenhet">
    <part element="tns:findBruksenheterForMatrikkelenhet" name="parameters"/>
  </message>
  <message name="findBruksenheterForMatrikkelenhetResponse">
    <part element="tns:findBruksenheterForMatrikkelenhetResponse" name="parameters"/>
  </message>
  <message name="findBruksenheterForMatrikkelenheter">
    <part element="tns:findBruksenheterForMatrikkelenheter" name="parameters"/>
  </message>
  <message name="findBruksenheterForMatrikkelenheterResponse">
    <part element="tns:findBruksenheterForMatrikkelenheterResponse" name="parameters"/>
  </message>
  <message name="findBruksenheterForBygg">
    <part element="tns:findBruksenheterForBygg" name="parameters"/>
  </message>
  <message name="findBruksenheterForByggResponse">
    <part element="tns:findBruksenheterForByggResponse" name="parameters"/>
  </message>
  <message name="findBruksenheterForByggList">
    <part element="tns:findBruksenheterForByggList" name="parameters"/>
  </message>
  <message name="findBruksenheterForByggListResponse">
    <part element="tns:findBruksenheterForByggListResponse" name="parameters"/>
  </message>
  <message name="findBoligerForAdresser">
    <part element="tns:findBoligerForAdresser" name="parameters"/>
  </message>
  <message name="findBoligerForAdresserResponse">
    <part element="tns:findBoligerForAdresserResponse" name="parameters"/>
  </message>
  <message name="findBoligerForMatrikkelenhet">
    <part element="tns:findBoligerForMatrikkelenhet" name="parameters"/>
  </message>
  <message name="findBoligerForMatrikkelenhetResponse">
    <part element="tns:findBoligerForMatrikkelenhetResponse" name="parameters"/>
  </message>
  <message name="findBoligerForMatrikkelenheter">
    <part element="tns:findBoligerForMatrikkelenheter" name="parameters"/>
  </message>
  <message name="findBoligerForMatrikkelenheterResponse">
    <part element="tns:findBoligerForMatrikkelenheterResponse" name="parameters"/>
  </message>
  <message name="findBruksenheterForVegadresse">
    <part element="tns:findBruksenheterForVegadresse" name="parameters"/>
  </message>
  <message name="findBruksenheterForVegadresseResponse">
    <part element="tns:findBruksenheterForVegadresseResponse" name="parameters"/>
  </message>
  <message name="findBruksenheterForVegadresseIKommune">
    <part element="tns:findBruksenheterForVegadresseIKommune" name="parameters"/>
  </message>
  <message name="findBruksenheterForVegadresseIKommuneResponse">
    <part element="tns:findBruksenheterForVegadresseIKommuneResponse" name="parameters"/>
  </message>
  <message name="findBruksenheterForAdresser">
    <part element="tns:findBruksenheterForAdresser" name="parameters"/>
  </message>
  <message name="findBruksenheterForAdresserResponse">
    <part element="tns:findBruksenheterForAdresserResponse" name="parameters"/>
  </message>
  <message name="findBruksenheterForMatrikkeladresse">
    <part element="tns:findBruksenheterForMatrikkeladresse" name="parameters"/>
  </message>
  <message name="findBruksenheterForMatrikkeladresseResponse">
    <part element="tns:findBruksenheterForMatrikkeladresseResponse" name="parameters"/>
  </message>
  <message name="findBruksenhetsnummerForBruksenheter">
    <part element="tns:findBruksenhetsnummerForBruksenheter" name="parameters"/>
  </message>
  <message name="findBruksenhetsnummerForBruksenheterResponse">
    <part element="tns:findBruksenhetsnummerForBruksenheterResponse" name="parameters"/>
  </message>
  <message name="findOffisielleAdresserForBruksenheter">
    <part element="tns:findOffisielleAdresserForBruksenheter" name="parameters"/>
  </message>
  <message name="findOffisielleAdresserForBruksenheterResponse">
    <part element="tns:findOffisielleAdresserForBruksenheterResponse" name="parameters"/>
  </message>
  <message name="findOffisiellAdresseForBruksenhet">
    <part element="tns:findOffisiellAdresseForBruksenhet" name="parameters"/>
  </message>
  <message name="findOffisiellAdresseForBruksenhetResponse">
    <part element="tns:findOffisiellAdresseForBruksenhetResponse" name="parameters"/>
  </message>
  <message name="finnesAnnenBruksenhetMedSammeIdent">
    <part element="tns:finnesAnnenBruksenhetMedSammeIdent" name="parameters"/>
  </message>
  <message name="finnesAnnenBruksenhetMedSammeIdentResponse">
    <part element="tns:finnesAnnenBruksenhetMedSammeIdentResponse" name="parameters"/>
  </message>
  <portType name="BruksenhetService">
    <operation name="findBruksenheterForAdresse">
      <input message="tns:findBruksenheterForAdresse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForAdresseRequest"/>
      <output message="tns:findBruksenheterForAdresseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForAdresseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForAdresse/Fault/ServiceException"/>
    </operation>
    <operation name="findBruksenheterForMatrikkelenhet">
      <input message="tns:findBruksenheterForMatrikkelenhet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForMatrikkelenhetRequest"/>
      <output message="tns:findBruksenheterForMatrikkelenhetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForMatrikkelenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForMatrikkelenhet/Fault/ServiceException"/>
    </operation>
    <operation name="findBruksenheterForMatrikkelenheter">
      <input message="tns:findBruksenheterForMatrikkelenheter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForMatrikkelenheterRequest"/>
      <output message="tns:findBruksenheterForMatrikkelenheterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForMatrikkelenheterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForMatrikkelenheter/Fault/ServiceException"/>
    </operation>
    <operation name="findBruksenheterForBygg">
      <input message="tns:findBruksenheterForBygg" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForByggRequest"/>
      <output message="tns:findBruksenheterForByggResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForByggResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForBygg/Fault/ServiceException"/>
    </operation>
    <operation name="findBruksenheterForByggList">
      <input message="tns:findBruksenheterForByggList" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForByggListRequest"/>
      <output message="tns:findBruksenheterForByggListResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForByggListResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForByggList/Fault/ServiceException"/>
    </operation>
    <operation name="findBoligerForAdresser">
      <input message="tns:findBoligerForAdresser" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBoligerForAdresserRequest"/>
      <output message="tns:findBoligerForAdresserResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBoligerForAdresserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBoligerForAdresser/Fault/ServiceException"/>
    </operation>
    <operation name="findBoligerForMatrikkelenhet">
      <input message="tns:findBoligerForMatrikkelenhet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBoligerForMatrikkelenhetRequest"/>
      <output message="tns:findBoligerForMatrikkelenhetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBoligerForMatrikkelenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBoligerForMatrikkelenhet/Fault/ServiceException"/>
    </operation>
    <operation name="findBoligerForMatrikkelenheter">
      <input message="tns:findBoligerForMatrikkelenheter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBoligerForMatrikkelenheterRequest"/>
      <output message="tns:findBoligerForMatrikkelenheterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBoligerForMatrikkelenheterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBoligerForMatrikkelenheter/Fault/ServiceException"/>
    </operation>
    <operation name="findBruksenheterForVegadresse">
      <input message="tns:findBruksenheterForVegadresse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForVegadresseRequest"/>
      <output message="tns:findBruksenheterForVegadresseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForVegadresseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForVegadresse/Fault/ServiceException"/>
    </operation>
    <operation name="findBruksenheterForVegadresseIKommune">
      <input message="tns:findBruksenheterForVegadresseIKommune" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForVegadresseIKommuneRequest"/>
      <output message="tns:findBruksenheterForVegadresseIKommuneResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForVegadresseIKommuneResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForVegadresseIKommune/Fault/ServiceException"/>
    </operation>
    <operation name="findBruksenheterForAdresser">
      <input message="tns:findBruksenheterForAdresser" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForAdresserRequest"/>
      <output message="tns:findBruksenheterForAdresserResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForAdresserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForAdresser/Fault/ServiceException"/>
    </operation>
    <operation name="findBruksenheterForMatrikkeladresse">
      <input message="tns:findBruksenheterForMatrikkeladresse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForMatrikkeladresseRequest"/>
      <output message="tns:findBruksenheterForMatrikkeladresseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForMatrikkeladresseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenheterForMatrikkeladresse/Fault/ServiceException"/>
    </operation>
    <operation name="findBruksenhetsnummerForBruksenheter">
      <input message="tns:findBruksenhetsnummerForBruksenheter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenhetsnummerForBruksenheterRequest"/>
      <output message="tns:findBruksenhetsnummerForBruksenheterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenhetsnummerForBruksenheterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findBruksenhetsnummerForBruksenheter/Fault/ServiceException"/>
    </operation>
    <operation name="findOffisielleAdresserForBruksenheter">
      <input message="tns:findOffisielleAdresserForBruksenheter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findOffisielleAdresserForBruksenheterRequest"/>
      <output message="tns:findOffisielleAdresserForBruksenheterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findOffisielleAdresserForBruksenheterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findOffisielleAdresserForBruksenheter/Fault/ServiceException"/>
    </operation>
    <operation name="findOffisiellAdresseForBruksenhet">
      <input message="tns:findOffisiellAdresseForBruksenhet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findOffisiellAdresseForBruksenhetRequest"/>
      <output message="tns:findOffisiellAdresseForBruksenhetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findOffisiellAdresseForBruksenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/findOffisiellAdresseForBruksenhet/Fault/ServiceException"/>
    </operation>
    <operation name="finnesAnnenBruksenhetMedSammeIdent">
      <input message="tns:finnesAnnenBruksenhetMedSammeIdent" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/finnesAnnenBruksenhetMedSammeIdentRequest"/>
      <output message="tns:finnesAnnenBruksenhetMedSammeIdentResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/finnesAnnenBruksenhetMedSammeIdentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BruksenhetService/finnesAnnenBruksenhetMedSammeIdent/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="BruksenhetServicePortBinding" type="tns:BruksenhetService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findBruksenheterForAdresse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBruksenheterForMatrikkelenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBruksenheterForMatrikkelenheter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBruksenheterForBygg">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBruksenheterForByggList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBoligerForAdresser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBoligerForMatrikkelenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBoligerForMatrikkelenheter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBruksenheterForVegadresse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBruksenheterForVegadresseIKommune">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBruksenheterForAdresser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBruksenheterForMatrikkeladresse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBruksenhetsnummerForBruksenheter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findOffisielleAdresserForBruksenheter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findOffisiellAdresseForBruksenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="finnesAnnenBruksenhetMedSammeIdent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="BruksenhetServiceWS">
    <port binding="tns:BruksenhetServicePortBinding" name="BruksenhetServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>