lib/WSDLClient/wsdl/BrukerAdminServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BrukerAdminServiceWS" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/adresse/servicetyper" schemaLocation="adresseService.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin" schemaLocation="BrukerAdminServiceWS_schema2.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="util.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="sefrakKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="sefrak.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="rapportKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="personKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="metadata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="matrikkelenhetKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="kulturminneKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="kulturminne.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="konsesjonKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="konsesjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="kommunetilleggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="kommunetillegg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="jobbKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="jobb.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="grunnforurensingKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="grunnforurensing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="forretning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="endringsloggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="elektronisktinglysing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="bygningKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="brukerKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="aktivitetslisteKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="aktivitetsliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="isAktiveringEnabled">
    <part element="tns:isAktiveringEnabled" name="parameters"/>
  </message>
  <message name="isAktiveringEnabledResponse">
    <part element="tns:isAktiveringEnabledResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findBrukAvKommuneliste">
    <part element="tns:findBrukAvKommuneliste" name="parameters"/>
  </message>
  <message name="findBrukAvKommunelisteResponse">
    <part element="tns:findBrukAvKommunelisteResponse" name="parameters"/>
  </message>
  <message name="findAdressemerkeBestillingerForProduksjon">
    <part element="tns:findAdressemerkeBestillingerForProduksjon" name="parameters"/>
  </message>
  <message name="findAdressemerkeBestillingerForProduksjonResponse">
    <part element="tns:findAdressemerkeBestillingerForProduksjonResponse" name="parameters"/>
  </message>
  <message name="findBrukerRettigheterForBruker">
    <part element="tns:findBrukerRettigheterForBruker" name="parameters"/>
  </message>
  <message name="findBrukerRettigheterForBrukerResponse">
    <part element="tns:findBrukerRettigheterForBrukerResponse" name="parameters"/>
  </message>
  <message name="findBrukerHistorikkerForBruker">
    <part element="tns:findBrukerHistorikkerForBruker" name="parameters"/>
  </message>
  <message name="findBrukerHistorikkerForBrukerResponse">
    <part element="tns:findBrukerHistorikkerForBrukerResponse" name="parameters"/>
  </message>
  <message name="findBruker">
    <part element="tns:findBruker" name="parameters"/>
  </message>
  <message name="findBrukerResponse">
    <part element="tns:findBrukerResponse" name="parameters"/>
  </message>
  <message name="getAktiveringsdata">
    <part element="tns:getAktiveringsdata" name="parameters"/>
  </message>
  <message name="getAktiveringsdataResponse">
    <part element="tns:getAktiveringsdataResponse" name="parameters"/>
  </message>
  <message name="findBaatBrukere">
    <part element="tns:findBaatBrukere" name="parameters"/>
  </message>
  <message name="findBaatBrukereResponse">
    <part element="tns:findBaatBrukereResponse" name="parameters"/>
  </message>
  <message name="findNdBrukere">
    <part element="tns:findNdBrukere" name="parameters"/>
  </message>
  <message name="findNdBrukereResponse">
    <part element="tns:findNdBrukereResponse" name="parameters"/>
  </message>
  <message name="existsKurs">
    <part element="tns:existsKurs" name="parameters"/>
  </message>
  <message name="existsKursResponse">
    <part element="tns:existsKursResponse" name="parameters"/>
  </message>
  <message name="findKurs">
    <part element="tns:findKurs" name="parameters"/>
  </message>
  <message name="findKursResponse">
    <part element="tns:findKursResponse" name="parameters"/>
  </message>
  <message name="findKursForBruker">
    <part element="tns:findKursForBruker" name="parameters"/>
  </message>
  <message name="findKursForBrukerResponse">
    <part element="tns:findKursForBrukerResponse" name="parameters"/>
  </message>
  <message name="findBrukere">
    <part element="tns:findBrukere" name="parameters"/>
  </message>
  <message name="findBrukereResponse">
    <part element="tns:findBrukereResponse" name="parameters"/>
  </message>
  <portType name="BrukerAdminService">
    <operation name="isAktiveringEnabled">
      <input message="tns:isAktiveringEnabled" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/isAktiveringEnabledRequest"/>
      <output message="tns:isAktiveringEnabledResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/isAktiveringEnabledResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/isAktiveringEnabled/Fault/ServiceException"/>
    </operation>
    <operation name="findBrukAvKommuneliste">
      <input message="tns:findBrukAvKommuneliste" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findBrukAvKommunelisteRequest"/>
      <output message="tns:findBrukAvKommunelisteResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findBrukAvKommunelisteResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findBrukAvKommuneliste/Fault/ServiceException"/>
    </operation>
    <operation name="findAdressemerkeBestillingerForProduksjon">
      <input message="tns:findAdressemerkeBestillingerForProduksjon" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findAdressemerkeBestillingerForProduksjonRequest"/>
      <output message="tns:findAdressemerkeBestillingerForProduksjonResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findAdressemerkeBestillingerForProduksjonResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findAdressemerkeBestillingerForProduksjon/Fault/ServiceException"/>
    </operation>
    <operation name="findBrukerRettigheterForBruker">
      <input message="tns:findBrukerRettigheterForBruker" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findBrukerRettigheterForBrukerRequest"/>
      <output message="tns:findBrukerRettigheterForBrukerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findBrukerRettigheterForBrukerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findBrukerRettigheterForBruker/Fault/ServiceException"/>
    </operation>
    <operation name="findBrukerHistorikkerForBruker">
      <input message="tns:findBrukerHistorikkerForBruker" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findBrukerHistorikkerForBrukerRequest"/>
      <output message="tns:findBrukerHistorikkerForBrukerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findBrukerHistorikkerForBrukerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findBrukerHistorikkerForBruker/Fault/ServiceException"/>
    </operation>
    <operation name="findBruker">
      <input message="tns:findBruker" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findBrukerRequest"/>
      <output message="tns:findBrukerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findBrukerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findBruker/Fault/ServiceException"/>
    </operation>
    <operation name="getAktiveringsdata">
      <input message="tns:getAktiveringsdata" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/getAktiveringsdataRequest"/>
      <output message="tns:getAktiveringsdataResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/getAktiveringsdataResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/getAktiveringsdata/Fault/ServiceException"/>
    </operation>
    <operation name="findBaatBrukere">
      <input message="tns:findBaatBrukere" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findBaatBrukereRequest"/>
      <output message="tns:findBaatBrukereResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findBaatBrukereResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findBaatBrukere/Fault/ServiceException"/>
    </operation>
    <operation name="findNdBrukere">
      <input message="tns:findNdBrukere" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findNdBrukereRequest"/>
      <output message="tns:findNdBrukereResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findNdBrukereResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findNdBrukere/Fault/ServiceException"/>
    </operation>
    <operation name="existsKurs">
      <input message="tns:existsKurs" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/existsKursRequest"/>
      <output message="tns:existsKursResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/existsKursResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/existsKurs/Fault/ServiceException"/>
    </operation>
    <operation name="findKurs">
      <input message="tns:findKurs" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findKursRequest"/>
      <output message="tns:findKursResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findKursResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findKurs/Fault/ServiceException"/>
    </operation>
    <operation name="findKursForBruker">
      <input message="tns:findKursForBruker" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findKursForBrukerRequest"/>
      <output message="tns:findKursForBrukerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findKursForBrukerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findKursForBruker/Fault/ServiceException"/>
    </operation>
    <operation name="findBrukere">
      <input message="tns:findBrukere" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findBrukereRequest"/>
      <output message="tns:findBrukereResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findBrukereResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/admin/BrukerAdminService/findBrukere/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="BrukerAdminServicePortBinding" type="tns:BrukerAdminService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="isAktiveringEnabled">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBrukAvKommuneliste">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAdressemerkeBestillingerForProduksjon">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBrukerRettigheterForBruker">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBrukerHistorikkerForBruker">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBruker">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAktiveringsdata">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBaatBrukere">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findNdBrukere">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="existsKurs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findKurs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findKursForBruker">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBrukere">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="BrukerAdminServiceWS">
    <port binding="tns:BrukerAdminServicePortBinding" name="BrukerAdminServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>