lib/WSDLClient/wsdl/BruksenhetServiceWS_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" xmlns:ns2="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" xmlns:ns3="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" xmlns:ns4="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" xmlns:ns5="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" xmlns:ns6="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning" elementFormDefault="qualified" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning" version="1.0">

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="bygningKoder.xsd"/>

  <xs:element name="findBoligerForAdresser" type="tns:findBoligerForAdresser"/>

  <xs:element name="findBoligerForAdresserResponse" type="tns:findBoligerForAdresserResponse"/>

  <xs:element name="findBoligerForMatrikkelenhet" type="tns:findBoligerForMatrikkelenhet"/>

  <xs:element name="findBoligerForMatrikkelenhetResponse" type="tns:findBoligerForMatrikkelenhetResponse"/>

  <xs:element name="findBoligerForMatrikkelenheter" type="tns:findBoligerForMatrikkelenheter"/>

  <xs:element name="findBoligerForMatrikkelenheterResponse" type="tns:findBoligerForMatrikkelenheterResponse"/>

  <xs:element name="findBruksenheterForAdresse" type="tns:findBruksenheterForAdresse"/>

  <xs:element name="findBruksenheterForAdresseResponse" type="tns:findBruksenheterForAdresseResponse"/>

  <xs:element name="findBruksenheterForAdresser" type="tns:findBruksenheterForAdresser"/>

  <xs:element name="findBruksenheterForAdresserResponse" type="tns:findBruksenheterForAdresserResponse"/>

  <xs:element name="findBruksenheterForBygg" type="tns:findBruksenheterForBygg"/>

  <xs:element name="findBruksenheterForByggList" type="tns:findBruksenheterForByggList"/>

  <xs:element name="findBruksenheterForByggListResponse" type="tns:findBruksenheterForByggListResponse"/>

  <xs:element name="findBruksenheterForByggResponse" type="tns:findBruksenheterForByggResponse"/>

  <xs:element name="findBruksenheterForMatrikkeladresse" type="tns:findBruksenheterForMatrikkeladresse"/>

  <xs:element name="findBruksenheterForMatrikkeladresseResponse" type="tns:findBruksenheterForMatrikkeladresseResponse"/>

  <xs:element name="findBruksenheterForMatrikkelenhet" type="tns:findBruksenheterForMatrikkelenhet"/>

  <xs:element name="findBruksenheterForMatrikkelenhetResponse" type="tns:findBruksenheterForMatrikkelenhetResponse"/>

  <xs:element name="findBruksenheterForMatrikkelenheter" type="tns:findBruksenheterForMatrikkelenheter"/>

  <xs:element name="findBruksenheterForMatrikkelenheterResponse" type="tns:findBruksenheterForMatrikkelenheterResponse"/>

  <xs:element name="findBruksenheterForVegadresse" type="tns:findBruksenheterForVegadresse"/>

  <xs:element name="findBruksenheterForVegadresseIKommune" type="tns:findBruksenheterForVegadresseIKommune"/>

  <xs:element name="findBruksenheterForVegadresseIKommuneResponse" type="tns:findBruksenheterForVegadresseIKommuneResponse"/>

  <xs:element name="findBruksenheterForVegadresseResponse" type="tns:findBruksenheterForVegadresseResponse"/>

  <xs:element name="findBruksenhetsnummerForBruksenheter" type="tns:findBruksenhetsnummerForBruksenheter"/>

  <xs:element name="findBruksenhetsnummerForBruksenheterResponse" type="tns:findBruksenhetsnummerForBruksenheterResponse"/>

  <xs:element name="findOffisiellAdresseForBruksenhet" type="tns:findOffisiellAdresseForBruksenhet"/>

  <xs:element name="findOffisiellAdresseForBruksenhetResponse" type="tns:findOffisiellAdresseForBruksenhetResponse"/>

  <xs:element name="findOffisielleAdresserForBruksenheter" type="tns:findOffisielleAdresserForBruksenheter"/>

  <xs:element name="findOffisielleAdresserForBruksenheterResponse" type="tns:findOffisielleAdresserForBruksenheterResponse"/>

  <xs:element name="finnesAnnenBruksenhetMedSammeIdent" type="tns:finnesAnnenBruksenhetMedSammeIdent"/>

  <xs:element name="finnesAnnenBruksenhetMedSammeIdentResponse" type="tns:finnesAnnenBruksenhetMedSammeIdentResponse"/>

  <xs:complexType name="findBoligerForMatrikkelenheter">
    <xs:sequence>
      <xs:element name="matrikkelenhetIds" type="ns1:MatrikkelenhetIdList"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBoligerForMatrikkelenheterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:BruksenhetIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenheterForBygg">
    <xs:sequence>
      <xs:element name="byggId" type="ns4:ByggId"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenheterForByggResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:BruksenhetIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenheterForMatrikkelenhet">
    <xs:sequence>
      <xs:element name="matrikkelenhetId" type="ns1:MatrikkelenhetId"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenheterForMatrikkelenhetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:BruksenhetIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenheterForMatrikkeladresse">
    <xs:sequence>
      <xs:element name="kommunenummer" type="xs:string"/>
      <xs:element name="gardsnummer" type="xs:int"/>
      <xs:element name="bruksnummer" type="xs:int"/>
      <xs:element name="festenummer" type="xs:int"/>
      <xs:element name="lopenummer" type="xs:int"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenheterForMatrikkeladresseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:BruksenhetIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenhetsnummerForBruksenheter">
    <xs:sequence>
      <xs:element name="bruksenhetIds" type="ns4:BruksenhetIdList"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenhetsnummerForBruksenheterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:BruksenhetIdTilStringMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findOffisiellAdresseForBruksenhet">
    <xs:sequence>
      <xs:element name="bruksenhetId" type="ns4:BruksenhetId"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findOffisiellAdresseForBruksenhetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBoligerForMatrikkelenhet">
    <xs:sequence>
      <xs:element name="matrikkelenhetId" type="ns1:MatrikkelenhetId"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBoligerForMatrikkelenhetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:BruksenhetIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenheterForVegadresse">
    <xs:sequence>
      <xs:element name="adressenavn" type="xs:string"/>
      <xs:element name="husnummer" type="xs:int"/>
      <xs:element name="bokstav" nillable="true" type="xs:string"/>
      <xs:element name="postnummer" type="xs:int"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenheterForVegadresseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:BruksenhetIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenheterForVegadresseIKommune">
    <xs:sequence>
      <xs:element name="adressekode" type="xs:int"/>
      <xs:element name="husnummer" type="xs:int"/>
      <xs:element name="bokstav" nillable="true" type="xs:string"/>
      <xs:element name="kommunenummer" type="xs:string"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenheterForVegadresseIKommuneResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:BruksenhetIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenheterForMatrikkelenheter">
    <xs:sequence>
      <xs:element name="matrikkelenhetIds" type="ns1:MatrikkelenhetIdList"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenheterForMatrikkelenheterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:MatrikkelenhetIdTilBruksenhetIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenheterForAdresse">
    <xs:sequence>
      <xs:element name="adresseId" type="ns5:AdresseId"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenheterForAdresseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:BruksenhetIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="finnesAnnenBruksenhetMedSammeIdent">
    <xs:sequence>
      <xs:element name="adresseId" nillable="true" type="ns5:AdresseId"/>
      <xs:element name="etasjeplanKodeId" type="ns6:EtasjeplanKodeId"/>
      <xs:element name="etasjenr" type="xs:int"/>
      <xs:element name="lopenr" type="xs:int"/>
      <xs:element name="bruksenhetId" nillable="true" type="ns4:BruksenhetId"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="finnesAnnenBruksenhetMedSammeIdentResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findOffisielleAdresserForBruksenheter">
    <xs:sequence>
      <xs:element name="bruksenhetIds" type="ns4:BruksenhetIdList"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findOffisielleAdresserForBruksenheterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:BruksenhetIdTilStringMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBoligerForAdresser">
    <xs:sequence>
      <xs:element name="adresseIds" type="ns5:AdresseIdList"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBoligerForAdresserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:BruksenhetIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenheterForAdresser">
    <xs:sequence>
      <xs:element name="adresseIds" type="ns5:AdresseIdList"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenheterForAdresserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:AdresseIdTilBruksenhetIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenheterForByggList">
    <xs:sequence>
      <xs:element name="byggIds" type="ns4:ByggIdList"/>
      <xs:element name="matrikkelContext" type="ns3:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findBruksenheterForByggListResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns4:ByggIdTilBruksenhetIdsMap"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>