lib/WSDLClient/wsdl/BrukerServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BrukerServiceWS" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker" schemaLocation="BrukerServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="util.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="sefrakKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="sefrak.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="rapportKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="personKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="metadata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="matrikkelenhetKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="kulturminneKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="kulturminne.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="konsesjonKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="konsesjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="kommunetilleggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="kommunetillegg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="jobbKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="jobb.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="grunnforurensingKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="grunnforurensing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="forretning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="endringsloggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="elektronisktinglysing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/configuration" schemaLocation="configuration.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="bygningKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="brukerKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="aktivitetslisteKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="aktivitetsliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findBrukerIdForIdent">
    <part element="tns:findBrukerIdForIdent" name="parameters"/>
  </message>
  <message name="findBrukerIdForIdentResponse">
    <part element="tns:findBrukerIdForIdentResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findBrukerIdsForIdents">
    <part element="tns:findBrukerIdsForIdents" name="parameters"/>
  </message>
  <message name="findBrukerIdsForIdentsResponse">
    <part element="tns:findBrukerIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="harLesEierforholdRettighet">
    <part element="tns:harLesEierforholdRettighet" name="parameters"/>
  </message>
  <message name="harLesEierforholdRettighetResponse">
    <part element="tns:harLesEierforholdRettighetResponse" name="parameters"/>
  </message>
  <message name="harTaUtRapporterRettighet">
    <part element="tns:harTaUtRapporterRettighet" name="parameters"/>
  </message>
  <message name="harTaUtRapporterRettighetResponse">
    <part element="tns:harTaUtRapporterRettighetResponse" name="parameters"/>
  </message>
  <message name="harGrunnbokinformasjonRettighet">
    <part element="tns:harGrunnbokinformasjonRettighet" name="parameters"/>
  </message>
  <message name="harGrunnbokinformasjonRettighetResponse">
    <part element="tns:harGrunnbokinformasjonRettighetResponse" name="parameters"/>
  </message>
  <message name="harMatrikkelforerRettighet">
    <part element="tns:harMatrikkelforerRettighet" name="parameters"/>
  </message>
  <message name="harMatrikkelforerRettighetResponse">
    <part element="tns:harMatrikkelforerRettighetResponse" name="parameters"/>
  </message>
  <message name="harLesFodselsnummerRettighet">
    <part element="tns:harLesFodselsnummerRettighet" name="parameters"/>
  </message>
  <message name="harLesFodselsnummerRettighetResponse">
    <part element="tns:harLesFodselsnummerRettighetResponse" name="parameters"/>
  </message>
  <message name="harLesKommunaleTilleggsdataRettighet">
    <part element="tns:harLesKommunaleTilleggsdataRettighet" name="parameters"/>
  </message>
  <message name="harLesKommunaleTilleggsdataRettighetResponse">
    <part element="tns:harLesKommunaleTilleggsdataRettighetResponse" name="parameters"/>
  </message>
  <message name="getPaloggetBruker">
    <part element="tns:getPaloggetBruker" name="parameters"/>
  </message>
  <message name="getPaloggetBrukerResponse">
    <part element="tns:getPaloggetBrukerResponse" name="parameters"/>
  </message>
  <message name="findBrukerRettigheterForPaaloggetBruker">
    <part element="tns:findBrukerRettigheterForPaaloggetBruker" name="parameters"/>
  </message>
  <message name="findBrukerRettigheterForPaaloggetBrukerResponse">
    <part element="tns:findBrukerRettigheterForPaaloggetBrukerResponse" name="parameters"/>
  </message>
  <message name="getMatrikkelServerKonfigurasjon">
    <part element="tns:getMatrikkelServerKonfigurasjon" name="parameters"/>
  </message>
  <message name="getMatrikkelServerKonfigurasjonResponse">
    <part element="tns:getMatrikkelServerKonfigurasjonResponse" name="parameters"/>
  </message>
  <message name="transformPoint">
    <part element="tns:transformPoint" name="parameters"/>
  </message>
  <message name="transformPointResponse">
    <part element="tns:transformPointResponse" name="parameters"/>
  </message>
  <message name="getMatrikkelTimeZoneId">
    <part element="tns:getMatrikkelTimeZoneId" name="parameters"/>
  </message>
  <message name="getMatrikkelTimeZoneIdResponse">
    <part element="tns:getMatrikkelTimeZoneIdResponse" name="parameters"/>
  </message>
  <message name="findAlleKommunelister">
    <part element="tns:findAlleKommunelister" name="parameters"/>
  </message>
  <message name="findAlleKommunelisterResponse">
    <part element="tns:findAlleKommunelisterResponse" name="parameters"/>
  </message>
  <portType name="BrukerService">
    <operation name="findBrukerIdForIdent">
      <input message="tns:findBrukerIdForIdent" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/findBrukerIdForIdentRequest"/>
      <output message="tns:findBrukerIdForIdentResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/findBrukerIdForIdentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/findBrukerIdForIdent/Fault/ServiceException"/>
    </operation>
    <operation name="findBrukerIdsForIdents">
      <input message="tns:findBrukerIdsForIdents" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/findBrukerIdsForIdentsRequest"/>
      <output message="tns:findBrukerIdsForIdentsResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/findBrukerIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/findBrukerIdsForIdents/Fault/ServiceException"/>
    </operation>
    <operation name="harLesEierforholdRettighet">
      <input message="tns:harLesEierforholdRettighet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/harLesEierforholdRettighetRequest"/>
      <output message="tns:harLesEierforholdRettighetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/harLesEierforholdRettighetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/harLesEierforholdRettighet/Fault/ServiceException"/>
    </operation>
    <operation name="harTaUtRapporterRettighet">
      <input message="tns:harTaUtRapporterRettighet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/harTaUtRapporterRettighetRequest"/>
      <output message="tns:harTaUtRapporterRettighetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/harTaUtRapporterRettighetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/harTaUtRapporterRettighet/Fault/ServiceException"/>
    </operation>
    <operation name="harGrunnbokinformasjonRettighet">
      <input message="tns:harGrunnbokinformasjonRettighet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/harGrunnbokinformasjonRettighetRequest"/>
      <output message="tns:harGrunnbokinformasjonRettighetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/harGrunnbokinformasjonRettighetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/harGrunnbokinformasjonRettighet/Fault/ServiceException"/>
    </operation>
    <operation name="harMatrikkelforerRettighet">
      <input message="tns:harMatrikkelforerRettighet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/harMatrikkelforerRettighetRequest"/>
      <output message="tns:harMatrikkelforerRettighetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/harMatrikkelforerRettighetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/harMatrikkelforerRettighet/Fault/ServiceException"/>
    </operation>
    <operation name="harLesFodselsnummerRettighet">
      <input message="tns:harLesFodselsnummerRettighet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/harLesFodselsnummerRettighetRequest"/>
      <output message="tns:harLesFodselsnummerRettighetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/harLesFodselsnummerRettighetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/harLesFodselsnummerRettighet/Fault/ServiceException"/>
    </operation>
    <operation name="harLesKommunaleTilleggsdataRettighet">
      <input message="tns:harLesKommunaleTilleggsdataRettighet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/harLesKommunaleTilleggsdataRettighetRequest"/>
      <output message="tns:harLesKommunaleTilleggsdataRettighetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/harLesKommunaleTilleggsdataRettighetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/harLesKommunaleTilleggsdataRettighet/Fault/ServiceException"/>
    </operation>
    <operation name="getPaloggetBruker">
      <input message="tns:getPaloggetBruker" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/getPaloggetBrukerRequest"/>
      <output message="tns:getPaloggetBrukerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/getPaloggetBrukerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/getPaloggetBruker/Fault/ServiceException"/>
    </operation>
    <operation name="findBrukerRettigheterForPaaloggetBruker">
      <input message="tns:findBrukerRettigheterForPaaloggetBruker" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/findBrukerRettigheterForPaaloggetBrukerRequest"/>
      <output message="tns:findBrukerRettigheterForPaaloggetBrukerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/findBrukerRettigheterForPaaloggetBrukerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/findBrukerRettigheterForPaaloggetBruker/Fault/ServiceException"/>
    </operation>
    <operation name="getMatrikkelServerKonfigurasjon">
      <input message="tns:getMatrikkelServerKonfigurasjon" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/getMatrikkelServerKonfigurasjonRequest"/>
      <output message="tns:getMatrikkelServerKonfigurasjonResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/getMatrikkelServerKonfigurasjonResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/getMatrikkelServerKonfigurasjon/Fault/ServiceException"/>
    </operation>
    <operation name="transformPoint">
      <input message="tns:transformPoint" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/transformPointRequest"/>
      <output message="tns:transformPointResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/transformPointResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/transformPoint/Fault/ServiceException"/>
    </operation>
    <operation name="getMatrikkelTimeZoneId">
      <input message="tns:getMatrikkelTimeZoneId" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/getMatrikkelTimeZoneIdRequest"/>
      <output message="tns:getMatrikkelTimeZoneIdResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/getMatrikkelTimeZoneIdResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/getMatrikkelTimeZoneId/Fault/ServiceException"/>
    </operation>
    <operation name="findAlleKommunelister">
      <input message="tns:findAlleKommunelister" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/findAlleKommunelisterRequest"/>
      <output message="tns:findAlleKommunelisterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/findAlleKommunelisterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bruker/BrukerService/findAlleKommunelister/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="BrukerServicePortBinding" type="tns:BrukerService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findBrukerIdForIdent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBrukerIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="harLesEierforholdRettighet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="harTaUtRapporterRettighet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="harGrunnbokinformasjonRettighet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="harMatrikkelforerRettighet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="harLesFodselsnummerRettighet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="harLesKommunaleTilleggsdataRettighet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getPaloggetBruker">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBrukerRettigheterForPaaloggetBruker">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getMatrikkelServerKonfigurasjon">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="transformPoint">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getMatrikkelTimeZoneId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAlleKommunelister">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="BrukerServiceWS">
    <port binding="tns:BrukerServicePortBinding" name="BrukerServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>