lib/WSDLClient/wsdl/BygningServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BygningServiceWS" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning" schemaLocation="BygningServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="util.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="sefrakKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="sefrak.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="rapportKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="personKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="metadata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="matrikkelenhetKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="kulturminneKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="kulturminne.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="konsesjonKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="konsesjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="kommunetilleggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="kommunetillegg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="jobbKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="jobb.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="grunnforurensingKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="grunnforurensing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="forretning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="endringsloggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="elektronisktinglysing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="bygningKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="brukerKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="aktivitetslisteKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="aktivitetsliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findByggEnkel">
    <part element="tns:findByggEnkel" name="parameters"/>
  </message>
  <message name="findByggEnkelResponse">
    <part element="tns:findByggEnkelResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findAlleBygningstypeKoder">
    <part element="tns:findAlleBygningstypeKoder" name="parameters"/>
  </message>
  <message name="findAlleBygningstypeKoderResponse">
    <part element="tns:findAlleBygningstypeKoderResponse" name="parameters"/>
  </message>
  <message name="findByggForKommune">
    <part element="tns:findByggForKommune" name="parameters"/>
  </message>
  <message name="findByggForKommuneResponse">
    <part element="tns:findByggForKommuneResponse" name="parameters"/>
  </message>
  <message name="findByggIdForIdent">
    <part element="tns:findByggIdForIdent" name="parameters"/>
  </message>
  <message name="findByggIdForIdentResponse">
    <part element="tns:findByggIdForIdentResponse" name="parameters"/>
  </message>
  <message name="findByggIdsForIdents">
    <part element="tns:findByggIdsForIdents" name="parameters"/>
  </message>
  <message name="findByggIdsForIdentsResponse">
    <part element="tns:findByggIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findByggForMatrikkelenhet">
    <part element="tns:findByggForMatrikkelenhet" name="parameters"/>
  </message>
  <message name="findByggForMatrikkelenhetResponse">
    <part element="tns:findByggForMatrikkelenhetResponse" name="parameters"/>
  </message>
  <message name="findByggForMatrikkelenheter">
    <part element="tns:findByggForMatrikkelenheter" name="parameters"/>
  </message>
  <message name="findByggForMatrikkelenheterResponse">
    <part element="tns:findByggForMatrikkelenheterResponse" name="parameters"/>
  </message>
  <message name="findByggForAdresse">
    <part element="tns:findByggForAdresse" name="parameters"/>
  </message>
  <message name="findByggForAdresseResponse">
    <part element="tns:findByggForAdresseResponse" name="parameters"/>
  </message>
  <message name="findByggForAdresser">
    <part element="tns:findByggForAdresser" name="parameters"/>
  </message>
  <message name="findByggForAdresserResponse">
    <part element="tns:findByggForAdresserResponse" name="parameters"/>
  </message>
  <message name="findBygg">
    <part element="tns:findBygg" name="parameters"/>
  </message>
  <message name="findByggResponse">
    <part element="tns:findByggResponse" name="parameters"/>
  </message>
  <message name="findBygning">
    <part element="tns:findBygning" name="parameters"/>
  </message>
  <message name="findBygningResponse">
    <part element="tns:findBygningResponse" name="parameters"/>
  </message>
  <message name="existsAktivBruksenhetForMatrikkelenhet">
    <part element="tns:existsAktivBruksenhetForMatrikkelenhet" name="parameters"/>
  </message>
  <message name="existsAktivBruksenhetForMatrikkelenhetResponse">
    <part element="tns:existsAktivBruksenhetForMatrikkelenhetResponse" name="parameters"/>
  </message>
  <message name="findBygningInfoObjekter">
    <part element="tns:findBygningInfoObjekter" name="parameters"/>
  </message>
  <message name="findBygningInfoObjekterResponse">
    <part element="tns:findBygningInfoObjekterResponse" name="parameters"/>
  </message>
  <message name="findBygningsendring">
    <part element="tns:findBygningsendring" name="parameters"/>
  </message>
  <message name="findBygningsendringResponse">
    <part element="tns:findBygningsendringResponse" name="parameters"/>
  </message>
  <message name="findBygningsendringerForBygning">
    <part element="tns:findBygningsendringerForBygning" name="parameters"/>
  </message>
  <message name="findBygningsendringerForBygningResponse">
    <part element="tns:findBygningsendringerForBygningResponse" name="parameters"/>
  </message>
  <message name="findObjekterForBygg">
    <part element="tns:findObjekterForBygg" name="parameters"/>
  </message>
  <message name="findObjekterForByggResponse">
    <part element="tns:findObjekterForByggResponse" name="parameters"/>
  </message>
  <message name="findAntallBygningsendringer">
    <part element="tns:findAntallBygningsendringer" name="parameters"/>
  </message>
  <message name="findAntallBygningsendringerResponse">
    <part element="tns:findAntallBygningsendringerResponse" name="parameters"/>
  </message>
  <message name="findByggForSelectionPolygon">
    <part element="tns:findByggForSelectionPolygon" name="parameters"/>
  </message>
  <message name="findByggForSelectionPolygonResponse">
    <part element="tns:findByggForSelectionPolygonResponse" name="parameters"/>
  </message>
  <message name="findBygningFlyttet">
    <part element="tns:findBygningFlyttet" name="parameters"/>
  </message>
  <message name="findBygningFlyttetResponse">
    <part element="tns:findBygningFlyttetResponse" name="parameters"/>
  </message>
  <message name="finnesAnnenBygningMedSammeIdent">
    <part element="tns:finnesAnnenBygningMedSammeIdent" name="parameters"/>
  </message>
  <message name="finnesAnnenBygningMedSammeIdentResponse">
    <part element="tns:finnesAnnenBygningMedSammeIdentResponse" name="parameters"/>
  </message>
  <message name="finnesAnnenBygningsendringMedSammeIdent">
    <part element="tns:finnesAnnenBygningsendringMedSammeIdent" name="parameters"/>
  </message>
  <message name="finnesAnnenBygningsendringMedSammeIdentResponse">
    <part element="tns:finnesAnnenBygningsendringMedSammeIdentResponse" name="parameters"/>
  </message>
  <portType name="BygningService">
    <operation name="findByggEnkel">
      <input message="tns:findByggEnkel" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggEnkelRequest"/>
      <output message="tns:findByggEnkelResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggEnkelResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggEnkel/Fault/ServiceException"/>
    </operation>
    <operation name="findAlleBygningstypeKoder">
      <input message="tns:findAlleBygningstypeKoder" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findAlleBygningstypeKoderRequest"/>
      <output message="tns:findAlleBygningstypeKoderResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findAlleBygningstypeKoderResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findAlleBygningstypeKoder/Fault/ServiceException"/>
    </operation>
    <operation name="findByggForKommune">
      <input message="tns:findByggForKommune" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForKommuneRequest"/>
      <output message="tns:findByggForKommuneResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForKommuneResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForKommune/Fault/ServiceException"/>
    </operation>
    <operation name="findByggIdForIdent">
      <input message="tns:findByggIdForIdent" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggIdForIdentRequest"/>
      <output message="tns:findByggIdForIdentResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggIdForIdentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggIdForIdent/Fault/ServiceException"/>
    </operation>
    <operation name="findByggIdsForIdents">
      <input message="tns:findByggIdsForIdents" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggIdsForIdentsRequest"/>
      <output message="tns:findByggIdsForIdentsResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggIdsForIdents/Fault/ServiceException"/>
    </operation>
    <operation name="findByggForMatrikkelenhet">
      <input message="tns:findByggForMatrikkelenhet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForMatrikkelenhetRequest"/>
      <output message="tns:findByggForMatrikkelenhetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForMatrikkelenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForMatrikkelenhet/Fault/ServiceException"/>
    </operation>
    <operation name="findByggForMatrikkelenheter">
      <input message="tns:findByggForMatrikkelenheter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForMatrikkelenheterRequest"/>
      <output message="tns:findByggForMatrikkelenheterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForMatrikkelenheterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForMatrikkelenheter/Fault/ServiceException"/>
    </operation>
    <operation name="findByggForAdresse">
      <input message="tns:findByggForAdresse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForAdresseRequest"/>
      <output message="tns:findByggForAdresseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForAdresseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForAdresse/Fault/ServiceException"/>
    </operation>
    <operation name="findByggForAdresser">
      <input message="tns:findByggForAdresser" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForAdresserRequest"/>
      <output message="tns:findByggForAdresserResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForAdresserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForAdresser/Fault/ServiceException"/>
    </operation>
    <operation name="findBygg">
      <input message="tns:findBygg" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggRequest"/>
      <output message="tns:findByggResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygg/Fault/ServiceException"/>
    </operation>
    <operation name="findBygning">
      <input message="tns:findBygning" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningRequest"/>
      <output message="tns:findBygningResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygning/Fault/ServiceException"/>
    </operation>
    <operation name="existsAktivBruksenhetForMatrikkelenhet">
      <input message="tns:existsAktivBruksenhetForMatrikkelenhet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/existsAktivBruksenhetForMatrikkelenhetRequest"/>
      <output message="tns:existsAktivBruksenhetForMatrikkelenhetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/existsAktivBruksenhetForMatrikkelenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/existsAktivBruksenhetForMatrikkelenhet/Fault/ServiceException"/>
    </operation>
    <operation name="findBygningInfoObjekter">
      <input message="tns:findBygningInfoObjekter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningInfoObjekterRequest"/>
      <output message="tns:findBygningInfoObjekterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningInfoObjekterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningInfoObjekter/Fault/ServiceException"/>
    </operation>
    <operation name="findBygningsendring">
      <input message="tns:findBygningsendring" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningsendringRequest"/>
      <output message="tns:findBygningsendringResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningsendringResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningsendring/Fault/ServiceException"/>
    </operation>
    <operation name="findBygningsendringerForBygning">
      <input message="tns:findBygningsendringerForBygning" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningsendringerForBygningRequest"/>
      <output message="tns:findBygningsendringerForBygningResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningsendringerForBygningResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningsendringerForBygning/Fault/ServiceException"/>
    </operation>
    <operation name="findObjekterForBygg">
      <input message="tns:findObjekterForBygg" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findObjekterForByggRequest"/>
      <output message="tns:findObjekterForByggResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findObjekterForByggResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findObjekterForBygg/Fault/ServiceException"/>
    </operation>
    <operation name="findAntallBygningsendringer">
      <input message="tns:findAntallBygningsendringer" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findAntallBygningsendringerRequest"/>
      <output message="tns:findAntallBygningsendringerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findAntallBygningsendringerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findAntallBygningsendringer/Fault/ServiceException"/>
    </operation>
    <operation name="findByggForSelectionPolygon">
      <input message="tns:findByggForSelectionPolygon" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForSelectionPolygonRequest"/>
      <output message="tns:findByggForSelectionPolygonResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForSelectionPolygonResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findByggForSelectionPolygon/Fault/ServiceException"/>
    </operation>
    <operation name="findBygningFlyttet">
      <input message="tns:findBygningFlyttet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningFlyttetRequest"/>
      <output message="tns:findBygningFlyttetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningFlyttetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/findBygningFlyttet/Fault/ServiceException"/>
    </operation>
    <operation name="finnesAnnenBygningMedSammeIdent">
      <input message="tns:finnesAnnenBygningMedSammeIdent" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/finnesAnnenBygningMedSammeIdentRequest"/>
      <output message="tns:finnesAnnenBygningMedSammeIdentResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/finnesAnnenBygningMedSammeIdentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/finnesAnnenBygningMedSammeIdent/Fault/ServiceException"/>
    </operation>
    <operation name="finnesAnnenBygningsendringMedSammeIdent">
      <input message="tns:finnesAnnenBygningsendringMedSammeIdent" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/finnesAnnenBygningsendringMedSammeIdentRequest"/>
      <output message="tns:finnesAnnenBygningsendringMedSammeIdentResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/finnesAnnenBygningsendringMedSammeIdentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/BygningService/finnesAnnenBygningsendringMedSammeIdent/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="BygningServicePortBinding" type="tns:BygningService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findByggEnkel">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAlleBygningstypeKoder">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findByggForKommune">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findByggIdForIdent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findByggIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findByggForMatrikkelenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findByggForMatrikkelenheter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findByggForAdresse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findByggForAdresser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBygg">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBygning">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="existsAktivBruksenhetForMatrikkelenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBygningInfoObjekter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBygningsendring">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBygningsendringerForBygning">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findObjekterForBygg">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAntallBygningsendringer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findByggForSelectionPolygon">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findBygningFlyttet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="finnesAnnenBygningMedSammeIdent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="finnesAnnenBygningsendringMedSammeIdent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="BygningServiceWS">
    <port binding="tns:BygningServicePortBinding" name="BygningServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>