lib/WSDLClient/wsdl/bygningKoder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        version="1.0"
        targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder"
        xmlns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder"
        xmlns:kodens="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste"
        xmlns:basistyperns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain"
        xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:import schemaLocation="kodeliste.xsd"
               namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste"/>
    <xs:import schemaLocation="basistyper.xsd"
               namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain"/>


    <xs:complexType name="OppvarmingsKode">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKode"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OppvarmingsKodeId">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKodeId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OppvarmingsKodeIdList">
       <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="OppvarmingsKodeId"/>
       </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="EnergikildeKode">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKode"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="EnergikildeKodeId">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKodeId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="EnergikildeKodeIdList">
       <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="EnergikildeKodeId"/>
       </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BygningsstatusKode">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKode">
                <xs:sequence>
                    <xs:element name="lovligeArsakerTilForingIds" type="ArsakTilForingKodeIdList" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Dette elementet gis kun ut for klientversjon 3.18.3 eller senere.
                                Liste av lovlige årsaker for føring som bygningstatuskoden kan ha
                                Rekkefølgen er vesentlig. Om systemet skal velge skal første årsak benyttes.
                                @since 3.18.3
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BygningsstatusKodeId">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKodeId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BygningsstatusKodeIdList">
       <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="BygningsstatusKodeId"/>
       </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BygningsstatusKodeIdent">
        <xs:complexContent>
            <xs:extension base="basistyperns:KodeIdent">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BygningsstatusKodeIdentList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="BygningsstatusKodeIdent"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="ArsakTilForingKode">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKode"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ArsakTilForingKodeId">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKodeId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ArsakTilForingKodeIdList">
        <xs:sequence>
            <xs:element name="item" type="ArsakTilForingKodeId" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AvlopsKode">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKode"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AvlopsKodeId">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKodeId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AvlopsKodeIdList">
       <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="AvlopsKodeId"/>
       </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="VannforsyningsKode">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKode"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VannforsyningsKodeId">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKodeId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VannforsyningsKodeIdList">
       <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="VannforsyningsKodeId"/>
       </xs:sequence>
    </xs:complexType>    

    <xs:complexType name="NaringsgruppeKode">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKode"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NaringsgruppeKodeId">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKodeId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NaringsgruppeKodeIdList">
       <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="NaringsgruppeKodeId"/>
       </xs:sequence>
    </xs:complexType>    
    
    <xs:complexType name="OpprinnelsesKode">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKode"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OpprinnelsesKodeId">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKodeId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OpprinnelsesKodeIdList">
       <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="OpprinnelsesKodeId"/>
       </xs:sequence>
    </xs:complexType>    
    
    <xs:complexType name="BygningstypeKode">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKode"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BygningstypeKodeId">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKodeId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BygningstypeKodeIdList">
       <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="BygningstypeKodeId"/>
       </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BygningstypeKodeIdent">
        <xs:complexContent>
            <xs:extension base="basistyperns:KodeIdent">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BygningstypeKodeIdentList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="BygningstypeKodeIdent"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="BygningsendringsKode">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKode"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BygningsendringsKodeId">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKodeId"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BygningsendringsKodeIdList">
       <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="BygningsendringsKodeId"/>
       </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EtasjeplanKode">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKode"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="EtasjeplanKodeId">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKodeId"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="EtasjeplanKodeIdList">
       <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="EtasjeplanKodeId"/>
       </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BruksenhetstypeKode">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKode"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BruksenhetstypeKodeId">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKodeId"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BruksenhetstypeKodeIdList">
       <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="BruksenhetstypeKodeId"/>
       </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KjokkentilgangKode">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKode"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="KjokkentilgangKodeId">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKodeId"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="KjokkentilgangKodeIdList">
       <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="KjokkentilgangKodeId"/>
       </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KontaktpersonKode">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKode"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="KontaktpersonKodeId">
        <xs:complexContent>
            <xs:extension base="kodens:MatrikkelEnumKodeId"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="KontaktpersonKodeIdList">
       <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="KontaktpersonKodeId"/>
       </xs:sequence>
    </xs:complexType>

</xs:schema>
