lib/WSDLClient/wsdl/BygningOppdateringServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BygningOppdateringServiceWS" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering" schemaLocation="BygningOppdateringServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="util.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/test" schemaLocation="test.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="sefrakKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="sefrak.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="rapportKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="personKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="metadata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="matrikkelenhetKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="kulturminneKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="kulturminne.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="konsesjonKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="konsesjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="kommunetilleggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="kommunetillegg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="jobbKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="jobb.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="grunnforurensingKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="grunnforurensing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="forretning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="endringsloggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="elektronisktinglysing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="bygningKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="brukerKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="aktivitetslisteKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="aktivitetsliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="endreBygningsdata">
    <part element="tns:endreBygningsdata" name="parameters"/>
  </message>
  <message name="endreBygningsdataResponse">
    <part element="tns:endreBygningsdataResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="flyttBygning">
    <part element="tns:flyttBygning" name="parameters"/>
  </message>
  <message name="flyttBygningResponse">
    <part element="tns:flyttBygningResponse" name="parameters"/>
  </message>
  <message name="settByggAvlyst">
    <part element="tns:settByggAvlyst" name="parameters"/>
  </message>
  <message name="settByggAvlystResponse">
    <part element="tns:settByggAvlystResponse" name="parameters"/>
  </message>
  <message name="setteByggAvlyst">
    <part element="tns:setteByggAvlyst" name="parameters"/>
  </message>
  <message name="setteByggAvlystResponse">
    <part element="tns:setteByggAvlystResponse" name="parameters"/>
  </message>
  <message name="settBygningGodkjentRevet">
    <part element="tns:settBygningGodkjentRevet" name="parameters"/>
  </message>
  <message name="settBygningGodkjentRevetResponse">
    <part element="tns:settBygningGodkjentRevetResponse" name="parameters"/>
  </message>
  <message name="setteBygningGodkjentRevet">
    <part element="tns:setteBygningGodkjentRevet" name="parameters"/>
  </message>
  <message name="setteBygningGodkjentRevetResponse">
    <part element="tns:setteBygningGodkjentRevetResponse" name="parameters"/>
  </message>
  <message name="settBygningRevet">
    <part element="tns:settBygningRevet" name="parameters"/>
  </message>
  <message name="settBygningRevetResponse">
    <part element="tns:settBygningRevetResponse" name="parameters"/>
  </message>
  <message name="setteBygningRevet">
    <part element="tns:setteBygningRevet" name="parameters"/>
  </message>
  <message name="setteBygningRevetResponse">
    <part element="tns:setteBygningRevetResponse" name="parameters"/>
  </message>
  <message name="etablerTilbyggSomBygning">
    <part element="tns:etablerTilbyggSomBygning" name="parameters"/>
  </message>
  <message name="etablerTilbyggSomBygningResponse">
    <part element="tns:etablerTilbyggSomBygningResponse" name="parameters"/>
  </message>
  <message name="settByggUtgatt">
    <part element="tns:settByggUtgatt" name="parameters"/>
  </message>
  <message name="settByggUtgattResponse">
    <part element="tns:settByggUtgattResponse" name="parameters"/>
  </message>
  <message name="setteByggUtgatt">
    <part element="tns:setteByggUtgatt" name="parameters"/>
  </message>
  <message name="setteByggUtgattResponse">
    <part element="tns:setteByggUtgattResponse" name="parameters"/>
  </message>
  <message name="lockObjectsForOppdateringInklbygningsendring">
    <part element="tns:lockObjectsForOppdateringInklbygningsendring" name="parameters"/>
  </message>
  <message name="lockObjectsForOppdateringInklbygningsendringResponse">
    <part element="tns:lockObjectsForOppdateringInklbygningsendringResponse" name="parameters"/>
  </message>
  <message name="lockObjectsForOppdatering">
    <part element="tns:lockObjectsForOppdatering" name="parameters"/>
  </message>
  <message name="lockObjectsForOppdateringResponse">
    <part element="tns:lockObjectsForOppdateringResponse" name="parameters"/>
  </message>
  <message name="allokerBygningsnr">
    <part element="tns:allokerBygningsnr" name="parameters"/>
  </message>
  <message name="allokerBygningsnrResponse">
    <part element="tns:allokerBygningsnrResponse" name="parameters"/>
  </message>
  <message name="byggSomBygningsendringForAnnenBygning">
    <part element="tns:byggSomBygningsendringForAnnenBygning" name="parameters"/>
  </message>
  <message name="byggSomBygningsendringForAnnenBygningResponse">
    <part element="tns:byggSomBygningsendringForAnnenBygningResponse" name="parameters"/>
  </message>
  <message name="endreBygningstatus">
    <part element="tns:endreBygningstatus" name="parameters"/>
  </message>
  <message name="endreBygningstatusResponse">
    <part element="tns:endreBygningstatusResponse" name="parameters"/>
  </message>
  <message name="findNesteLopenr">
    <part element="tns:findNesteLopenr" name="parameters"/>
  </message>
  <message name="findNesteLopenrResponse">
    <part element="tns:findNesteLopenrResponse" name="parameters"/>
  </message>
  <message name="registrerNyBygning">
    <part element="tns:registrerNyBygning" name="parameters"/>
  </message>
  <message name="registrerNyBygningResponse">
    <part element="tns:registrerNyBygningResponse" name="parameters"/>
  </message>
  <message name="etterregistrerBygning">
    <part element="tns:etterregistrerBygning" name="parameters"/>
  </message>
  <message name="etterregistrerBygningResponse">
    <part element="tns:etterregistrerBygningResponse" name="parameters"/>
  </message>
  <message name="slettFeilregistrertBygning">
    <part element="tns:slettFeilregistrertBygning" name="parameters"/>
  </message>
  <message name="slettFeilregistrertBygningResponse">
    <part element="tns:slettFeilregistrertBygningResponse" name="parameters"/>
  </message>
  <message name="splittBygning">
    <part element="tns:splittBygning" name="parameters"/>
  </message>
  <message name="splittBygningResponse">
    <part element="tns:splittBygningResponse" name="parameters"/>
  </message>
  <message name="endreByggUnntattSoknadsplikt">
    <part element="tns:endreByggUnntattSoknadsplikt" name="parameters"/>
  </message>
  <message name="endreByggUnntattSoknadspliktResponse">
    <part element="tns:endreByggUnntattSoknadspliktResponse" name="parameters"/>
  </message>
  <portType name="BygningOppdateringService">
    <operation name="endreBygningsdata">
      <input message="tns:endreBygningsdata" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/endreBygningsdataRequest"/>
      <output message="tns:endreBygningsdataResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/endreBygningsdataResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/endreBygningsdata/Fault/ServiceException"/>
    </operation>
    <operation name="flyttBygning">
      <input message="tns:flyttBygning" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/flyttBygningRequest"/>
      <output message="tns:flyttBygningResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/flyttBygningResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/flyttBygning/Fault/ServiceException"/>
    </operation>
    <operation name="settByggAvlyst">
      <input message="tns:settByggAvlyst" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/settByggAvlystRequest"/>
      <output message="tns:settByggAvlystResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/settByggAvlystResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/settByggAvlyst/Fault/ServiceException"/>
    </operation>
    <operation name="setteByggAvlyst">
      <input message="tns:setteByggAvlyst" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/setteByggAvlystRequest"/>
      <output message="tns:setteByggAvlystResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/setteByggAvlystResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/setteByggAvlyst/Fault/ServiceException"/>
    </operation>
    <operation name="settBygningGodkjentRevet">
      <input message="tns:settBygningGodkjentRevet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/settBygningGodkjentRevetRequest"/>
      <output message="tns:settBygningGodkjentRevetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/settBygningGodkjentRevetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/settBygningGodkjentRevet/Fault/ServiceException"/>
    </operation>
    <operation name="setteBygningGodkjentRevet">
      <input message="tns:setteBygningGodkjentRevet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/setteBygningGodkjentRevetRequest"/>
      <output message="tns:setteBygningGodkjentRevetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/setteBygningGodkjentRevetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/setteBygningGodkjentRevet/Fault/ServiceException"/>
    </operation>
    <operation name="settBygningRevet">
      <input message="tns:settBygningRevet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/settBygningRevetRequest"/>
      <output message="tns:settBygningRevetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/settBygningRevetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/settBygningRevet/Fault/ServiceException"/>
    </operation>
    <operation name="setteBygningRevet">
      <input message="tns:setteBygningRevet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/setteBygningRevetRequest"/>
      <output message="tns:setteBygningRevetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/setteBygningRevetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/setteBygningRevet/Fault/ServiceException"/>
    </operation>
    <operation name="etablerTilbyggSomBygning">
      <input message="tns:etablerTilbyggSomBygning" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/etablerTilbyggSomBygningRequest"/>
      <output message="tns:etablerTilbyggSomBygningResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/etablerTilbyggSomBygningResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/etablerTilbyggSomBygning/Fault/ServiceException"/>
    </operation>
    <operation name="settByggUtgatt">
      <input message="tns:settByggUtgatt" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/settByggUtgattRequest"/>
      <output message="tns:settByggUtgattResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/settByggUtgattResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/settByggUtgatt/Fault/ServiceException"/>
    </operation>
    <operation name="setteByggUtgatt">
      <input message="tns:setteByggUtgatt" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/setteByggUtgattRequest"/>
      <output message="tns:setteByggUtgattResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/setteByggUtgattResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/setteByggUtgatt/Fault/ServiceException"/>
    </operation>
    <operation name="lockObjectsForOppdateringInklbygningsendring">
      <input message="tns:lockObjectsForOppdateringInklbygningsendring" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/lockObjectsForOppdateringInklbygningsendringRequest"/>
      <output message="tns:lockObjectsForOppdateringInklbygningsendringResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/lockObjectsForOppdateringInklbygningsendringResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/lockObjectsForOppdateringInklbygningsendring/Fault/ServiceException"/>
    </operation>
    <operation name="lockObjectsForOppdatering">
      <input message="tns:lockObjectsForOppdatering" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/lockObjectsForOppdateringRequest"/>
      <output message="tns:lockObjectsForOppdateringResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/lockObjectsForOppdateringResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/lockObjectsForOppdatering/Fault/ServiceException"/>
    </operation>
    <operation name="allokerBygningsnr">
      <input message="tns:allokerBygningsnr" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/allokerBygningsnrRequest"/>
      <output message="tns:allokerBygningsnrResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/allokerBygningsnrResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/allokerBygningsnr/Fault/ServiceException"/>
    </operation>
    <operation name="byggSomBygningsendringForAnnenBygning">
      <input message="tns:byggSomBygningsendringForAnnenBygning" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/byggSomBygningsendringForAnnenBygningRequest"/>
      <output message="tns:byggSomBygningsendringForAnnenBygningResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/byggSomBygningsendringForAnnenBygningResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/byggSomBygningsendringForAnnenBygning/Fault/ServiceException"/>
    </operation>
    <operation name="endreBygningstatus">
      <input message="tns:endreBygningstatus" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/endreBygningstatusRequest"/>
      <output message="tns:endreBygningstatusResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/endreBygningstatusResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/endreBygningstatus/Fault/ServiceException"/>
    </operation>
    <operation name="findNesteLopenr">
      <input message="tns:findNesteLopenr" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/findNesteLopenrRequest"/>
      <output message="tns:findNesteLopenrResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/findNesteLopenrResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/findNesteLopenr/Fault/ServiceException"/>
    </operation>
    <operation name="registrerNyBygning">
      <input message="tns:registrerNyBygning" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/registrerNyBygningRequest"/>
      <output message="tns:registrerNyBygningResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/registrerNyBygningResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/registrerNyBygning/Fault/ServiceException"/>
    </operation>
    <operation name="etterregistrerBygning">
      <input message="tns:etterregistrerBygning" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/etterregistrerBygningRequest"/>
      <output message="tns:etterregistrerBygningResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/etterregistrerBygningResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/etterregistrerBygning/Fault/ServiceException"/>
    </operation>
    <operation name="slettFeilregistrertBygning">
      <input message="tns:slettFeilregistrertBygning" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/slettFeilregistrertBygningRequest"/>
      <output message="tns:slettFeilregistrertBygningResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/slettFeilregistrertBygningResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/slettFeilregistrertBygning/Fault/ServiceException"/>
    </operation>
    <operation name="splittBygning">
      <input message="tns:splittBygning" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/splittBygningRequest"/>
      <output message="tns:splittBygningResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/splittBygningResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/splittBygning/Fault/ServiceException"/>
    </operation>
    <operation name="endreByggUnntattSoknadsplikt">
      <input message="tns:endreByggUnntattSoknadsplikt" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/endreByggUnntattSoknadspliktRequest"/>
      <output message="tns:endreByggUnntattSoknadspliktResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/endreByggUnntattSoknadspliktResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/bygning/oppdatering/BygningOppdateringService/endreByggUnntattSoknadsplikt/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="BygningOppdateringServicePortBinding" type="tns:BygningOppdateringService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="endreBygningsdata">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="flyttBygning">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="settByggAvlyst">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="setteByggAvlyst">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="settBygningGodkjentRevet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="setteBygningGodkjentRevet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="settBygningRevet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="setteBygningRevet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="etablerTilbyggSomBygning">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="settByggUtgatt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="setteByggUtgatt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="lockObjectsForOppdateringInklbygningsendring">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="lockObjectsForOppdatering">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="allokerBygningsnr">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="byggSomBygningsendringForAnnenBygning">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="endreBygningstatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findNesteLopenr">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="registrerNyBygning">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="etterregistrerBygning">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="slettFeilregistrertBygning">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="splittBygning">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="endreByggUnntattSoknadsplikt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="BygningOppdateringServiceWS">
    <port binding="tns:BygningOppdateringServicePortBinding" name="BygningOppdateringServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>