lib/WSDLClient/wsdl/elektronisktinglysing.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        xmlns:matrikkelenhetns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet"
        xmlns:basistyperns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain"
        xmlns:forretningns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning"
        xmlns:personns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        version="1.0"
        targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing"
        xmlns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing"
        elementFormDefault="qualified">

    <xs:import schemaLocation="forretning.xsd"
               namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning"/>
    <xs:import schemaLocation="matrikkelenhet.xsd"
               namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet"/>
    <xs:import schemaLocation="person.xsd"
               namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person"/>

    <xs:import schemaLocation="basistyper.xsd"
               namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain"/>

    <xs:complexType name="MeldingTilTinglysingRequest">
        <xs:sequence>
            <xs:element name="forretningId" type="forretningns:MatrikkelenhetForretningId"
                        minOccurs="0"/>
            <xs:element name="harVedlegg" type="xs:boolean" minOccurs="0"/>
            <xs:element name="rekvirentTinglysing" type="personns:PersonId" minOccurs="0"/>
            <xs:element name="rekvirenterForretning" type="personns:PersonIdList" minOccurs="0"/>
            <xs:element name="referanseElektroniskTinglysing" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Grunnboksutskrift">
        <xs:sequence>
            <xs:element name="matrikkelenhetId" type="matrikkelenhetns:MatrikkelenhetId"
                        minOccurs="0"/>
            <xs:element name="innhold" type="xs:base64Binary" minOccurs="0"/>
            <xs:element name="beskrivelse" type="xs:string" minOccurs="0"/>
            <xs:element name="mimeType" type="xs:string" minOccurs="0"/>
            <xs:element name="signertInnhold" type="xs:base64Binary" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GrunnboksutskriftList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="Grunnboksutskrift"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IkkeElektroniskTinglysningGrunn" abstract="true">
        <xs:sequence>
            <xs:element minOccurs="0" name="localizedMessage" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="IkkeElektroniskTinglysningGrunnList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item"
                        type="IkkeElektroniskTinglysningGrunn"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AbstractIkkeElektroniskTinglysningGrunn">
        <xs:complexContent>
            <xs:extension base="IkkeElektroniskTinglysningGrunn">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FeilAntallInvolverte">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
                <xs:sequence>
                    <xs:element minOccurs="0" name="rolle" type="xs:string"/>
                    <xs:element minOccurs="0" name="forventetAntall" type="xs:int"/>
                    <xs:element minOccurs="0" name="faktiskAntall" type="xs:int"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MeldingHarVedlegg">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ForretningstypeKanIkkeTinglyses">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
                <xs:sequence>
                    <xs:element minOccurs="0" name="forretningsTypenavn" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MatrikkelenhetIkkeTillatt">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
                <xs:sequence>
                    <xs:element name="matrikkelenhetIdent"
                                type="matrikkelenhetns:MatrikkelenhetIdent" minOccurs="0"/>
                    <xs:element minOccurs="0" name="beskrivelse" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MatrikkelenhetIkkeTillattTeig">
        <xs:complexContent>
            <xs:extension base="MatrikkelenhetIkkeTillatt">
                <xs:sequence>
                    <xs:element name="teigIdent" type="matrikkelenhetns:TeigIdent" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FestetPaFlereMatrikkelenheter">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
                <xs:sequence>
                    <xs:element name="matrikkelenhetIdent" type="matrikkelenhetns:FestegrunnIdent"
                                minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RekvirentUlikHjemmelshaver">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
                <xs:sequence>
                    <xs:element name="rekvirenter" type="personns:PersonId" minOccurs="0"
                                maxOccurs="unbounded"/>
                    <xs:element name="hjemmelshavere" type="basistyperns:MatrikkelBubbleId"
                                minOccurs="0" maxOccurs="unbounded"/>
                    <xs:element name="matrikkelenhetIdent"
                                type="matrikkelenhetns:MatrikkelenhetIdent" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RekvirentDod">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
                <xs:sequence>
                    <xs:element name="rekvirenter" type="personns:FysiskPerson" minOccurs="0"
                                maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RekvirenterInneholderAnnenPerson">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HjemmelshavereInneholderAnnenPerson">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UkjentGrunn">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="InvolvertIkkeTinglyst">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="IkkeIdentiskeEierforhold">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="IkkeLikeAndeler">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="InvolverteSomErSeksjonert">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FestegrunnSomErSeksjonert">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MatrikkelenheterPaUliktNiva">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UgyldigTinglysingsstatus">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
                <xs:sequence>
                    <xs:element minOccurs="0" name="tinglysingsStatus" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AlleredeSendt">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
                <xs:sequence>
                    <xs:element minOccurs="0" name="meldingTilTinglysingsId" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HarUnderliggendeFester">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AvgiverSeksjonert">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FestegrunnEndretGnrEllerBnr">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TimeoutMotGrunnboken">
        <xs:complexContent>
            <xs:extension base="AbstractIkkeElektroniskTinglysningGrunn">
                <xs:sequence>
                    <xs:element minOccurs="0" name="validering" type="xs:boolean"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>
