lib/WSDLClient/wsdl/ForretningServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ForretningServiceWS" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning" schemaLocation="ForretningServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="util.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="sefrakKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="sefrak.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="rapportKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="personKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="metadata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="matrikkelenhetKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="kulturminneKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="kulturminne.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="konsesjonKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="konsesjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="kommunetilleggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="kommunetillegg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="jobbKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="jobb.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="grunnforurensingKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="grunnforurensing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="forretning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="endringsloggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="elektronisktinglysing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="bygningKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="brukerKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="aktivitetslisteKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="aktivitetsliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findForretningerForMatrikkelenhet">
    <part element="tns:findForretningerForMatrikkelenhet" name="parameters"/>
  </message>
  <message name="findForretningerForMatrikkelenhetResponse">
    <part element="tns:findForretningerForMatrikkelenhetResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findForretningerForMatrikkelenheter">
    <part element="tns:findForretningerForMatrikkelenheter" name="parameters"/>
  </message>
  <message name="findForretningerForMatrikkelenheterResponse">
    <part element="tns:findForretningerForMatrikkelenheterResponse" name="parameters"/>
  </message>
  <message name="findForretningIdForIdent">
    <part element="tns:findForretningIdForIdent" name="parameters"/>
  </message>
  <message name="findForretningIdForIdentResponse">
    <part element="tns:findForretningIdForIdentResponse" name="parameters"/>
  </message>
  <message name="findJordskifteForretningForJordskifteKrevd">
    <part element="tns:findJordskifteForretningForJordskifteKrevd" name="parameters"/>
  </message>
  <message name="findJordskifteForretningForJordskifteKrevdResponse">
    <part element="tns:findJordskifteForretningForJordskifteKrevdResponse" name="parameters"/>
  </message>
  <message name="findForretningerForTeig">
    <part element="tns:findForretningerForTeig" name="parameters"/>
  </message>
  <message name="findForretningerForTeigResponse">
    <part element="tns:findForretningerForTeigResponse" name="parameters"/>
  </message>
  <message name="findForretningerForTeiggrense">
    <part element="tns:findForretningerForTeiggrense" name="parameters"/>
  </message>
  <message name="findForretningerForTeiggrenseResponse">
    <part element="tns:findForretningerForTeiggrenseResponse" name="parameters"/>
  </message>
  <message name="findForretningerForTeiggrensepunkt">
    <part element="tns:findForretningerForTeiggrensepunkt" name="parameters"/>
  </message>
  <message name="findForretningerForTeiggrensepunktResponse">
    <part element="tns:findForretningerForTeiggrensepunktResponse" name="parameters"/>
  </message>
  <message name="findForretningerForAnleggsprojeksjonsgrense">
    <part element="tns:findForretningerForAnleggsprojeksjonsgrense" name="parameters"/>
  </message>
  <message name="findForretningerForAnleggsprojeksjonsgrenseResponse">
    <part element="tns:findForretningerForAnleggsprojeksjonsgrenseResponse" name="parameters"/>
  </message>
  <message name="findForretningerForAnleggsprojeksjonspunkt">
    <part element="tns:findForretningerForAnleggsprojeksjonspunkt" name="parameters"/>
  </message>
  <message name="findForretningerForAnleggsprojeksjonspunktResponse">
    <part element="tns:findForretningerForAnleggsprojeksjonspunktResponse" name="parameters"/>
  </message>
  <message name="findForretningerSomSkalTinglysesForMatrikkelenhet">
    <part element="tns:findForretningerSomSkalTinglysesForMatrikkelenhet" name="parameters"/>
  </message>
  <message name="findForretningerSomSkalTinglysesForMatrikkelenhetResponse">
    <part element="tns:findForretningerSomSkalTinglysesForMatrikkelenhetResponse" name="parameters"/>
  </message>
  <message name="findRettingAvForretningsdataForretningerForForretning">
    <part element="tns:findRettingAvForretningsdataForretningerForForretning" name="parameters"/>
  </message>
  <message name="findRettingAvForretningsdataForretningerForForretningResponse">
    <part element="tns:findRettingAvForretningsdataForretningerForForretningResponse" name="parameters"/>
  </message>
  <message name="findForretningerForForretningSomGrunnlag">
    <part element="tns:findForretningerForForretningSomGrunnlag" name="parameters"/>
  </message>
  <message name="findForretningerForForretningSomGrunnlagResponse">
    <part element="tns:findForretningerForForretningSomGrunnlagResponse" name="parameters"/>
  </message>
  <message name="findSammenslaing">
    <part element="tns:findSammenslaing" name="parameters"/>
  </message>
  <message name="findSammenslaingResponse">
    <part element="tns:findSammenslaingResponse" name="parameters"/>
  </message>
  <message name="erForretningInnsendtElektroniskTinglystIGrunnboken">
    <part element="tns:erForretningInnsendtElektroniskTinglystIGrunnboken" name="parameters"/>
  </message>
  <message name="erForretningInnsendtElektroniskTinglystIGrunnbokenResponse">
    <part element="tns:erForretningInnsendtElektroniskTinglystIGrunnbokenResponse" name="parameters"/>
  </message>
  <portType name="ForretningService">
    <operation name="findForretningerForMatrikkelenhet">
      <input message="tns:findForretningerForMatrikkelenhet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForMatrikkelenhetRequest"/>
      <output message="tns:findForretningerForMatrikkelenhetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForMatrikkelenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForMatrikkelenhet/Fault/ServiceException"/>
    </operation>
    <operation name="findForretningerForMatrikkelenheter">
      <input message="tns:findForretningerForMatrikkelenheter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForMatrikkelenheterRequest"/>
      <output message="tns:findForretningerForMatrikkelenheterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForMatrikkelenheterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForMatrikkelenheter/Fault/ServiceException"/>
    </operation>
    <operation name="findForretningIdForIdent">
      <input message="tns:findForretningIdForIdent" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningIdForIdentRequest"/>
      <output message="tns:findForretningIdForIdentResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningIdForIdentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningIdForIdent/Fault/ServiceException"/>
    </operation>
    <operation name="findJordskifteForretningForJordskifteKrevd">
      <input message="tns:findJordskifteForretningForJordskifteKrevd" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findJordskifteForretningForJordskifteKrevdRequest"/>
      <output message="tns:findJordskifteForretningForJordskifteKrevdResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findJordskifteForretningForJordskifteKrevdResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findJordskifteForretningForJordskifteKrevd/Fault/ServiceException"/>
    </operation>
    <operation name="findForretningerForTeig">
      <input message="tns:findForretningerForTeig" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForTeigRequest"/>
      <output message="tns:findForretningerForTeigResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForTeigResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForTeig/Fault/ServiceException"/>
    </operation>
    <operation name="findForretningerForTeiggrense">
      <input message="tns:findForretningerForTeiggrense" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForTeiggrenseRequest"/>
      <output message="tns:findForretningerForTeiggrenseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForTeiggrenseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForTeiggrense/Fault/ServiceException"/>
    </operation>
    <operation name="findForretningerForTeiggrensepunkt">
      <input message="tns:findForretningerForTeiggrensepunkt" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForTeiggrensepunktRequest"/>
      <output message="tns:findForretningerForTeiggrensepunktResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForTeiggrensepunktResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForTeiggrensepunkt/Fault/ServiceException"/>
    </operation>
    <operation name="findForretningerForAnleggsprojeksjonsgrense">
      <input message="tns:findForretningerForAnleggsprojeksjonsgrense" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForAnleggsprojeksjonsgrenseRequest"/>
      <output message="tns:findForretningerForAnleggsprojeksjonsgrenseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForAnleggsprojeksjonsgrenseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForAnleggsprojeksjonsgrense/Fault/ServiceException"/>
    </operation>
    <operation name="findForretningerForAnleggsprojeksjonspunkt">
      <input message="tns:findForretningerForAnleggsprojeksjonspunkt" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForAnleggsprojeksjonspunktRequest"/>
      <output message="tns:findForretningerForAnleggsprojeksjonspunktResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForAnleggsprojeksjonspunktResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForAnleggsprojeksjonspunkt/Fault/ServiceException"/>
    </operation>
    <operation name="findForretningerSomSkalTinglysesForMatrikkelenhet">
      <input message="tns:findForretningerSomSkalTinglysesForMatrikkelenhet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerSomSkalTinglysesForMatrikkelenhetRequest"/>
      <output message="tns:findForretningerSomSkalTinglysesForMatrikkelenhetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerSomSkalTinglysesForMatrikkelenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerSomSkalTinglysesForMatrikkelenhet/Fault/ServiceException"/>
    </operation>
    <operation name="findRettingAvForretningsdataForretningerForForretning">
      <input message="tns:findRettingAvForretningsdataForretningerForForretning" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findRettingAvForretningsdataForretningerForForretningRequest"/>
      <output message="tns:findRettingAvForretningsdataForretningerForForretningResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findRettingAvForretningsdataForretningerForForretningResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findRettingAvForretningsdataForretningerForForretning/Fault/ServiceException"/>
    </operation>
    <operation name="findForretningerForForretningSomGrunnlag">
      <input message="tns:findForretningerForForretningSomGrunnlag" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForForretningSomGrunnlagRequest"/>
      <output message="tns:findForretningerForForretningSomGrunnlagResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForForretningSomGrunnlagResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findForretningerForForretningSomGrunnlag/Fault/ServiceException"/>
    </operation>
    <operation name="findSammenslaing">
      <input message="tns:findSammenslaing" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findSammenslaingRequest"/>
      <output message="tns:findSammenslaingResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findSammenslaingResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/findSammenslaing/Fault/ServiceException"/>
    </operation>
    <operation name="erForretningInnsendtElektroniskTinglystIGrunnboken">
      <input message="tns:erForretningInnsendtElektroniskTinglystIGrunnboken" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/erForretningInnsendtElektroniskTinglystIGrunnbokenRequest"/>
      <output message="tns:erForretningInnsendtElektroniskTinglystIGrunnbokenResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/erForretningInnsendtElektroniskTinglystIGrunnbokenResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/forretning/ForretningService/erForretningInnsendtElektroniskTinglystIGrunnboken/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="ForretningServicePortBinding" type="tns:ForretningService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findForretningerForMatrikkelenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findForretningerForMatrikkelenheter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findForretningIdForIdent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findJordskifteForretningForJordskifteKrevd">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findForretningerForTeig">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findForretningerForTeiggrense">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findForretningerForTeiggrensepunkt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findForretningerForAnleggsprojeksjonsgrense">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findForretningerForAnleggsprojeksjonspunkt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findForretningerSomSkalTinglysesForMatrikkelenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRettingAvForretningsdataForretningerForForretning">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findForretningerForForretningSomGrunnlag">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSammenslaing">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="erForretningInnsendtElektroniskTinglystIGrunnboken">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ForretningServiceWS">
    <port binding="tns:ForretningServicePortBinding" name="ForretningServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>