lib/WSDLClient/wsdl/kommune.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        version="1.0"
        targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune"
        xmlns:kommunens="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune"
        xmlns:brukerkoderns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder"
        xmlns:basistyperns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain"
        xmlns:geometrins="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri"
        xmlns:geometrikoderns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder"
        xmlns:personns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person"
        xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:import schemaLocation="brukerKoder.xsd"
               namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder"/>
    <xs:import schemaLocation="basistyper.xsd" namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain"/>
    <xs:import schemaLocation="geometri.xsd"
               namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri"/>
    <xs:import schemaLocation="geometriKoder.xsd"
               namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder"/>
    <xs:import schemaLocation="person.xsd"
               namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person"/>


    <xs:complexType name="KommuneId">
        <xs:complexContent>
            <xs:extension base="basistyperns:MatrikkelBubbleId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="KommuneIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="kommunens:KommuneId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StringTilKommuneIdMap">
        <xs:annotation>
            <xs:appinfo>
                <IsDictionary
                        xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                    true
                </IsDictionary>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="key" nillable="true" type="xs:string"/>
                        <xs:element name="value" nillable="true" type="kommunens:KommuneId"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StringTilKommuneIdListMap">
        <xs:annotation>
            <xs:appinfo>
                <IsDictionary
                        xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                    true
                </IsDictionary>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="key" nillable="true" type="xs:string"/>
                        <xs:element name="value" type="kommunens:KommuneIdList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KommuneIdent">
        <xs:complexContent>
            <xs:extension base="basistyperns:Ident">
                <xs:sequence>
                    <xs:element name="kommunenummer" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="KommuneIdentList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="kommunens:KommuneIdent"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Kommune">
        <xs:complexContent>
            <xs:extension base="basistyperns:MatrikkelBubbleObjectWithHistory">
                <xs:sequence>
                    <xs:element name="kommunenummer" type="xs:string" minOccurs="0"/>
                    <xs:element name="kommunenavn" type="xs:string" minOccurs="0"/>
                    <xs:element name="fylkeId" type="kommunens:FylkeId" minOccurs="0"/>
                    <xs:element name="gyldigTilDato" type="basistyperns:LocalDate" minOccurs="0"/>
                    <xs:element name="nyKommuneId" type="kommunens:KommuneId" minOccurs="0"/>
                    <xs:element name="koordinatsystemKodeId" type="geometrikoderns:KoordinatsystemKodeId"
                                minOccurs="0"/>
                    <xs:element name="konverteringStatus" type="xs:string" minOccurs="0"/>
                    <xs:element name="last" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="senterpunkt" type="geometrins:Position" minOccurs="0"/>
                    <xs:element name="representasjonspunkt" type="geometrins:Representasjonspunkt"
                                minOccurs="0"/>
                    <xs:element name="postadresse" type="personns:MottakerAdresse" minOccurs="0"/>
                    <xs:element name="standardRekvirentTinglysingId" type="personns:JuridiskPersonId" minOccurs="0"/>
                    <xs:element name="sprakformId" type="brukerkoderns:SprakformId" minOccurs="0"/>
                    <xs:element name="naboKommuneIds" type="kommunens:KommuneIdList" minOccurs="0"/>
                    <xs:element name="eksklusivBruker" type="xs:string" minOccurs="0"/>
                    <xs:element name="nedsattKonsesjonsgrense" type="xs:boolean" minOccurs="0"/>
                    <xs:element name="brukteGardsnummer" type="xs:string" minOccurs="0"/>
                    <xs:element name="uuid" type="basistyperns:UUID" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Dette elementet gis kun ut for klientversjon 3.17 eller senere. For eldre klienter
                                returneres ikke dette elementet.
                                @since 3.17
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="KommuneDTO">
        <xs:sequence>
            <xs:element name="kommuneId" type="kommunens:KommuneId" minOccurs="0" />
            <xs:element name="kommunenr" type="xs:string" minOccurs="0" />
            <xs:element name="kommunenavn" type="xs:string" minOccurs="0" />
            <xs:element name="eksklusivBruker" type="xs:string" minOccurs="0" />
            <xs:element name="gyldigTilDato" type="basistyperns:LocalDate" minOccurs="0" />
            <xs:element name="konverteringStatus" type="xs:string" minOccurs="0" />
            <xs:element name="laast" type="xs:boolean" minOccurs="0" />
            <xs:element name="fylkeId" type="kommunens:FylkeId" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="KommuneDTOList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="kommunens:KommuneDTO"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FylkeDTO">
        <xs:sequence>
            <xs:element name="fylkeId" type="kommunens:FylkeId" minOccurs="0"/>
            <xs:element name="fylkesnr" type="xs:string" minOccurs="0"/>
            <xs:element name="navn" type="xs:string" minOccurs="0"/>
            <xs:element name="gyldigTilDato" type="basistyperns:LocalDate" minOccurs="0"/>
            <xs:element name="kommuneDTOs" type="kommunens:KommuneDTOList" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FylkeDTOList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="kommunens:FylkeDTO"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FylkeId">
        <xs:complexContent>
            <xs:extension base="basistyperns:MatrikkelBubbleId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FylkeIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="kommunens:FylkeId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Fylke">
        <xs:complexContent>
            <xs:extension base="basistyperns:MatrikkelBubbleObjectWithHistory">
                <xs:sequence>
                    <xs:element name="fylkesnummer" type="xs:string" minOccurs="0"/>
                    <xs:element name="fylkesnavn" type="xs:string" minOccurs="0"/>
                    <xs:element name="gyldigTilDato" type="basistyperns:LocalDate" minOccurs="0"/>
                    <xs:element name="nyFylkeId" type="kommunens:FylkeId" minOccurs="0"/>
                    <xs:element name="kommuneIds" type="kommunens:KommuneIdList" minOccurs="0"/>
                    <xs:element name="uuid" type="basistyperns:UUID" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Dette elementet gis kun ut for klientversjon 3.17 eller senere. For eldre klienter
                                returneres ikke dette elementet.
                                @since 3.17
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FylkeIdent">
        <xs:complexContent>
            <xs:extension base="basistyperns:Ident">
                <xs:sequence>
                    <xs:element name="fylkesnummer" type="xs:string"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="KommuneIdentTilKommuneIdMap">
        <xs:annotation>
            <xs:appinfo>
                <IsDictionary
                        xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                    true
                </IsDictionary>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="key" nillable="true" type="kommunens:KommuneIdent"/>
                        <xs:element name="value" nillable="true" type="kommunens:KommuneId"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="KommuneIdentTilKommuneIdentsMap">
        <xs:annotation>
            <xs:appinfo>
                <IsDictionary
                        xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                    true
                </IsDictionary>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="key" nillable="true" type="kommunens:KommuneIdent"/>
                        <xs:element name="value" nillable="true" type="kommunens:KommuneIdentList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Kommunevapen">
        <xs:complexContent>
            <xs:extension base="basistyperns:MatrikkelBubbleObject">
                <xs:sequence>
                    <xs:element name="kommuneId" type="kommunens:KommuneId" minOccurs="1"/>
                    <xs:element name="kommunevapen" type="xs:base64Binary" minOccurs="1"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="KommunevapenId">
        <xs:complexContent>
            <xs:extension base="basistyperns:MatrikkelBubbleId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

</xs:schema>


