lib/WSDLClient/wsdl/KommuneServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KommuneServiceWS" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune" schemaLocation="KommuneServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="util.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="sefrakKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="sefrak.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="rapportKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="personKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="metadata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="matrikkelenhetKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="kulturminneKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="kulturminne.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="konsesjonKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="konsesjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="kommunetilleggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="kommunetillegg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="jobbKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="jobb.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="grunnforurensingKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="grunnforurensing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="forretning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="endringsloggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="elektronisktinglysing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="bygningKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="brukerKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="aktivitetslisteKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="aktivitetsliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findKommuneIdForIdent">
    <part element="tns:findKommuneIdForIdent" name="parameters"/>
  </message>
  <message name="findKommuneIdForIdentResponse">
    <part element="tns:findKommuneIdForIdentResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findKommuneIdsForIdents">
    <part element="tns:findKommuneIdsForIdents" name="parameters"/>
  </message>
  <message name="findKommuneIdsForIdentsResponse">
    <part element="tns:findKommuneIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findAlleFylker">
    <part element="tns:findAlleFylker" name="parameters"/>
  </message>
  <message name="findAlleFylkerResponse">
    <part element="tns:findAlleFylkerResponse" name="parameters"/>
  </message>
  <message name="findAlleKommuner">
    <part element="tns:findAlleKommuner" name="parameters"/>
  </message>
  <message name="findAlleKommunerResponse">
    <part element="tns:findAlleKommunerResponse" name="parameters"/>
  </message>
  <message name="findNavarendeKommunenummerForKommunernummer">
    <part element="tns:findNavarendeKommunenummerForKommunernummer" name="parameters"/>
  </message>
  <message name="findNavarendeKommunenummerForKommunernummerResponse">
    <part element="tns:findNavarendeKommunenummerForKommunernummerResponse" name="parameters"/>
  </message>
  <message name="findNavarendeKommunenummreForKommunernummer">
    <part element="tns:findNavarendeKommunenummreForKommunernummer" name="parameters"/>
  </message>
  <message name="findNavarendeKommunenummreForKommunernummerResponse">
    <part element="tns:findNavarendeKommunenummreForKommunernummerResponse" name="parameters"/>
  </message>
  <message name="findForrigeKommunenummerForKommunenummer">
    <part element="tns:findForrigeKommunenummerForKommunenummer" name="parameters"/>
  </message>
  <message name="findForrigeKommunenummerForKommunenummerResponse">
    <part element="tns:findForrigeKommunenummerForKommunenummerResponse" name="parameters"/>
  </message>
  <message name="findForrigeKommunenummerForKommunenumre">
    <part element="tns:findForrigeKommunenummerForKommunenumre" name="parameters"/>
  </message>
  <message name="findForrigeKommunenummerForKommunenumreResponse">
    <part element="tns:findForrigeKommunenummerForKommunenumreResponse" name="parameters"/>
  </message>
  <message name="findUtgatteKommuneIdsForKommuneIds">
    <part element="tns:findUtgatteKommuneIdsForKommuneIds" name="parameters"/>
  </message>
  <message name="findUtgatteKommuneIdsForKommuneIdsResponse">
    <part element="tns:findUtgatteKommuneIdsForKommuneIdsResponse" name="parameters"/>
  </message>
  <message name="findAlleFylkerDTO">
    <part element="tns:findAlleFylkerDTO" name="parameters"/>
  </message>
  <message name="findAlleFylkerDTOResponse">
    <part element="tns:findAlleFylkerDTOResponse" name="parameters"/>
  </message>
  <message name="findKommuneDTOsForFylke">
    <part element="tns:findKommuneDTOsForFylke" name="parameters"/>
  </message>
  <message name="findKommuneDTOsForFylkeResponse">
    <part element="tns:findKommuneDTOsForFylkeResponse" name="parameters"/>
  </message>
  <message name="findGjeldendeKommuneIdForKommuneNr">
    <part element="tns:findGjeldendeKommuneIdForKommuneNr" name="parameters"/>
  </message>
  <message name="findGjeldendeKommuneIdForKommuneNrResponse">
    <part element="tns:findGjeldendeKommuneIdForKommuneNrResponse" name="parameters"/>
  </message>
  <message name="findKommunevapenForKommune">
    <part element="tns:findKommunevapenForKommune" name="parameters"/>
  </message>
  <message name="findKommunevapenForKommuneResponse">
    <part element="tns:findKommunevapenForKommuneResponse" name="parameters"/>
  </message>
  <portType name="KommuneService">
    <operation name="findKommuneIdForIdent">
      <input message="tns:findKommuneIdForIdent" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommuneIdForIdentRequest"/>
      <output message="tns:findKommuneIdForIdentResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommuneIdForIdentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommuneIdForIdent/Fault/ServiceException"/>
    </operation>
    <operation name="findKommuneIdsForIdents">
      <input message="tns:findKommuneIdsForIdents" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommuneIdsForIdentsRequest"/>
      <output message="tns:findKommuneIdsForIdentsResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommuneIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommuneIdsForIdents/Fault/ServiceException"/>
    </operation>
    <operation name="findAlleFylker">
      <input message="tns:findAlleFylker" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findAlleFylkerRequest"/>
      <output message="tns:findAlleFylkerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findAlleFylkerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findAlleFylker/Fault/ServiceException"/>
    </operation>
    <operation name="findAlleKommuner">
      <input message="tns:findAlleKommuner" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findAlleKommunerRequest"/>
      <output message="tns:findAlleKommunerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findAlleKommunerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findAlleKommuner/Fault/ServiceException"/>
    </operation>
    <operation name="findNavarendeKommunenummerForKommunernummer">
      <input message="tns:findNavarendeKommunenummerForKommunernummer" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findNavarendeKommunenummerForKommunernummerRequest"/>
      <output message="tns:findNavarendeKommunenummerForKommunernummerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findNavarendeKommunenummerForKommunernummerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findNavarendeKommunenummerForKommunernummer/Fault/ServiceException"/>
    </operation>
    <operation name="findNavarendeKommunenummreForKommunernummer">
      <input message="tns:findNavarendeKommunenummreForKommunernummer" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findNavarendeKommunenummreForKommunernummerRequest"/>
      <output message="tns:findNavarendeKommunenummreForKommunernummerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findNavarendeKommunenummreForKommunernummerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findNavarendeKommunenummreForKommunernummer/Fault/ServiceException"/>
    </operation>
    <operation name="findForrigeKommunenummerForKommunenummer">
      <input message="tns:findForrigeKommunenummerForKommunenummer" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findForrigeKommunenummerForKommunenummerRequest"/>
      <output message="tns:findForrigeKommunenummerForKommunenummerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findForrigeKommunenummerForKommunenummerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findForrigeKommunenummerForKommunenummer/Fault/ServiceException"/>
    </operation>
    <operation name="findForrigeKommunenummerForKommunenumre">
      <input message="tns:findForrigeKommunenummerForKommunenumre" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findForrigeKommunenummerForKommunenumreRequest"/>
      <output message="tns:findForrigeKommunenummerForKommunenumreResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findForrigeKommunenummerForKommunenumreResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findForrigeKommunenummerForKommunenumre/Fault/ServiceException"/>
    </operation>
    <operation name="findUtgatteKommuneIdsForKommuneIds">
      <input message="tns:findUtgatteKommuneIdsForKommuneIds" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findUtgatteKommuneIdsForKommuneIdsRequest"/>
      <output message="tns:findUtgatteKommuneIdsForKommuneIdsResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findUtgatteKommuneIdsForKommuneIdsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findUtgatteKommuneIdsForKommuneIds/Fault/ServiceException"/>
    </operation>
    <operation name="findAlleFylkerDTO">
      <input message="tns:findAlleFylkerDTO" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findAlleFylkerDTORequest"/>
      <output message="tns:findAlleFylkerDTOResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findAlleFylkerDTOResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findAlleFylkerDTO/Fault/ServiceException"/>
    </operation>
    <operation name="findKommuneDTOsForFylke">
      <input message="tns:findKommuneDTOsForFylke" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommuneDTOsForFylkeRequest"/>
      <output message="tns:findKommuneDTOsForFylkeResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommuneDTOsForFylkeResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommuneDTOsForFylke/Fault/ServiceException"/>
    </operation>
    <operation name="findGjeldendeKommuneIdForKommuneNr">
      <input message="tns:findGjeldendeKommuneIdForKommuneNr" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findGjeldendeKommuneIdForKommuneNrRequest"/>
      <output message="tns:findGjeldendeKommuneIdForKommuneNrResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findGjeldendeKommuneIdForKommuneNrResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findGjeldendeKommuneIdForKommuneNr/Fault/ServiceException"/>
    </operation>
    <operation name="findKommunevapenForKommune">
      <input message="tns:findKommunevapenForKommune" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommunevapenForKommuneRequest"/>
      <output message="tns:findKommunevapenForKommuneResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommunevapenForKommuneResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/kommune/KommuneService/findKommunevapenForKommune/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="KommuneServicePortBinding" type="tns:KommuneService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findKommuneIdForIdent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findKommuneIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAlleFylker">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAlleKommuner">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findNavarendeKommunenummerForKommunernummer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findNavarendeKommunenummreForKommunernummer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findForrigeKommunenummerForKommunenummer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findForrigeKommunenummerForKommunenumre">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findUtgatteKommuneIdsForKommuneIds">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAlleFylkerDTO">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findKommuneDTOsForFylke">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findGjeldendeKommuneIdForKommuneNr">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findKommunevapenForKommune">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="KommuneServiceWS">
    <port binding="tns:KommuneServicePortBinding" name="KommuneServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>