lib/WSDLClient/wsdl/KonsesjonsforholdServiceWS_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" xmlns:ns2="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" xmlns:ns3="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" xmlns:ns4="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" xmlns:ns5="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" xmlns:ns6="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon" elementFormDefault="qualified" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon" version="1.0">

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="konsesjon.xsd"/>

  <xs:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="konsesjonKoder.xsd"/>

  <xs:element name="erKonsesjonsforholdAvklart" type="tns:erKonsesjonsforholdAvklart"/>

  <xs:element name="erKonsesjonsforholdAvklartResponse" type="tns:erKonsesjonsforholdAvklartResponse"/>

  <xs:element name="findHistoriskLedetekstVerdi" type="tns:findHistoriskLedetekstVerdi"/>

  <xs:element name="findHistoriskLedetekstVerdiResponse" type="tns:findHistoriskLedetekstVerdiResponse"/>

  <xs:element name="findKommunenBekrefter" type="tns:findKommunenBekrefter"/>

  <xs:element name="findKommunenBekrefterResponse" type="tns:findKommunenBekrefterResponse"/>

  <xs:element name="findKonsesjonsforholdForMatrikkelenhet" type="tns:findKonsesjonsforholdForMatrikkelenhet"/>

  <xs:element name="findKonsesjonsforholdForMatrikkelenhetResponse" type="tns:findKonsesjonsforholdForMatrikkelenhetResponse"/>

  <xs:element name="findKonsesjonsforholdForMatrikkelenheter" type="tns:findKonsesjonsforholdForMatrikkelenheter"/>

  <xs:element name="findKonsesjonsforholdForMatrikkelenheterResponse" type="tns:findKonsesjonsforholdForMatrikkelenheterResponse"/>

  <xs:element name="findKonsesjonsforholdUtskrifterForMatrikkelenhet" type="tns:findKonsesjonsforholdUtskrifterForMatrikkelenhet"/>

  <xs:element name="findKonsesjonsforholdUtskrifterForMatrikkelenhetIdent" type="tns:findKonsesjonsforholdUtskrifterForMatrikkelenhetIdent"/>

  <xs:element name="findKonsesjonsforholdUtskrifterForMatrikkelenhetIdentResponse" type="tns:findKonsesjonsforholdUtskrifterForMatrikkelenhetIdentResponse"/>

  <xs:element name="findKonsesjonsforholdUtskrifterForMatrikkelenhetResponse" type="tns:findKonsesjonsforholdUtskrifterForMatrikkelenhetResponse"/>

  <xs:element name="findKonsesjonsforholdUtskrifterForMatrikkelenheter" type="tns:findKonsesjonsforholdUtskrifterForMatrikkelenheter"/>

  <xs:element name="findKonsesjonsforholdUtskrifterForMatrikkelenheterResponse" type="tns:findKonsesjonsforholdUtskrifterForMatrikkelenheterResponse"/>

  <xs:element name="findKonsesjonsforholdUtskrifterForPerson" type="tns:findKonsesjonsforholdUtskrifterForPerson"/>

  <xs:element name="findKonsesjonsforholdUtskrifterForPersonResponse" type="tns:findKonsesjonsforholdUtskrifterForPersonResponse"/>

  <xs:element name="findLedetekstForKonsesjonsforhold" type="tns:findLedetekstForKonsesjonsforhold"/>

  <xs:element name="findLedetekstForKonsesjonsforholdResponse" type="tns:findLedetekstForKonsesjonsforholdResponse"/>

  <xs:element name="lovligeValgForEgenerklaringKonsesjonsfrihet" type="tns:lovligeValgForEgenerklaringKonsesjonsfrihet"/>

  <xs:element name="lovligeValgForEgenerklaringKonsesjonsfrihetResponse" type="tns:lovligeValgForEgenerklaringKonsesjonsfrihetResponse"/>

  <xs:complexType name="findKonsesjonsforholdUtskrifterForMatrikkelenhetIdent">
    <xs:sequence>
      <xs:element name="ident" type="ns2:MatrikkelenhetIdent"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKonsesjonsforholdUtskrifterForMatrikkelenhetIdentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:KonsesjonsforholdUtskriftIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKonsesjonsforholdUtskrifterForPerson">
    <xs:sequence>
      <xs:element name="kommuneId" type="ns1:KommuneId"/>
      <xs:element name="fornavn" nillable="true" type="xs:string"/>
      <xs:element name="etternavn" nillable="true" type="xs:string"/>
      <xs:element name="personNummer" nillable="true" type="xs:string"/>
      <xs:element name="navnFonetisk" nillable="true" type="xs:boolean"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKonsesjonsforholdUtskrifterForPersonResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:KonsesjonsforholdUtskriftIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKommunenBekrefter">
    <xs:sequence>
      <xs:element name="konsesjonsfrihetEgenerklaringKodeId" type="ns6:KonsesjonsfrihetEgenerklaringKodeId"/>
      <xs:element name="kommuneId" type="ns1:KommuneId"/>
      <xs:element name="iOmradeMedVanligKonsesjonsgrense" nillable="true" type="xs:boolean"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKommunenBekrefterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:KonsesjonsfrihetBekreftelseDTO"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKonsesjonsforholdUtskrifterForMatrikkelenhet">
    <xs:sequence>
      <xs:element name="matrikkelenhetId" type="ns2:MatrikkelenhetId"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKonsesjonsforholdUtskrifterForMatrikkelenhetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:KonsesjonsforholdUtskriftIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lovligeValgForEgenerklaringKonsesjonsfrihet">
    <xs:sequence>
      <xs:element name="kommuneId" type="ns1:KommuneId"/>
      <xs:element minOccurs="0" name="konsesjonsfrihetEgenerklaringKodeId" type="ns6:KonsesjonsfrihetEgenerklaringKodeId"/>
      <xs:element name="iOmradeMedVanligKonsesjonsgrense" nillable="true" type="xs:boolean"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="lovligeValgForEgenerklaringKonsesjonsfrihetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns6:KonsesjonsfrihetEgenerklaringKodeIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findLedetekstForKonsesjonsforhold">
    <xs:sequence>
      <xs:element name="konsesjonsfrihetEgenerklaringKodeId" type="ns6:KonsesjonsfrihetEgenerklaringKodeId"/>
      <xs:element name="kommuneId" type="ns1:KommuneId"/>
      <xs:element name="iOmradeMedVanligKonsesjonsgrense" nillable="true" type="xs:boolean"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findLedetekstForKonsesjonsforholdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:KonsesjonsfrihetLedetekstId"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKonsesjonsforholdUtskrifterForMatrikkelenheter">
    <xs:sequence>
      <xs:element name="matrikkelenhetIds" type="ns2:MatrikkelenhetIdList"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKonsesjonsforholdUtskrifterForMatrikkelenheterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:KonsesjonsforholdUtskriftIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findHistoriskLedetekstVerdi">
    <xs:sequence>
      <xs:element name="konsesjonsfrihetLedetekstId" type="ns5:KonsesjonsfrihetLedetekstId"/>
      <xs:element name="tidspunkt" type="ns4:Timestamp"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findHistoriskLedetekstVerdiResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKonsesjonsforholdForMatrikkelenhet">
    <xs:sequence>
      <xs:element name="matrikkelenhetId" type="ns2:MatrikkelenhetId"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKonsesjonsforholdForMatrikkelenhetResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:KonsesjonsforholdIdList"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKonsesjonsforholdForMatrikkelenheter">
    <xs:sequence>
      <xs:element name="matrikkelenhetIds" type="ns2:MatrikkelenhetIdList"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="findKonsesjonsforholdForMatrikkelenheterResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:MatrikkelenhetIdTilKonsesjonsforholdIdsMap"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="erKonsesjonsforholdAvklart">
    <xs:sequence>
      <xs:element name="kjopesum" nillable="true" type="xs:decimal"/>
      <xs:element name="overdragelser" type="ns5:OverdragelseList"/>
      <xs:element name="matrikkelContext" type="ns4:MatrikkelContext"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="erKonsesjonsforholdAvklartResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="ns5:OverdragelseFeilList"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>