lib/WSDLClient/wsdl/KonsesjonsforholdServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KonsesjonsforholdServiceWS" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon" schemaLocation="KonsesjonsforholdServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="util.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="sefrakKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="sefrak.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="rapportKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="personKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="metadata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="matrikkelenhetKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="kulturminneKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="kulturminne.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="konsesjonKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="konsesjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="kommunetilleggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="kommunetillegg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="jobbKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="jobb.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="grunnforurensingKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="grunnforurensing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="forretning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="endringsloggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="elektronisktinglysing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="bygningKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="brukerKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="aktivitetslisteKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="aktivitetsliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findKonsesjonsforholdUtskrifterForMatrikkelenheter">
    <part element="tns:findKonsesjonsforholdUtskrifterForMatrikkelenheter" name="parameters"/>
  </message>
  <message name="findKonsesjonsforholdUtskrifterForMatrikkelenheterResponse">
    <part element="tns:findKonsesjonsforholdUtskrifterForMatrikkelenheterResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findKonsesjonsforholdUtskrifterForMatrikkelenhet">
    <part element="tns:findKonsesjonsforholdUtskrifterForMatrikkelenhet" name="parameters"/>
  </message>
  <message name="findKonsesjonsforholdUtskrifterForMatrikkelenhetResponse">
    <part element="tns:findKonsesjonsforholdUtskrifterForMatrikkelenhetResponse" name="parameters"/>
  </message>
  <message name="findKonsesjonsforholdUtskrifterForMatrikkelenhetIdent">
    <part element="tns:findKonsesjonsforholdUtskrifterForMatrikkelenhetIdent" name="parameters"/>
  </message>
  <message name="findKonsesjonsforholdUtskrifterForMatrikkelenhetIdentResponse">
    <part element="tns:findKonsesjonsforholdUtskrifterForMatrikkelenhetIdentResponse" name="parameters"/>
  </message>
  <message name="findKonsesjonsforholdForMatrikkelenhet">
    <part element="tns:findKonsesjonsforholdForMatrikkelenhet" name="parameters"/>
  </message>
  <message name="findKonsesjonsforholdForMatrikkelenhetResponse">
    <part element="tns:findKonsesjonsforholdForMatrikkelenhetResponse" name="parameters"/>
  </message>
  <message name="findKonsesjonsforholdForMatrikkelenheter">
    <part element="tns:findKonsesjonsforholdForMatrikkelenheter" name="parameters"/>
  </message>
  <message name="findKonsesjonsforholdForMatrikkelenheterResponse">
    <part element="tns:findKonsesjonsforholdForMatrikkelenheterResponse" name="parameters"/>
  </message>
  <message name="findKonsesjonsforholdUtskrifterForPerson">
    <part element="tns:findKonsesjonsforholdUtskrifterForPerson" name="parameters"/>
  </message>
  <message name="findKonsesjonsforholdUtskrifterForPersonResponse">
    <part element="tns:findKonsesjonsforholdUtskrifterForPersonResponse" name="parameters"/>
  </message>
  <message name="erKonsesjonsforholdAvklart">
    <part element="tns:erKonsesjonsforholdAvklart" name="parameters"/>
  </message>
  <message name="erKonsesjonsforholdAvklartResponse">
    <part element="tns:erKonsesjonsforholdAvklartResponse" name="parameters"/>
  </message>
  <message name="lovligeValgForEgenerklaringKonsesjonsfrihet">
    <part element="tns:lovligeValgForEgenerklaringKonsesjonsfrihet" name="parameters"/>
  </message>
  <message name="lovligeValgForEgenerklaringKonsesjonsfrihetResponse">
    <part element="tns:lovligeValgForEgenerklaringKonsesjonsfrihetResponse" name="parameters"/>
  </message>
  <message name="findLedetekstForKonsesjonsforhold">
    <part element="tns:findLedetekstForKonsesjonsforhold" name="parameters"/>
  </message>
  <message name="findLedetekstForKonsesjonsforholdResponse">
    <part element="tns:findLedetekstForKonsesjonsforholdResponse" name="parameters"/>
  </message>
  <message name="findHistoriskLedetekstVerdi">
    <part element="tns:findHistoriskLedetekstVerdi" name="parameters"/>
  </message>
  <message name="findHistoriskLedetekstVerdiResponse">
    <part element="tns:findHistoriskLedetekstVerdiResponse" name="parameters"/>
  </message>
  <message name="findKommunenBekrefter">
    <part element="tns:findKommunenBekrefter" name="parameters"/>
  </message>
  <message name="findKommunenBekrefterResponse">
    <part element="tns:findKommunenBekrefterResponse" name="parameters"/>
  </message>
  <portType name="KonsesjonsforholdService">
    <operation name="findKonsesjonsforholdUtskrifterForMatrikkelenheter">
      <input message="tns:findKonsesjonsforholdUtskrifterForMatrikkelenheter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKonsesjonsforholdUtskrifterForMatrikkelenheterRequest"/>
      <output message="tns:findKonsesjonsforholdUtskrifterForMatrikkelenheterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKonsesjonsforholdUtskrifterForMatrikkelenheterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKonsesjonsforholdUtskrifterForMatrikkelenheter/Fault/ServiceException"/>
    </operation>
    <operation name="findKonsesjonsforholdUtskrifterForMatrikkelenhet">
      <input message="tns:findKonsesjonsforholdUtskrifterForMatrikkelenhet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKonsesjonsforholdUtskrifterForMatrikkelenhetRequest"/>
      <output message="tns:findKonsesjonsforholdUtskrifterForMatrikkelenhetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKonsesjonsforholdUtskrifterForMatrikkelenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKonsesjonsforholdUtskrifterForMatrikkelenhet/Fault/ServiceException"/>
    </operation>
    <operation name="findKonsesjonsforholdUtskrifterForMatrikkelenhetIdent">
      <input message="tns:findKonsesjonsforholdUtskrifterForMatrikkelenhetIdent" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKonsesjonsforholdUtskrifterForMatrikkelenhetIdentRequest"/>
      <output message="tns:findKonsesjonsforholdUtskrifterForMatrikkelenhetIdentResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKonsesjonsforholdUtskrifterForMatrikkelenhetIdentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKonsesjonsforholdUtskrifterForMatrikkelenhetIdent/Fault/ServiceException"/>
    </operation>
    <operation name="findKonsesjonsforholdForMatrikkelenhet">
      <input message="tns:findKonsesjonsforholdForMatrikkelenhet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKonsesjonsforholdForMatrikkelenhetRequest"/>
      <output message="tns:findKonsesjonsforholdForMatrikkelenhetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKonsesjonsforholdForMatrikkelenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKonsesjonsforholdForMatrikkelenhet/Fault/ServiceException"/>
    </operation>
    <operation name="findKonsesjonsforholdForMatrikkelenheter">
      <input message="tns:findKonsesjonsforholdForMatrikkelenheter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKonsesjonsforholdForMatrikkelenheterRequest"/>
      <output message="tns:findKonsesjonsforholdForMatrikkelenheterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKonsesjonsforholdForMatrikkelenheterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKonsesjonsforholdForMatrikkelenheter/Fault/ServiceException"/>
    </operation>
    <operation name="findKonsesjonsforholdUtskrifterForPerson">
      <input message="tns:findKonsesjonsforholdUtskrifterForPerson" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKonsesjonsforholdUtskrifterForPersonRequest"/>
      <output message="tns:findKonsesjonsforholdUtskrifterForPersonResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKonsesjonsforholdUtskrifterForPersonResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKonsesjonsforholdUtskrifterForPerson/Fault/ServiceException"/>
    </operation>
    <operation name="erKonsesjonsforholdAvklart">
      <input message="tns:erKonsesjonsforholdAvklart" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/erKonsesjonsforholdAvklartRequest"/>
      <output message="tns:erKonsesjonsforholdAvklartResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/erKonsesjonsforholdAvklartResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/erKonsesjonsforholdAvklart/Fault/ServiceException"/>
    </operation>
    <operation name="lovligeValgForEgenerklaringKonsesjonsfrihet">
      <input message="tns:lovligeValgForEgenerklaringKonsesjonsfrihet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/lovligeValgForEgenerklaringKonsesjonsfrihetRequest"/>
      <output message="tns:lovligeValgForEgenerklaringKonsesjonsfrihetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/lovligeValgForEgenerklaringKonsesjonsfrihetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/lovligeValgForEgenerklaringKonsesjonsfrihet/Fault/ServiceException"/>
    </operation>
    <operation name="findLedetekstForKonsesjonsforhold">
      <input message="tns:findLedetekstForKonsesjonsforhold" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findLedetekstForKonsesjonsforholdRequest"/>
      <output message="tns:findLedetekstForKonsesjonsforholdResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findLedetekstForKonsesjonsforholdResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findLedetekstForKonsesjonsforhold/Fault/ServiceException"/>
    </operation>
    <operation name="findHistoriskLedetekstVerdi">
      <input message="tns:findHistoriskLedetekstVerdi" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findHistoriskLedetekstVerdiRequest"/>
      <output message="tns:findHistoriskLedetekstVerdiResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findHistoriskLedetekstVerdiResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findHistoriskLedetekstVerdi/Fault/ServiceException"/>
    </operation>
    <operation name="findKommunenBekrefter">
      <input message="tns:findKommunenBekrefter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKommunenBekrefterRequest"/>
      <output message="tns:findKommunenBekrefterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKommunenBekrefterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/konsesjon/KonsesjonsforholdService/findKommunenBekrefter/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="KonsesjonsforholdServicePortBinding" type="tns:KonsesjonsforholdService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findKonsesjonsforholdUtskrifterForMatrikkelenheter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findKonsesjonsforholdUtskrifterForMatrikkelenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findKonsesjonsforholdUtskrifterForMatrikkelenhetIdent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findKonsesjonsforholdForMatrikkelenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findKonsesjonsforholdForMatrikkelenheter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findKonsesjonsforholdUtskrifterForPerson">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="erKonsesjonsforholdAvklart">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="lovligeValgForEgenerklaringKonsesjonsfrihet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findLedetekstForKonsesjonsforhold">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findHistoriskLedetekstVerdi">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findKommunenBekrefter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="KonsesjonsforholdServiceWS">
    <port binding="tns:KonsesjonsforholdServicePortBinding" name="KonsesjonsforholdServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>