lib/WSDLClient/wsdl/RapportServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RapportServiceWS" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport">
  <wsp:Policy wsu:Id="RapportServicePortBinding_MTOM_Policy">
    <ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
  </wsp:Policy>
  <types>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport" schemaLocation="RapportServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="util.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="sefrakKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="sefrak.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="rapportKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport" schemaLocation="rapport.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="personKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/pantebok" schemaLocation="pantebok.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="metadata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="matrikkelenhetKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="kulturminneKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="kulturminne.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="konsesjonKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="konsesjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="kommunetilleggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="kommunetillegg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="jobbKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="jobb.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="grunnforurensingKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="grunnforurensing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="forretning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="endringsloggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="elektronisktinglysing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="bygningKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="brukerKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="aktivitetslisteKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="aktivitetsliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="createMatrikkelbrev">
    <part element="tns:createMatrikkelbrev" name="parameters"/>
  </message>
  <message name="createMatrikkelbrevResponse">
    <part element="tns:createMatrikkelbrevResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns2="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" element="ns2:ServiceException" name="fault"/>
  </message>
  <message name="createMatrikkelbrevHistorisk">
    <part element="tns:createMatrikkelbrevHistorisk" name="parameters"/>
  </message>
  <message name="createMatrikkelbrevHistoriskResponse">
    <part element="tns:createMatrikkelbrevHistoriskResponse" name="parameters"/>
  </message>
  <message name="createSamletRapportForMatrikkelenhet">
    <part element="tns:createSamletRapportForMatrikkelenhet" name="parameters"/>
  </message>
  <message name="createSamletRapportForMatrikkelenhetResponse">
    <part element="tns:createSamletRapportForMatrikkelenhetResponse" name="parameters"/>
  </message>
  <message name="createSamletRapportForMatrikkelenhetUtenKart">
    <part element="tns:createSamletRapportForMatrikkelenhetUtenKart" name="parameters"/>
  </message>
  <message name="createSamletRapportForMatrikkelenhetUtenKartResponse">
    <part element="tns:createSamletRapportForMatrikkelenhetUtenKartResponse" name="parameters"/>
  </message>
  <message name="createKommunalTilleggsdelForMatrikkelenhet">
    <part element="tns:createKommunalTilleggsdelForMatrikkelenhet" name="parameters"/>
  </message>
  <message name="createKommunalTilleggsdelForMatrikkelenhetResponse">
    <part element="tns:createKommunalTilleggsdelForMatrikkelenhetResponse" name="parameters"/>
  </message>
  <message name="createAdresseendringsRapport">
    <part element="tns:createAdresseendringsRapport" name="parameters"/>
  </message>
  <message name="createAdresseendringsRapportResponse">
    <part element="tns:createAdresseendringsRapportResponse" name="parameters"/>
  </message>
  <message name="createAdresseendringerForFlereKommunerRapport">
    <part element="tns:createAdresseendringerForFlereKommunerRapport" name="parameters"/>
  </message>
  <message name="createAdresseendringerForFlereKommunerRapportResponse">
    <part element="tns:createAdresseendringerForFlereKommunerRapportResponse" name="parameters"/>
  </message>
  <message name="createAdresseRapport">
    <part element="tns:createAdresseRapport" name="parameters"/>
  </message>
  <message name="createAdresseRapportResponse">
    <part element="tns:createAdresseRapportResponse" name="parameters"/>
  </message>
  <message name="createAdresseRapportForKommuneutvalg">
    <part element="tns:createAdresseRapportForKommuneutvalg" name="parameters"/>
  </message>
  <message name="createAdresseRapportForKommuneutvalgResponse">
    <part element="tns:createAdresseRapportForKommuneutvalgResponse" name="parameters"/>
  </message>
  <message name="createAdresseKontrollRapport">
    <part element="tns:createAdresseKontrollRapport" name="parameters"/>
  </message>
  <message name="createAdresseKontrollRapportResponse">
    <part element="tns:createAdresseKontrollRapportResponse" name="parameters"/>
  </message>
  <message name="createByggKontrollRapport">
    <part element="tns:createByggKontrollRapport" name="parameters"/>
  </message>
  <message name="createByggKontrollRapportResponse">
    <part element="tns:createByggKontrollRapportResponse" name="parameters"/>
  </message>
  <message name="createMatrikkelenhetKontrollRapport">
    <part element="tns:createMatrikkelenhetKontrollRapport" name="parameters"/>
  </message>
  <message name="createMatrikkelenhetKontrollRapportResponse">
    <part element="tns:createMatrikkelenhetKontrollRapportResponse" name="parameters"/>
  </message>
  <message name="createTeigerUtenMatrikkelnummerRapport">
    <part element="tns:createTeigerUtenMatrikkelnummerRapport" name="parameters"/>
  </message>
  <message name="createTeigerUtenMatrikkelnummerRapportResponse">
    <part element="tns:createTeigerUtenMatrikkelnummerRapportResponse" name="parameters"/>
  </message>
  <message name="createBoligbyggingRapport">
    <part element="tns:createBoligbyggingRapport" name="parameters"/>
  </message>
  <message name="createBoligbyggingRapportResponse">
    <part element="tns:createBoligbyggingRapportResponse" name="parameters"/>
  </message>
  <message name="createGeovekstRapport">
    <part element="tns:createGeovekstRapport" name="parameters"/>
  </message>
  <message name="createGeovekstRapportResponse">
    <part element="tns:createGeovekstRapportResponse" name="parameters"/>
  </message>
  <message name="createForingskontrollRapport">
    <part element="tns:createForingskontrollRapport" name="parameters"/>
  </message>
  <message name="createForingskontrollRapportResponse">
    <part element="tns:createForingskontrollRapportResponse" name="parameters"/>
  </message>
  <message name="createByggRapport">
    <part element="tns:createByggRapport" name="parameters"/>
  </message>
  <message name="createByggRapportResponse">
    <part element="tns:createByggRapportResponse" name="parameters"/>
  </message>
  <message name="createBygningstypeJasperRapport">
    <part element="tns:createBygningstypeJasperRapport" name="parameters"/>
  </message>
  <message name="createBygningstypeJasperRapportResponse">
    <part element="tns:createBygningstypeJasperRapportResponse" name="parameters"/>
  </message>
  <message name="createMatrikkelenhetRapport">
    <part element="tns:createMatrikkelenhetRapport" name="parameters"/>
  </message>
  <message name="createMatrikkelenhetRapportResponse">
    <part element="tns:createMatrikkelenhetRapportResponse" name="parameters"/>
  </message>
  <message name="createNaboliste">
    <part element="tns:createNaboliste" name="parameters"/>
  </message>
  <message name="createNabolisteResponse">
    <part element="tns:createNabolisteResponse" name="parameters"/>
  </message>
  <message name="createSamletRapportRestanserOppmaling">
    <part element="tns:createSamletRapportRestanserOppmaling" name="parameters"/>
  </message>
  <message name="createSamletRapportRestanserOppmalingResponse">
    <part element="tns:createSamletRapportRestanserOppmalingResponse" name="parameters"/>
  </message>
  <message name="createIkkeFullfortOppmalingsforretningRapport">
    <part element="tns:createIkkeFullfortOppmalingsforretningRapport" name="parameters"/>
  </message>
  <message name="createIkkeFullfortOppmalingsforretningRapportResponse">
    <part element="tns:createIkkeFullfortOppmalingsforretningRapportResponse" name="parameters"/>
  </message>
  <message name="createGrensepunktmerkingManglerRapport">
    <part element="tns:createGrensepunktmerkingManglerRapport" name="parameters"/>
  </message>
  <message name="createGrensepunktmerkingManglerRapportResponse">
    <part element="tns:createGrensepunktmerkingManglerRapportResponse" name="parameters"/>
  </message>
  <message name="createManglerVedMatrikkelforingskravRapport">
    <part element="tns:createManglerVedMatrikkelforingskravRapport" name="parameters"/>
  </message>
  <message name="createManglerVedMatrikkelforingskravRapportResponse">
    <part element="tns:createManglerVedMatrikkelforingskravRapportResponse" name="parameters"/>
  </message>
  <message name="createMidlertidigForretningRapport">
    <part element="tns:createMidlertidigForretningRapport" name="parameters"/>
  </message>
  <message name="createMidlertidigForretningRapportResponse">
    <part element="tns:createMidlertidigForretningRapportResponse" name="parameters"/>
  </message>
  <message name="createSefrakstatusRapport">
    <part element="tns:createSefrakstatusRapport" name="parameters"/>
  </message>
  <message name="createSefrakstatusRapportResponse">
    <part element="tns:createSefrakstatusRapportResponse" name="parameters"/>
  </message>
  <message name="createVegendringsRapport">
    <part element="tns:createVegendringsRapport" name="parameters"/>
  </message>
  <message name="createVegendringsRapportResponse">
    <part element="tns:createVegendringsRapportResponse" name="parameters"/>
  </message>
  <message name="createVeghistorikkRapport">
    <part element="tns:createVeghistorikkRapport" name="parameters"/>
  </message>
  <message name="createVeghistorikkRapportResponse">
    <part element="tns:createVeghistorikkRapportResponse" name="parameters"/>
  </message>
  <message name="createVegListeRapportForKommuner">
    <part element="tns:createVegListeRapportForKommuner" name="parameters"/>
  </message>
  <message name="createVegListeRapportForKommunerResponse">
    <part element="tns:createVegListeRapportForKommunerResponse" name="parameters"/>
  </message>
  <message name="createSefrakRapport">
    <part element="tns:createSefrakRapport" name="parameters"/>
  </message>
  <message name="createSefrakRapportResponse">
    <part element="tns:createSefrakRapportResponse" name="parameters"/>
  </message>
  <message name="createAdressemerkebestillingsRapportForAdressemerkeBestillinger">
    <part element="tns:createAdressemerkebestillingsRapportForAdressemerkeBestillinger" name="parameters"/>
  </message>
  <message name="createAdressemerkebestillingsRapportForAdressemerkeBestillingerResponse">
    <part element="tns:createAdressemerkebestillingsRapportForAdressemerkeBestillingerResponse" name="parameters"/>
  </message>
  <message name="findRapportJobberForPaloggetBruker">
    <part element="tns:findRapportJobberForPaloggetBruker" name="parameters"/>
  </message>
  <message name="findRapportJobberForPaloggetBrukerResponse">
    <part element="tns:findRapportJobberForPaloggetBrukerResponse" name="parameters"/>
  </message>
  <message name="findRapportJobberForBruker">
    <part element="tns:findRapportJobberForBruker" name="parameters"/>
  </message>
  <message name="findRapportJobberForBrukerResponse">
    <part element="tns:findRapportJobberForBrukerResponse" name="parameters"/>
  </message>
  <message name="hentRapport">
    <part element="tns:hentRapport" name="parameters"/>
  </message>
  <message name="hentRapportResponse">
    <part element="tns:hentRapportResponse" name="parameters"/>
  </message>
  <message name="slettRapportJobber">
    <part element="tns:slettRapportJobber" name="parameters"/>
  </message>
  <message name="slettRapportJobberResponse">
    <part element="tns:slettRapportJobberResponse" name="parameters"/>
  </message>
  <message name="createGrenselinjerMedMPIDRapport">
    <part element="tns:createGrenselinjerMedMPIDRapport" name="parameters"/>
  </message>
  <message name="createGrenselinjerMedMPIDRapportResponse">
    <part element="tns:createGrenselinjerMedMPIDRapportResponse" name="parameters"/>
  </message>
  <message name="createKommunegrenseRapport">
    <part element="tns:createKommunegrenseRapport" name="parameters"/>
  </message>
  <message name="createKommunegrenseRapportResponse">
    <part element="tns:createKommunegrenseRapportResponse" name="parameters"/>
  </message>
  <message name="createMassivuttrekkRapport">
    <part element="tns:createMassivuttrekkRapport" name="parameters"/>
  </message>
  <message name="createMassivuttrekkRapportResponse">
    <part element="tns:createMassivuttrekkRapportResponse" name="parameters"/>
  </message>
  <message name="createMassivuttrekkFylkeRapport">
    <part element="tns:createMassivuttrekkFylkeRapport" name="parameters"/>
  </message>
  <message name="createMassivuttrekkFylkeRapportResponse">
    <part element="tns:createMassivuttrekkFylkeRapportResponse" name="parameters"/>
  </message>
  <message name="createMatrikkelenUtdrag">
    <part element="tns:createMatrikkelenUtdrag" name="parameters"/>
  </message>
  <message name="createMatrikkelenUtdragResponse">
    <part element="tns:createMatrikkelenUtdragResponse" name="parameters"/>
  </message>
  <message name="createMeldingTilTinglysing">
    <part element="tns:createMeldingTilTinglysing" name="parameters"/>
  </message>
  <message name="createMeldingTilTinglysingResponse">
    <part element="tns:createMeldingTilTinglysingResponse" name="parameters"/>
  </message>
  <message name="createMatrikkelenhetMedUfullstendingGeometriRapport">
    <part element="tns:createMatrikkelenhetMedUfullstendingGeometriRapport" name="parameters"/>
  </message>
  <message name="createMatrikkelenhetMedUfullstendingGeometriRapportResponse">
    <part element="tns:createMatrikkelenhetMedUfullstendingGeometriRapportResponse" name="parameters"/>
  </message>
  <message name="createKretserRapport">
    <part element="tns:createKretserRapport" name="parameters"/>
  </message>
  <message name="createKretserRapportResponse">
    <part element="tns:createKretserRapportResponse" name="parameters"/>
  </message>
  <message name="createNyeMatrikkelenheterOgHendelserRapport">
    <part element="tns:createNyeMatrikkelenheterOgHendelserRapport" name="parameters"/>
  </message>
  <message name="createNyeMatrikkelenheterOgHendelserRapportResponse">
    <part element="tns:createNyeMatrikkelenheterOgHendelserRapportResponse" name="parameters"/>
  </message>
  <message name="createGrunnboksutskriftNy">
    <part element="tns:createGrunnboksutskriftNy" name="parameters"/>
  </message>
  <message name="createGrunnboksutskriftNyResponse">
    <part element="tns:createGrunnboksutskriftNyResponse" name="parameters"/>
  </message>
  <message name="createGrunnboksutskrifter">
    <part element="tns:createGrunnboksutskrifter" name="parameters"/>
  </message>
  <message name="createGrunnboksutskrifterResponse">
    <part element="tns:createGrunnboksutskrifterResponse" name="parameters"/>
  </message>
  <message name="createKonsesjonsforholdKvittering">
    <part element="tns:createKonsesjonsforholdKvittering" name="parameters"/>
  </message>
  <message name="createKonsesjonsforholdKvitteringResponse">
    <part element="tns:createKonsesjonsforholdKvitteringResponse" name="parameters"/>
  </message>
  <message name="createBygningMedBygningssendringRapport">
    <part element="tns:createBygningMedBygningssendringRapport" name="parameters"/>
  </message>
  <message name="createBygningMedBygningssendringRapportResponse">
    <part element="tns:createBygningMedBygningssendringRapportResponse" name="parameters"/>
  </message>
  <message name="createByggForingshistorikkRapport">
    <part element="tns:createByggForingshistorikkRapport" name="parameters"/>
  </message>
  <message name="createByggForingshistorikkRapportResponse">
    <part element="tns:createByggForingshistorikkRapportResponse" name="parameters"/>
  </message>
  <message name="createKommuneendringKommunegrenseRapport">
    <part element="tns:createKommuneendringKommunegrenseRapport" name="parameters"/>
  </message>
  <message name="createKommuneendringKommunegrenseRapportResponse">
    <part element="tns:createKommuneendringKommunegrenseRapportResponse" name="parameters"/>
  </message>
  <message name="createPantebokHoveddokumentutskrifter">
    <part element="tns:createPantebokHoveddokumentutskrifter" name="parameters"/>
  </message>
  <message name="createPantebokHoveddokumentutskrifterResponse">
    <part element="tns:createPantebokHoveddokumentutskrifterResponse" name="parameters"/>
  </message>
  <message name="createGrunnbokOgPantebokHoveddokumentutskrifter">
    <part element="tns:createGrunnbokOgPantebokHoveddokumentutskrifter" name="parameters"/>
  </message>
  <message name="createGrunnbokOgPantebokHoveddokumentutskrifterResponse">
    <part element="tns:createGrunnbokOgPantebokHoveddokumentutskrifterResponse" name="parameters"/>
  </message>
  <portType name="RapportService">
    <operation name="createMatrikkelbrev">
      <input message="tns:createMatrikkelbrev" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMatrikkelbrevRequest"/>
      <output message="tns:createMatrikkelbrevResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMatrikkelbrevResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMatrikkelbrev/Fault/ServiceException"/>
    </operation>
    <operation name="createMatrikkelbrevHistorisk">
      <input message="tns:createMatrikkelbrevHistorisk" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMatrikkelbrevHistoriskRequest"/>
      <output message="tns:createMatrikkelbrevHistoriskResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMatrikkelbrevHistoriskResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMatrikkelbrevHistorisk/Fault/ServiceException"/>
    </operation>
    <operation name="createSamletRapportForMatrikkelenhet">
      <input message="tns:createSamletRapportForMatrikkelenhet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createSamletRapportForMatrikkelenhetRequest"/>
      <output message="tns:createSamletRapportForMatrikkelenhetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createSamletRapportForMatrikkelenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createSamletRapportForMatrikkelenhet/Fault/ServiceException"/>
    </operation>
    <operation name="createSamletRapportForMatrikkelenhetUtenKart">
      <input message="tns:createSamletRapportForMatrikkelenhetUtenKart" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createSamletRapportForMatrikkelenhetUtenKartRequest"/>
      <output message="tns:createSamletRapportForMatrikkelenhetUtenKartResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createSamletRapportForMatrikkelenhetUtenKartResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createSamletRapportForMatrikkelenhetUtenKart/Fault/ServiceException"/>
    </operation>
    <operation name="createKommunalTilleggsdelForMatrikkelenhet">
      <input message="tns:createKommunalTilleggsdelForMatrikkelenhet" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createKommunalTilleggsdelForMatrikkelenhetRequest"/>
      <output message="tns:createKommunalTilleggsdelForMatrikkelenhetResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createKommunalTilleggsdelForMatrikkelenhetResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createKommunalTilleggsdelForMatrikkelenhet/Fault/ServiceException"/>
    </operation>
    <operation name="createAdresseendringsRapport">
      <input message="tns:createAdresseendringsRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createAdresseendringsRapportRequest"/>
      <output message="tns:createAdresseendringsRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createAdresseendringsRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createAdresseendringsRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createAdresseendringerForFlereKommunerRapport">
      <input message="tns:createAdresseendringerForFlereKommunerRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createAdresseendringerForFlereKommunerRapportRequest"/>
      <output message="tns:createAdresseendringerForFlereKommunerRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createAdresseendringerForFlereKommunerRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createAdresseendringerForFlereKommunerRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createAdresseRapport">
      <input message="tns:createAdresseRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createAdresseRapportRequest"/>
      <output message="tns:createAdresseRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createAdresseRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createAdresseRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createAdresseRapportForKommuneutvalg">
      <input message="tns:createAdresseRapportForKommuneutvalg" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createAdresseRapportForKommuneutvalgRequest"/>
      <output message="tns:createAdresseRapportForKommuneutvalgResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createAdresseRapportForKommuneutvalgResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createAdresseRapportForKommuneutvalg/Fault/ServiceException"/>
    </operation>
    <operation name="createAdresseKontrollRapport">
      <input message="tns:createAdresseKontrollRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createAdresseKontrollRapportRequest"/>
      <output message="tns:createAdresseKontrollRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createAdresseKontrollRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createAdresseKontrollRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createByggKontrollRapport">
      <input message="tns:createByggKontrollRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createByggKontrollRapportRequest"/>
      <output message="tns:createByggKontrollRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createByggKontrollRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createByggKontrollRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createMatrikkelenhetKontrollRapport">
      <input message="tns:createMatrikkelenhetKontrollRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMatrikkelenhetKontrollRapportRequest"/>
      <output message="tns:createMatrikkelenhetKontrollRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMatrikkelenhetKontrollRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMatrikkelenhetKontrollRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createTeigerUtenMatrikkelnummerRapport">
      <input message="tns:createTeigerUtenMatrikkelnummerRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createTeigerUtenMatrikkelnummerRapportRequest"/>
      <output message="tns:createTeigerUtenMatrikkelnummerRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createTeigerUtenMatrikkelnummerRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createTeigerUtenMatrikkelnummerRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createBoligbyggingRapport">
      <input message="tns:createBoligbyggingRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createBoligbyggingRapportRequest"/>
      <output message="tns:createBoligbyggingRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createBoligbyggingRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createBoligbyggingRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createGeovekstRapport">
      <input message="tns:createGeovekstRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createGeovekstRapportRequest"/>
      <output message="tns:createGeovekstRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createGeovekstRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createGeovekstRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createForingskontrollRapport">
      <input message="tns:createForingskontrollRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createForingskontrollRapportRequest"/>
      <output message="tns:createForingskontrollRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createForingskontrollRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createForingskontrollRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createByggRapport">
      <input message="tns:createByggRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createByggRapportRequest"/>
      <output message="tns:createByggRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createByggRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createByggRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createBygningstypeJasperRapport">
      <input message="tns:createBygningstypeJasperRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createBygningstypeJasperRapportRequest"/>
      <output message="tns:createBygningstypeJasperRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createBygningstypeJasperRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createBygningstypeJasperRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createMatrikkelenhetRapport">
      <input message="tns:createMatrikkelenhetRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMatrikkelenhetRapportRequest"/>
      <output message="tns:createMatrikkelenhetRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMatrikkelenhetRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMatrikkelenhetRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createNaboliste">
      <input message="tns:createNaboliste" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createNabolisteRequest"/>
      <output message="tns:createNabolisteResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createNabolisteResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createNaboliste/Fault/ServiceException"/>
    </operation>
    <operation name="createSamletRapportRestanserOppmaling">
      <input message="tns:createSamletRapportRestanserOppmaling" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createSamletRapportRestanserOppmalingRequest"/>
      <output message="tns:createSamletRapportRestanserOppmalingResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createSamletRapportRestanserOppmalingResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createSamletRapportRestanserOppmaling/Fault/ServiceException"/>
    </operation>
    <operation name="createIkkeFullfortOppmalingsforretningRapport">
      <input message="tns:createIkkeFullfortOppmalingsforretningRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createIkkeFullfortOppmalingsforretningRapportRequest"/>
      <output message="tns:createIkkeFullfortOppmalingsforretningRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createIkkeFullfortOppmalingsforretningRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createIkkeFullfortOppmalingsforretningRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createGrensepunktmerkingManglerRapport">
      <input message="tns:createGrensepunktmerkingManglerRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createGrensepunktmerkingManglerRapportRequest"/>
      <output message="tns:createGrensepunktmerkingManglerRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createGrensepunktmerkingManglerRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createGrensepunktmerkingManglerRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createManglerVedMatrikkelforingskravRapport">
      <input message="tns:createManglerVedMatrikkelforingskravRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createManglerVedMatrikkelforingskravRapportRequest"/>
      <output message="tns:createManglerVedMatrikkelforingskravRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createManglerVedMatrikkelforingskravRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createManglerVedMatrikkelforingskravRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createMidlertidigForretningRapport">
      <input message="tns:createMidlertidigForretningRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMidlertidigForretningRapportRequest"/>
      <output message="tns:createMidlertidigForretningRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMidlertidigForretningRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMidlertidigForretningRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createSefrakstatusRapport">
      <input message="tns:createSefrakstatusRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createSefrakstatusRapportRequest"/>
      <output message="tns:createSefrakstatusRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createSefrakstatusRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createSefrakstatusRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createVegendringsRapport">
      <input message="tns:createVegendringsRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createVegendringsRapportRequest"/>
      <output message="tns:createVegendringsRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createVegendringsRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createVegendringsRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createVeghistorikkRapport">
      <input message="tns:createVeghistorikkRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createVeghistorikkRapportRequest"/>
      <output message="tns:createVeghistorikkRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createVeghistorikkRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createVeghistorikkRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createVegListeRapportForKommuner">
      <input message="tns:createVegListeRapportForKommuner" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createVegListeRapportForKommunerRequest"/>
      <output message="tns:createVegListeRapportForKommunerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createVegListeRapportForKommunerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createVegListeRapportForKommuner/Fault/ServiceException"/>
    </operation>
    <operation name="createSefrakRapport">
      <input message="tns:createSefrakRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createSefrakRapportRequest"/>
      <output message="tns:createSefrakRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createSefrakRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createSefrakRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createAdressemerkebestillingsRapportForAdressemerkeBestillinger">
      <input message="tns:createAdressemerkebestillingsRapportForAdressemerkeBestillinger" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createAdressemerkebestillingsRapportForAdressemerkeBestillingerRequest"/>
      <output message="tns:createAdressemerkebestillingsRapportForAdressemerkeBestillingerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createAdressemerkebestillingsRapportForAdressemerkeBestillingerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createAdressemerkebestillingsRapportForAdressemerkeBestillinger/Fault/ServiceException"/>
    </operation>
    <operation name="findRapportJobberForPaloggetBruker">
      <input message="tns:findRapportJobberForPaloggetBruker" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/findRapportJobberForPaloggetBrukerRequest"/>
      <output message="tns:findRapportJobberForPaloggetBrukerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/findRapportJobberForPaloggetBrukerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/findRapportJobberForPaloggetBruker/Fault/ServiceException"/>
    </operation>
    <operation name="findRapportJobberForBruker">
      <input message="tns:findRapportJobberForBruker" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/findRapportJobberForBrukerRequest"/>
      <output message="tns:findRapportJobberForBrukerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/findRapportJobberForBrukerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/findRapportJobberForBruker/Fault/ServiceException"/>
    </operation>
    <operation name="hentRapport">
      <input message="tns:hentRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/hentRapportRequest"/>
      <output message="tns:hentRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/hentRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/hentRapport/Fault/ServiceException"/>
    </operation>
    <operation name="slettRapportJobber">
      <input message="tns:slettRapportJobber" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/slettRapportJobberRequest"/>
      <output message="tns:slettRapportJobberResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/slettRapportJobberResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/slettRapportJobber/Fault/ServiceException"/>
    </operation>
    <operation name="createGrenselinjerMedMPIDRapport">
      <input message="tns:createGrenselinjerMedMPIDRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createGrenselinjerMedMPIDRapportRequest"/>
      <output message="tns:createGrenselinjerMedMPIDRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createGrenselinjerMedMPIDRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createGrenselinjerMedMPIDRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createKommunegrenseRapport">
      <input message="tns:createKommunegrenseRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createKommunegrenseRapportRequest"/>
      <output message="tns:createKommunegrenseRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createKommunegrenseRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createKommunegrenseRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createMassivuttrekkRapport">
      <input message="tns:createMassivuttrekkRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMassivuttrekkRapportRequest"/>
      <output message="tns:createMassivuttrekkRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMassivuttrekkRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMassivuttrekkRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createMassivuttrekkFylkeRapport">
      <input message="tns:createMassivuttrekkFylkeRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMassivuttrekkFylkeRapportRequest"/>
      <output message="tns:createMassivuttrekkFylkeRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMassivuttrekkFylkeRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMassivuttrekkFylkeRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createMatrikkelenUtdrag">
      <input message="tns:createMatrikkelenUtdrag" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMatrikkelenUtdragRequest"/>
      <output message="tns:createMatrikkelenUtdragResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMatrikkelenUtdragResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMatrikkelenUtdrag/Fault/ServiceException"/>
    </operation>
    <operation name="createMeldingTilTinglysing">
      <input message="tns:createMeldingTilTinglysing" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMeldingTilTinglysingRequest"/>
      <output message="tns:createMeldingTilTinglysingResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMeldingTilTinglysingResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMeldingTilTinglysing/Fault/ServiceException"/>
    </operation>
    <operation name="createMatrikkelenhetMedUfullstendingGeometriRapport">
      <input message="tns:createMatrikkelenhetMedUfullstendingGeometriRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMatrikkelenhetMedUfullstendingGeometriRapportRequest"/>
      <output message="tns:createMatrikkelenhetMedUfullstendingGeometriRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMatrikkelenhetMedUfullstendingGeometriRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createMatrikkelenhetMedUfullstendingGeometriRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createKretserRapport">
      <input message="tns:createKretserRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createKretserRapportRequest"/>
      <output message="tns:createKretserRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createKretserRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createKretserRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createNyeMatrikkelenheterOgHendelserRapport">
      <input message="tns:createNyeMatrikkelenheterOgHendelserRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createNyeMatrikkelenheterOgHendelserRapportRequest"/>
      <output message="tns:createNyeMatrikkelenheterOgHendelserRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createNyeMatrikkelenheterOgHendelserRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createNyeMatrikkelenheterOgHendelserRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createGrunnboksutskriftNy">
      <input message="tns:createGrunnboksutskriftNy" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createGrunnboksutskriftNyRequest"/>
      <output message="tns:createGrunnboksutskriftNyResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createGrunnboksutskriftNyResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createGrunnboksutskriftNy/Fault/ServiceException"/>
    </operation>
    <operation name="createGrunnboksutskrifter">
      <input message="tns:createGrunnboksutskrifter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createGrunnboksutskrifterRequest"/>
      <output message="tns:createGrunnboksutskrifterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createGrunnboksutskrifterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createGrunnboksutskrifter/Fault/ServiceException"/>
    </operation>
    <operation name="createKonsesjonsforholdKvittering">
      <input message="tns:createKonsesjonsforholdKvittering" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createKonsesjonsforholdKvitteringRequest"/>
      <output message="tns:createKonsesjonsforholdKvitteringResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createKonsesjonsforholdKvitteringResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createKonsesjonsforholdKvittering/Fault/ServiceException"/>
    </operation>
    <operation name="createBygningMedBygningssendringRapport">
      <input message="tns:createBygningMedBygningssendringRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createBygningMedBygningssendringRapportRequest"/>
      <output message="tns:createBygningMedBygningssendringRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createBygningMedBygningssendringRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createBygningMedBygningssendringRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createByggForingshistorikkRapport">
      <input message="tns:createByggForingshistorikkRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createByggForingshistorikkRapportRequest"/>
      <output message="tns:createByggForingshistorikkRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createByggForingshistorikkRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createByggForingshistorikkRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createKommuneendringKommunegrenseRapport">
      <input message="tns:createKommuneendringKommunegrenseRapport" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createKommuneendringKommunegrenseRapportRequest"/>
      <output message="tns:createKommuneendringKommunegrenseRapportResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createKommuneendringKommunegrenseRapportResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createKommuneendringKommunegrenseRapport/Fault/ServiceException"/>
    </operation>
    <operation name="createPantebokHoveddokumentutskrifter">
      <input message="tns:createPantebokHoveddokumentutskrifter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createPantebokHoveddokumentutskrifterRequest"/>
      <output message="tns:createPantebokHoveddokumentutskrifterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createPantebokHoveddokumentutskrifterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createPantebokHoveddokumentutskrifter/Fault/ServiceException"/>
    </operation>
    <operation name="createGrunnbokOgPantebokHoveddokumentutskrifter">
      <input message="tns:createGrunnbokOgPantebokHoveddokumentutskrifter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createGrunnbokOgPantebokHoveddokumentutskrifterRequest"/>
      <output message="tns:createGrunnbokOgPantebokHoveddokumentutskrifterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createGrunnbokOgPantebokHoveddokumentutskrifterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/rapport/RapportService/createGrunnbokOgPantebokHoveddokumentutskrifter/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="RapportServicePortBinding" type="tns:RapportService">
    <wsp:PolicyReference URI="#RapportServicePortBinding_MTOM_Policy"/>
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createMatrikkelbrev">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createMatrikkelbrevHistorisk">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createSamletRapportForMatrikkelenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createSamletRapportForMatrikkelenhetUtenKart">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createKommunalTilleggsdelForMatrikkelenhet">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createAdresseendringsRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createAdresseendringerForFlereKommunerRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createAdresseRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createAdresseRapportForKommuneutvalg">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createAdresseKontrollRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createByggKontrollRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createMatrikkelenhetKontrollRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createTeigerUtenMatrikkelnummerRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createBoligbyggingRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createGeovekstRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createForingskontrollRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createByggRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createBygningstypeJasperRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createMatrikkelenhetRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createNaboliste">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createSamletRapportRestanserOppmaling">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createIkkeFullfortOppmalingsforretningRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createGrensepunktmerkingManglerRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createManglerVedMatrikkelforingskravRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createMidlertidigForretningRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createSefrakstatusRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createVegendringsRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createVeghistorikkRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createVegListeRapportForKommuner">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createSefrakRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createAdressemerkebestillingsRapportForAdressemerkeBestillinger">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRapportJobberForPaloggetBruker">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findRapportJobberForBruker">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="hentRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="slettRapportJobber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createGrenselinjerMedMPIDRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createKommunegrenseRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createMassivuttrekkRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createMassivuttrekkFylkeRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createMatrikkelenUtdrag">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createMeldingTilTinglysing">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createMatrikkelenhetMedUfullstendingGeometriRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createKretserRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createNyeMatrikkelenheterOgHendelserRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createGrunnboksutskriftNy">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createGrunnboksutskrifter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createKonsesjonsforholdKvittering">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createBygningMedBygningssendringRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createByggForingshistorikkRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createKommuneendringKommunegrenseRapport">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createPantebokHoveddokumentutskrifter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="createGrunnbokOgPantebokHoveddokumentutskrifter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="RapportServiceWS">
    <port binding="tns:RapportServicePortBinding" name="RapportServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>