lib/WSDLClient/wsdl/SefrakMinneServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SefrakMinneServiceWS" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak" schemaLocation="SefrakMinneServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="util.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="sefrakKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="sefrak.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="rapportKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="personKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="metadata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="matrikkelenhetKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="kulturminneKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="kulturminne.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="konsesjonKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="konsesjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="kommunetilleggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="kommunetillegg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="jobbKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="jobb.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="grunnforurensingKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="grunnforurensing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="forretning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="endringsloggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="elektronisktinglysing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="bygningKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="brukerKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="aktivitetslisteKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="aktivitetsliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findSefrakMinneIdForIdent">
    <part element="tns:findSefrakMinneIdForIdent" name="parameters"/>
  </message>
  <message name="findSefrakMinneIdForIdentResponse">
    <part element="tns:findSefrakMinneIdForIdentResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findSefrakMinneIdsForIdents">
    <part element="tns:findSefrakMinneIdsForIdents" name="parameters"/>
  </message>
  <message name="findSefrakMinneIdsForIdentsResponse">
    <part element="tns:findSefrakMinneIdsForIdentsResponse" name="parameters"/>
  </message>
  <message name="findSefrakMinnerForBygg">
    <part element="tns:findSefrakMinnerForBygg" name="parameters"/>
  </message>
  <message name="findSefrakMinnerForByggResponse">
    <part element="tns:findSefrakMinnerForByggResponse" name="parameters"/>
  </message>
  <message name="findSefrakMinnerForByggList">
    <part element="tns:findSefrakMinnerForByggList" name="parameters"/>
  </message>
  <message name="findSefrakMinnerForByggListResponse">
    <part element="tns:findSefrakMinnerForByggListResponse" name="parameters"/>
  </message>
  <message name="findSefrakminnerForBygning">
    <part element="tns:findSefrakminnerForBygning" name="parameters"/>
  </message>
  <message name="findSefrakminnerForBygningResponse">
    <part element="tns:findSefrakminnerForBygningResponse" name="parameters"/>
  </message>
  <message name="findSefrakminne">
    <part element="tns:findSefrakminne" name="parameters"/>
  </message>
  <message name="findSefrakminneResponse">
    <part element="tns:findSefrakminneResponse" name="parameters"/>
  </message>
  <message name="findSefrakMinneInfoObjekt">
    <part element="tns:findSefrakMinneInfoObjekt" name="parameters"/>
  </message>
  <message name="findSefrakMinneInfoObjektResponse">
    <part element="tns:findSefrakMinneInfoObjektResponse" name="parameters"/>
  </message>
  <portType name="SefrakMinneService">
    <operation name="findSefrakMinneIdForIdent">
      <input message="tns:findSefrakMinneIdForIdent" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakMinneIdForIdentRequest"/>
      <output message="tns:findSefrakMinneIdForIdentResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakMinneIdForIdentResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakMinneIdForIdent/Fault/ServiceException"/>
    </operation>
    <operation name="findSefrakMinneIdsForIdents">
      <input message="tns:findSefrakMinneIdsForIdents" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakMinneIdsForIdentsRequest"/>
      <output message="tns:findSefrakMinneIdsForIdentsResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakMinneIdsForIdentsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakMinneIdsForIdents/Fault/ServiceException"/>
    </operation>
    <operation name="findSefrakMinnerForBygg">
      <input message="tns:findSefrakMinnerForBygg" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakMinnerForByggRequest"/>
      <output message="tns:findSefrakMinnerForByggResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakMinnerForByggResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakMinnerForBygg/Fault/ServiceException"/>
    </operation>
    <operation name="findSefrakMinnerForByggList">
      <input message="tns:findSefrakMinnerForByggList" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakMinnerForByggListRequest"/>
      <output message="tns:findSefrakMinnerForByggListResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakMinnerForByggListResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakMinnerForByggList/Fault/ServiceException"/>
    </operation>
    <operation name="findSefrakminnerForBygning">
      <input message="tns:findSefrakminnerForBygning" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakminnerForBygningRequest"/>
      <output message="tns:findSefrakminnerForBygningResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakminnerForBygningResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakminnerForBygning/Fault/ServiceException"/>
    </operation>
    <operation name="findSefrakminne">
      <input message="tns:findSefrakminne" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakminneRequest"/>
      <output message="tns:findSefrakminneResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakminneResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakminne/Fault/ServiceException"/>
    </operation>
    <operation name="findSefrakMinneInfoObjekt">
      <input message="tns:findSefrakMinneInfoObjekt" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakMinneInfoObjektRequest"/>
      <output message="tns:findSefrakMinneInfoObjektResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakMinneInfoObjektResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/sefrak/SefrakMinneService/findSefrakMinneInfoObjekt/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="SefrakMinneServicePortBinding" type="tns:SefrakMinneService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findSefrakMinneIdForIdent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSefrakMinneIdsForIdents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSefrakMinnerForBygg">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSefrakMinnerForByggList">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSefrakminnerForBygning">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSefrakminne">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findSefrakMinneInfoObjekt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="SefrakMinneServiceWS">
    <port binding="tns:SefrakMinneServicePortBinding" name="SefrakMinneServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>