lib/WSDLClient/wsdl/sefrak.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        version="1.0"
        targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak"
        xmlns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak"
        xmlns:basistyperns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain"
        xmlns:bygningns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning"
        xmlns:kodens="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste"
        xmlns:kommunens="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune"
        xmlns:sefrakkoderns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
        elementFormDefault="qualified">


    <xs:import schemaLocation="basistyper.xsd" namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain"/>
    <xs:import schemaLocation="bygning.xsd"
               namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning"/>
    <xs:import schemaLocation="kommune.xsd"
               namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune"/>
    <xs:import schemaLocation="kodeliste.xsd"
               namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste"/>
    <xs:import schemaLocation="sefrakKoder.xsd"
               namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder"/>

    <xs:complexType name="Ajourforing">
        <xs:complexContent>
            <xs:extension base="basistyperns:MatrikkelComponentWithHistory">
                <xs:sequence>
                    <xs:element name="id" type="xs:long" minOccurs="0"/>
                    <xs:element name="ajourfortDato" type="basistyperns:LocalDate" minOccurs="0"/>
                    <xs:element name="ajourfortAv" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="AjourforingList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="Ajourforing"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AntallSkorsteinerRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakRubrikk">
                <xs:sequence>
                    <xs:element name="antallSkorsteiner" type="xs:int" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BygningerRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakRubrikk">
                <xs:sequence>
                    <xs:element name="bygningerIds" type="bygningns:ByggIdList" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Endringsvurdering">
        <xs:complexContent>
            <xs:extension base="basistyperns:MatrikkelComponentWithHistory">
                <xs:sequence>
                    <xs:element name="id" type="xs:long" minOccurs="0"/>
                    <xs:element name="endringsgradKodeId" type="sefrakkoderns:EndringsgradKodeId" minOccurs="0"/>
                    <xs:element name="vurdertDato" type="basistyperns:LocalDate" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="EndringsvurderingList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="Endringsvurdering"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="EtasjetallRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakRubrikk">
                <xs:sequence>
                    <xs:element name="etasjetallKodeId" type="sefrakkoderns:EtasjetallKodeId" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FasadeRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakKodelisteRubrikk"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ForholdAndreHusRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakKodeRubrikk">
                <xs:sequence>
                    <xs:element name="forholdAndreHusKodeId" type="sefrakkoderns:ForholdAndreHusKodeId" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="Fotohenvisning">
        <xs:complexContent>
            <xs:extension base="basistyperns:MatrikkelComponentWithHistory">
                <xs:sequence>
                    <xs:element name="id" type="xs:long" minOccurs="0"/>
                    <xs:element name="filmnummer" type="xs:int" minOccurs="0"/>
                    <xs:element name="bildenummerFra" type="xs:int" minOccurs="0"/>
                    <xs:element name="bildenummerTil" type="xs:int" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FotohenvisningList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="Fotohenvisning"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FotohenvisningerRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakRubrikk">
                <xs:sequence>
                    <xs:element name="fotohenvisninger" type="FotohenvisningList" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FredningRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakRubrikk">
                <xs:sequence>
                    <xs:element name="fredningKodeId" type="sefrakkoderns:FredningKodeId" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FunksjonRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakKodelisteRubrikk"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FysiskMiljoRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakKodelisteRubrikk"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="HovedmalRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakRubrikk">
                <xs:sequence>
                    <xs:element name="lengde" type="xs:int" minOccurs="0"/>
                    <xs:element name="bredde" type="xs:int" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="KjellerRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakKodelisteRubrikk"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="MiljoOvervakingRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakRubrikk">
                <xs:sequence>
                    <xs:element name="endringsvurderinger" type="EndringsvurderingList" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="NavnRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakRubrikk">
                <xs:sequence>
                    <xs:element name="navn" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ObjektnummerRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakRubrikk">
                <xs:sequence>
                    <xs:element name="registreringskommuneId" type="kommunens:KommuneId" minOccurs="0"/>
                    <xs:element name="registreringskretsnummer" type="xs:int" minOccurs="0"/>
                    <xs:element name="huslopenummer" type="xs:int" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="OpprinneligSosialtMiljoRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakKodelisteRubrikk"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="RegistrertRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakRubrikk">
                <xs:sequence>
                    <xs:element name="feltregistrertAv" type="xs:string" minOccurs="0"/>
                    <xs:element name="feltregistrertDato" type="basistyperns:LocalDate" minOccurs="0"/>
                    <xs:element name="ajourforinger" type="AjourforingList" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SefrakKodelisteRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakRubrikk">
                <xs:sequence>
                    <xs:element name="kodeliste" type="kodens:MatrikkelEnumKodeIdList"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SefrakKodeRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakRubrikk"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SefrakMinne">
        <xs:complexContent>
            <xs:extension base="basistyperns:MatrikkelBubbleObjectWithHistory">
                <xs:sequence>
                    <xs:element name="kommuneId" type="kommunens:KommuneId" minOccurs="0"/>
                    <xs:element name="objektnummerRubrikk" type="ObjektnummerRubrikk" minOccurs="0"/>
                    <xs:element name="objektnavnRubrikk" type="NavnRubrikk" minOccurs="0"/>
                    <xs:element name="lokaltnavnRubrikk" type="NavnRubrikk" minOccurs="0"/>
                    <xs:element name="verdivurderingRubrikk" type="VerdivurderingRubrikk" minOccurs="0"/>
                    <xs:element name="etasjetallRubrikk" type="EtasjetallRubrikk" minOccurs="0"/>
                    <xs:element name="hovedmalRubrikk" type="HovedmalRubrikk" minOccurs="0"/>
                    <xs:element name="antallSkorsteinerRubrikk" type="AntallSkorsteinerRubrikk" minOccurs="0"/>
                    <xs:element name="opprinneligFunksjonRubrikk" type="FunksjonRubrikk" minOccurs="0"/>
                    <xs:element name="navarendeFunksjonRubrikk" type="FunksjonRubrikk" minOccurs="0"/>
                    <xs:element name="opprinneligSosialtMiljoRubrikk" type="OpprinneligSosialtMiljoRubrikk"
                                minOccurs="0"/>
                    <xs:element name="forholdAndreHusRubrikk" type="ForholdAndreHusRubrikk" minOccurs="0"/>
                    <xs:element name="fysiskMiljoRubrikk" type="FysiskMiljoRubrikk" minOccurs="0"/>
                    <xs:element name="underbygningKonstrRubrikk" type="UnderbygningKonstrRubrikk" minOccurs="0"/>
                    <xs:element name="kjellerRubrikk" type="KjellerRubrikk" minOccurs="0"/>
                    <xs:element name="ytterveggRubrikk" type="YtterveggRubrikk" minOccurs="0"/>
                    <xs:element name="fasadeRubrikk" type="FasadeRubrikk" minOccurs="0"/>
                    <xs:element name="takformRubrikk" type="TakformRubrikk" minOccurs="0"/>
                    <xs:element name="taktekkingRubrikk" type="TaktekkingRubrikk" minOccurs="0"/>
                    <xs:element name="byggeTidRubrikk" type="TidRubrikk" minOccurs="0"/>
                    <xs:element name="tilbyggingsTiderRubrikk" type="TiderRubrikk" minOccurs="0"/>
                    <xs:element name="flyttingTiderRubrikk" type="TiderRubrikk" minOccurs="0"/>
                    <xs:element name="revetBrentTidRubrikk" type="TidRubrikk" minOccurs="0"/>
                    <xs:element name="vernevedtakRubrikk" type="VernevedtakRubrikk" minOccurs="0"/>
                    <xs:element name="fredningRubrikk" type="FredningRubrikk" minOccurs="0"/>
                    <xs:element name="miljoOvervakingRubrikk" type="MiljoOvervakingRubrikk" minOccurs="0"/>
                    <xs:element name="feltregistrertRubrikk" type="RegistrertRubrikk" minOccurs="0"/>
                    <xs:element name="andreKilderRubrikk" type="SefrakRubrikk" minOccurs="0"/>
                    <xs:element name="fotoTegningRubrikk" type="SefrakRubrikk" minOccurs="0"/>
                    <xs:element name="inskripsjonerRubrikk" type="SefrakRubrikk" minOccurs="0"/>
                    <xs:element name="byggherreRubrikk" type="SefrakRubrikk" minOccurs="0"/>
                    <xs:element name="byggmesterArkitektRubrikk" type="SefrakRubrikk" minOccurs="0"/>
                    <xs:element name="andreOpplysningerRubrikk" type="SefrakRubrikk" minOccurs="0"/>
                    <xs:element name="bygningerRubrikk" type="BygningerRubrikk" minOccurs="0"/>
                    <xs:element name="fotohenvisningerRubrikk" type="FotohenvisningerRubrikk" minOccurs="0"/>
                    <xs:element name="sefrakReferanserRubrikk" type="SefrakReferanserRubrikk" minOccurs="0"/>
                    <xs:element name="uuid" type="basistyperns:UUID" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Dette elementet gis kun ut for klientversjon 3.17 eller senere. For eldre klienter
                                returneres ikke dette elementet.
                                @since 3.17
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SefrakMinneId">
        <xs:complexContent>
            <xs:extension base="basistyperns:MatrikkelBubbleId">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SefrakMinneIdList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="SefrakMinneId"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SefrakIdent">
        <xs:complexContent>
            <xs:extension base="basistyperns:Ident">
                <xs:sequence>
                    <xs:element name="kommunenummer" type="xs:int"/>
                    <xs:element name="registreringskretsnummer" type="xs:int"/>
                    <xs:element name="huslopenummer" type="xs:int"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SefrakIdentList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="SefrakIdent"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SefrakIdentTilSefrakMinneIdMap">
        <xs:annotation>
            <xs:appinfo>
                <IsDictionary
                        xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                    true
                </IsDictionary>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="key" nillable="true" type="SefrakIdent"/>
                        <xs:element name="value" nillable="true" type="SefrakMinneId"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SefrakReferanse">
        <xs:complexContent>
            <xs:extension base="basistyperns:MatrikkelComponentWithHistory">
                <xs:sequence>
                    <xs:element name="id" type="xs:long" minOccurs="0"/>
                    <xs:element name="sefrakReferanseKodeId" type="sefrakkoderns:SefrakReferanseKodeId" minOccurs="0"/>
                    <xs:element name="referanse" type="xs:string" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SefrakReferanseList">
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="SefrakReferanse"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SefrakReferanserRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakRubrikk">
                <xs:sequence>
                    <xs:element name="sefrakReferanser" type="SefrakReferanseList" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="SefrakRubrikk">
        <xs:complexContent>
            <xs:extension base="basistyperns:MatrikkelComponent">
                <xs:sequence>
                    <xs:element name="merknad" type="xs:string" minOccurs="0"/>
                    <xs:element name="usikker" type="xs:boolean" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TakformRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakKodelisteRubrikk"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TaktekkingRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakKodelisteRubrikk"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TiderRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakKodelisteRubrikk"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="TidRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakKodeRubrikk">
                <xs:sequence>
                    <xs:element name="tidsKodeId" type="sefrakkoderns:TidsKodeId" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="UnderbygningKonstrRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakKodelisteRubrikk"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VerdivurderingRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakKodeRubrikk">
                <xs:sequence>
                    <xs:element name="verdivurderingKodeId" type="sefrakkoderns:VerdivurderingKodeId" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VernevedtakRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakRubrikk">
                <xs:sequence>
                    <xs:element name="vernevedtakKodeId" type="sefrakkoderns:VernevedtakKodeId" minOccurs="0"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="YtterveggRubrikk">
        <xs:complexContent>
            <xs:extension base="SefrakKodelisteRubrikk"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ByggIdTilSefrakMinneIdsMap">
        <xs:annotation>
            <xs:appinfo>
                <IsDictionary
                        xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
                    true
                </IsDictionary>
            </xs:appinfo>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="entry">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="key" nillable="true" type="bygningns:ByggId"/>
                        <xs:element name="value" nillable="true" type="SefrakMinneIdList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="SefrakMinneKartInfo">
        <xs:sequence>
            <xs:element name="byggId" type="bygningns:ByggId" minOccurs="0"/>
            <xs:element name="vernevedtak" type="xs:int" minOccurs="0"/>
            <xs:element name="fredning" type="xs:int" minOccurs="0"/>
            <xs:element name="planlagtVern" type="xs:int" minOccurs="0"/>
            <xs:element name="meldeplikt" type="xs:int" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>