lib/WSDLClient/wsdl/TeigServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TeigServiceWS" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig" schemaLocation="TeigServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="util.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="sefrakKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="sefrak.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="rapportKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="personKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="metadata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="matrikkelenhetKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="kulturminneKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="kulturminne.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="konsesjonKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="konsesjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="kommunetilleggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="kommunetillegg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="jobbKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="jobb.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="grunnforurensingKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="grunnforurensing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="forretning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="endringsloggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="elektronisktinglysing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="bygningKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="brukerKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="aktivitetslisteKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="aktivitetsliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="findTeigerForSelectionPolygon">
    <part element="tns:findTeigerForSelectionPolygon" name="parameters"/>
  </message>
  <message name="findTeigerForSelectionPolygonResponse">
    <part element="tns:findTeigerForSelectionPolygonResponse" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="findObjekterForTeig">
    <part element="tns:findObjekterForTeig" name="parameters"/>
  </message>
  <message name="findObjekterForTeigResponse">
    <part element="tns:findObjekterForTeigResponse" name="parameters"/>
  </message>
  <message name="findObjekterForAnleggsprojeksjonsflate">
    <part element="tns:findObjekterForAnleggsprojeksjonsflate" name="parameters"/>
  </message>
  <message name="findObjekterForAnleggsprojeksjonsflateResponse">
    <part element="tns:findObjekterForAnleggsprojeksjonsflateResponse" name="parameters"/>
  </message>
  <message name="findTeiggrenserSomKunHorerTilInteriorForTeiger">
    <part element="tns:findTeiggrenserSomKunHorerTilInteriorForTeiger" name="parameters"/>
  </message>
  <message name="findTeiggrenserSomKunHorerTilInteriorForTeigerResponse">
    <part element="tns:findTeiggrenserSomKunHorerTilInteriorForTeigerResponse" name="parameters"/>
  </message>
  <message name="findTeigerOgMatrikkelenheterForTeiggrensepunkter">
    <part element="tns:findTeigerOgMatrikkelenheterForTeiggrensepunkter" name="parameters"/>
  </message>
  <message name="findTeigerOgMatrikkelenheterForTeiggrensepunkterResponse">
    <part element="tns:findTeigerOgMatrikkelenheterForTeiggrensepunkterResponse" name="parameters"/>
  </message>
  <message name="findTeigerOgMatrikkelenheterForTeiggrensepunkt">
    <part element="tns:findTeigerOgMatrikkelenheterForTeiggrensepunkt" name="parameters"/>
  </message>
  <message name="findTeigerOgMatrikkelenheterForTeiggrensepunktResponse">
    <part element="tns:findTeigerOgMatrikkelenheterForTeiggrensepunktResponse" name="parameters"/>
  </message>
  <message name="findOrphanedTeiggrenserForSelectionPolygon">
    <part element="tns:findOrphanedTeiggrenserForSelectionPolygon" name="parameters"/>
  </message>
  <message name="findOrphanedTeiggrenserForSelectionPolygonResponse">
    <part element="tns:findOrphanedTeiggrenserForSelectionPolygonResponse" name="parameters"/>
  </message>
  <message name="findTeigerOgMatrikkelenheterForTeiggrense">
    <part element="tns:findTeigerOgMatrikkelenheterForTeiggrense" name="parameters"/>
  </message>
  <message name="findTeigerOgMatrikkelenheterForTeiggrenseResponse">
    <part element="tns:findTeigerOgMatrikkelenheterForTeiggrenseResponse" name="parameters"/>
  </message>
  <message name="findGrensepunkter">
    <part element="tns:findGrensepunkter" name="parameters"/>
  </message>
  <message name="findGrensepunkterResponse">
    <part element="tns:findGrensepunkterResponse" name="parameters"/>
  </message>
  <message name="findTeigerForTeiggrense">
    <part element="tns:findTeigerForTeiggrense" name="parameters"/>
  </message>
  <message name="findTeigerForTeiggrenseResponse">
    <part element="tns:findTeigerForTeiggrenseResponse" name="parameters"/>
  </message>
  <message name="findTeigerForTeiggrenser">
    <part element="tns:findTeigerForTeiggrenser" name="parameters"/>
  </message>
  <message name="findTeigerForTeiggrenserResponse">
    <part element="tns:findTeigerForTeiggrenserResponse" name="parameters"/>
  </message>
  <message name="findTeiggrenser">
    <part element="tns:findTeiggrenser" name="parameters"/>
  </message>
  <message name="findTeiggrenserResponse">
    <part element="tns:findTeiggrenserResponse" name="parameters"/>
  </message>
  <message name="findTeiggrensepunkter">
    <part element="tns:findTeiggrensepunkter" name="parameters"/>
  </message>
  <message name="findTeiggrensepunkterResponse">
    <part element="tns:findTeiggrensepunkterResponse" name="parameters"/>
  </message>
  <message name="findTeiggrenserForGrensepunkt">
    <part element="tns:findTeiggrenserForGrensepunkt" name="parameters"/>
  </message>
  <message name="findTeiggrenserForGrensepunktResponse">
    <part element="tns:findTeiggrenserForGrensepunktResponse" name="parameters"/>
  </message>
  <message name="findTeiggrenserMedTeiger">
    <part element="tns:findTeiggrenserMedTeiger" name="parameters"/>
  </message>
  <message name="findTeiggrenserMedTeigerResponse">
    <part element="tns:findTeiggrenserMedTeigerResponse" name="parameters"/>
  </message>
  <message name="findTeigerOgMatrikkelenheterForTeiggrenser">
    <part element="tns:findTeigerOgMatrikkelenheterForTeiggrenser" name="parameters"/>
  </message>
  <message name="findTeigerOgMatrikkelenheterForTeiggrenserResponse">
    <part element="tns:findTeigerOgMatrikkelenheterForTeiggrenserResponse" name="parameters"/>
  </message>
  <message name="findTeigerForTeiggrensepunkt">
    <part element="tns:findTeigerForTeiggrensepunkt" name="parameters"/>
  </message>
  <message name="findTeigerForTeiggrensepunktResponse">
    <part element="tns:findTeigerForTeiggrensepunktResponse" name="parameters"/>
  </message>
  <message name="findTeigerForPunkt">
    <part element="tns:findTeigerForPunkt" name="parameters"/>
  </message>
  <message name="findTeigerForPunktResponse">
    <part element="tns:findTeigerForPunktResponse" name="parameters"/>
  </message>
  <message name="findAnleggsprojeksjonsFlaterUtenforTeigerForMatrikkelenheter">
    <part element="tns:findAnleggsprojeksjonsFlaterUtenforTeigerForMatrikkelenheter" name="parameters"/>
  </message>
  <message name="findAnleggsprojeksjonsFlaterUtenforTeigerForMatrikkelenheterResponse">
    <part element="tns:findAnleggsprojeksjonsFlaterUtenforTeigerForMatrikkelenheterResponse" name="parameters"/>
  </message>
  <message name="findTeigerForEnvelope">
    <part element="tns:findTeigerForEnvelope" name="parameters"/>
  </message>
  <message name="findTeigerForEnvelopeResponse">
    <part element="tns:findTeigerForEnvelopeResponse" name="parameters"/>
  </message>
  <message name="findEnvelopesForMatrikkelenheter">
    <part element="tns:findEnvelopesForMatrikkelenheter" name="parameters"/>
  </message>
  <message name="findEnvelopesForMatrikkelenheterResponse">
    <part element="tns:findEnvelopesForMatrikkelenheterResponse" name="parameters"/>
  </message>
  <message name="findTeigerForAnleggsprojeksjonsflater">
    <part element="tns:findTeigerForAnleggsprojeksjonsflater" name="parameters"/>
  </message>
  <message name="findTeigerForAnleggsprojeksjonsflaterResponse">
    <part element="tns:findTeigerForAnleggsprojeksjonsflaterResponse" name="parameters"/>
  </message>
  <message name="transformerGeometri">
    <part element="tns:transformerGeometri" name="parameters"/>
  </message>
  <message name="transformerGeometriResponse">
    <part element="tns:transformerGeometriResponse" name="parameters"/>
  </message>
  <message name="findAdresserForTeiger">
    <part element="tns:findAdresserForTeiger" name="parameters"/>
  </message>
  <message name="findAdresserForTeigerResponse">
    <part element="tns:findAdresserForTeigerResponse" name="parameters"/>
  </message>
  <message name="findAdresserForAnleggsprojeksjonsflater">
    <part element="tns:findAdresserForAnleggsprojeksjonsflater" name="parameters"/>
  </message>
  <message name="findAdresserForAnleggsprojeksjonsflaterResponse">
    <part element="tns:findAdresserForAnleggsprojeksjonsflaterResponse" name="parameters"/>
  </message>
  <message name="findByggForTeiger">
    <part element="tns:findByggForTeiger" name="parameters"/>
  </message>
  <message name="findByggForTeigerResponse">
    <part element="tns:findByggForTeigerResponse" name="parameters"/>
  </message>
  <message name="findByggForAnleggsprojeksjonsflater">
    <part element="tns:findByggForAnleggsprojeksjonsflater" name="parameters"/>
  </message>
  <message name="findByggForAnleggsprojeksjonsflaterResponse">
    <part element="tns:findByggForAnleggsprojeksjonsflaterResponse" name="parameters"/>
  </message>
  <portType name="TeigService">
    <operation name="findTeigerForSelectionPolygon">
      <input message="tns:findTeigerForSelectionPolygon" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForSelectionPolygonRequest"/>
      <output message="tns:findTeigerForSelectionPolygonResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForSelectionPolygonResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForSelectionPolygon/Fault/ServiceException"/>
    </operation>
    <operation name="findObjekterForTeig">
      <input message="tns:findObjekterForTeig" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findObjekterForTeigRequest"/>
      <output message="tns:findObjekterForTeigResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findObjekterForTeigResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findObjekterForTeig/Fault/ServiceException"/>
    </operation>
    <operation name="findObjekterForAnleggsprojeksjonsflate">
      <input message="tns:findObjekterForAnleggsprojeksjonsflate" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findObjekterForAnleggsprojeksjonsflateRequest"/>
      <output message="tns:findObjekterForAnleggsprojeksjonsflateResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findObjekterForAnleggsprojeksjonsflateResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findObjekterForAnleggsprojeksjonsflate/Fault/ServiceException"/>
    </operation>
    <operation name="findTeiggrenserSomKunHorerTilInteriorForTeiger">
      <input message="tns:findTeiggrenserSomKunHorerTilInteriorForTeiger" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeiggrenserSomKunHorerTilInteriorForTeigerRequest"/>
      <output message="tns:findTeiggrenserSomKunHorerTilInteriorForTeigerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeiggrenserSomKunHorerTilInteriorForTeigerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeiggrenserSomKunHorerTilInteriorForTeiger/Fault/ServiceException"/>
    </operation>
    <operation name="findTeigerOgMatrikkelenheterForTeiggrensepunkter">
      <input message="tns:findTeigerOgMatrikkelenheterForTeiggrensepunkter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerOgMatrikkelenheterForTeiggrensepunkterRequest"/>
      <output message="tns:findTeigerOgMatrikkelenheterForTeiggrensepunkterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerOgMatrikkelenheterForTeiggrensepunkterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerOgMatrikkelenheterForTeiggrensepunkter/Fault/ServiceException"/>
    </operation>
    <operation name="findTeigerOgMatrikkelenheterForTeiggrensepunkt">
      <input message="tns:findTeigerOgMatrikkelenheterForTeiggrensepunkt" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerOgMatrikkelenheterForTeiggrensepunktRequest"/>
      <output message="tns:findTeigerOgMatrikkelenheterForTeiggrensepunktResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerOgMatrikkelenheterForTeiggrensepunktResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerOgMatrikkelenheterForTeiggrensepunkt/Fault/ServiceException"/>
    </operation>
    <operation name="findOrphanedTeiggrenserForSelectionPolygon">
      <input message="tns:findOrphanedTeiggrenserForSelectionPolygon" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findOrphanedTeiggrenserForSelectionPolygonRequest"/>
      <output message="tns:findOrphanedTeiggrenserForSelectionPolygonResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findOrphanedTeiggrenserForSelectionPolygonResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findOrphanedTeiggrenserForSelectionPolygon/Fault/ServiceException"/>
    </operation>
    <operation name="findTeigerOgMatrikkelenheterForTeiggrense">
      <input message="tns:findTeigerOgMatrikkelenheterForTeiggrense" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerOgMatrikkelenheterForTeiggrenseRequest"/>
      <output message="tns:findTeigerOgMatrikkelenheterForTeiggrenseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerOgMatrikkelenheterForTeiggrenseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerOgMatrikkelenheterForTeiggrense/Fault/ServiceException"/>
    </operation>
    <operation name="findGrensepunkter">
      <input message="tns:findGrensepunkter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findGrensepunkterRequest"/>
      <output message="tns:findGrensepunkterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findGrensepunkterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findGrensepunkter/Fault/ServiceException"/>
    </operation>
    <operation name="findTeigerForTeiggrense">
      <input message="tns:findTeigerForTeiggrense" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForTeiggrenseRequest"/>
      <output message="tns:findTeigerForTeiggrenseResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForTeiggrenseResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForTeiggrense/Fault/ServiceException"/>
    </operation>
    <operation name="findTeigerForTeiggrenser">
      <input message="tns:findTeigerForTeiggrenser" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForTeiggrenserRequest"/>
      <output message="tns:findTeigerForTeiggrenserResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForTeiggrenserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForTeiggrenser/Fault/ServiceException"/>
    </operation>
    <operation name="findTeiggrenser">
      <input message="tns:findTeiggrenser" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeiggrenserRequest"/>
      <output message="tns:findTeiggrenserResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeiggrenserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeiggrenser/Fault/ServiceException"/>
    </operation>
    <operation name="findTeiggrensepunkter">
      <input message="tns:findTeiggrensepunkter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeiggrensepunkterRequest"/>
      <output message="tns:findTeiggrensepunkterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeiggrensepunkterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeiggrensepunkter/Fault/ServiceException"/>
    </operation>
    <operation name="findTeiggrenserForGrensepunkt">
      <input message="tns:findTeiggrenserForGrensepunkt" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeiggrenserForGrensepunktRequest"/>
      <output message="tns:findTeiggrenserForGrensepunktResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeiggrenserForGrensepunktResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeiggrenserForGrensepunkt/Fault/ServiceException"/>
    </operation>
    <operation name="findTeiggrenserMedTeiger">
      <input message="tns:findTeiggrenserMedTeiger" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeiggrenserMedTeigerRequest"/>
      <output message="tns:findTeiggrenserMedTeigerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeiggrenserMedTeigerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeiggrenserMedTeiger/Fault/ServiceException"/>
    </operation>
    <operation name="findTeigerOgMatrikkelenheterForTeiggrenser">
      <input message="tns:findTeigerOgMatrikkelenheterForTeiggrenser" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerOgMatrikkelenheterForTeiggrenserRequest"/>
      <output message="tns:findTeigerOgMatrikkelenheterForTeiggrenserResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerOgMatrikkelenheterForTeiggrenserResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerOgMatrikkelenheterForTeiggrenser/Fault/ServiceException"/>
    </operation>
    <operation name="findTeigerForTeiggrensepunkt">
      <input message="tns:findTeigerForTeiggrensepunkt" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForTeiggrensepunktRequest"/>
      <output message="tns:findTeigerForTeiggrensepunktResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForTeiggrensepunktResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForTeiggrensepunkt/Fault/ServiceException"/>
    </operation>
    <operation name="findTeigerForPunkt">
      <input message="tns:findTeigerForPunkt" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForPunktRequest"/>
      <output message="tns:findTeigerForPunktResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForPunktResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForPunkt/Fault/ServiceException"/>
    </operation>
    <operation name="findAnleggsprojeksjonsFlaterUtenforTeigerForMatrikkelenheter">
      <input message="tns:findAnleggsprojeksjonsFlaterUtenforTeigerForMatrikkelenheter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findAnleggsprojeksjonsFlaterUtenforTeigerForMatrikkelenheterRequest"/>
      <output message="tns:findAnleggsprojeksjonsFlaterUtenforTeigerForMatrikkelenheterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findAnleggsprojeksjonsFlaterUtenforTeigerForMatrikkelenheterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findAnleggsprojeksjonsFlaterUtenforTeigerForMatrikkelenheter/Fault/ServiceException"/>
    </operation>
    <operation name="findTeigerForEnvelope">
      <input message="tns:findTeigerForEnvelope" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForEnvelopeRequest"/>
      <output message="tns:findTeigerForEnvelopeResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForEnvelopeResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForEnvelope/Fault/ServiceException"/>
    </operation>
    <operation name="findEnvelopesForMatrikkelenheter">
      <input message="tns:findEnvelopesForMatrikkelenheter" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findEnvelopesForMatrikkelenheterRequest"/>
      <output message="tns:findEnvelopesForMatrikkelenheterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findEnvelopesForMatrikkelenheterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findEnvelopesForMatrikkelenheter/Fault/ServiceException"/>
    </operation>
    <operation name="findTeigerForAnleggsprojeksjonsflater">
      <input message="tns:findTeigerForAnleggsprojeksjonsflater" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForAnleggsprojeksjonsflaterRequest"/>
      <output message="tns:findTeigerForAnleggsprojeksjonsflaterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForAnleggsprojeksjonsflaterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findTeigerForAnleggsprojeksjonsflater/Fault/ServiceException"/>
    </operation>
    <operation name="transformerGeometri">
      <input message="tns:transformerGeometri" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/transformerGeometriRequest"/>
      <output message="tns:transformerGeometriResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/transformerGeometriResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/transformerGeometri/Fault/ServiceException"/>
    </operation>
    <operation name="findAdresserForTeiger">
      <input message="tns:findAdresserForTeiger" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findAdresserForTeigerRequest"/>
      <output message="tns:findAdresserForTeigerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findAdresserForTeigerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findAdresserForTeiger/Fault/ServiceException"/>
    </operation>
    <operation name="findAdresserForAnleggsprojeksjonsflater">
      <input message="tns:findAdresserForAnleggsprojeksjonsflater" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findAdresserForAnleggsprojeksjonsflaterRequest"/>
      <output message="tns:findAdresserForAnleggsprojeksjonsflaterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findAdresserForAnleggsprojeksjonsflaterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findAdresserForAnleggsprojeksjonsflater/Fault/ServiceException"/>
    </operation>
    <operation name="findByggForTeiger">
      <input message="tns:findByggForTeiger" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findByggForTeigerRequest"/>
      <output message="tns:findByggForTeigerResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findByggForTeigerResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findByggForTeiger/Fault/ServiceException"/>
    </operation>
    <operation name="findByggForAnleggsprojeksjonsflater">
      <input message="tns:findByggForAnleggsprojeksjonsflater" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findByggForAnleggsprojeksjonsflaterRequest"/>
      <output message="tns:findByggForAnleggsprojeksjonsflaterResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findByggForAnleggsprojeksjonsflaterResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/teig/TeigService/findByggForAnleggsprojeksjonsflater/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="TeigServicePortBinding" type="tns:TeigService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="findTeigerForSelectionPolygon">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findObjekterForTeig">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findObjekterForAnleggsprojeksjonsflate">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTeiggrenserSomKunHorerTilInteriorForTeiger">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTeigerOgMatrikkelenheterForTeiggrensepunkter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTeigerOgMatrikkelenheterForTeiggrensepunkt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findOrphanedTeiggrenserForSelectionPolygon">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTeigerOgMatrikkelenheterForTeiggrense">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findGrensepunkter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTeigerForTeiggrense">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTeigerForTeiggrenser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTeiggrenser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTeiggrensepunkter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTeiggrenserForGrensepunkt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTeiggrenserMedTeiger">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTeigerOgMatrikkelenheterForTeiggrenser">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTeigerForTeiggrensepunkt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTeigerForPunkt">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAnleggsprojeksjonsFlaterUtenforTeigerForMatrikkelenheter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTeigerForEnvelope">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findEnvelopesForMatrikkelenheter">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findTeigerForAnleggsprojeksjonsflater">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="transformerGeometri">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAdresserForTeiger">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findAdresserForAnleggsprojeksjonsflater">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findByggForTeiger">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findByggForAnleggsprojeksjonsflater">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="TeigServiceWS">
    <port binding="tns:TeigServicePortBinding" name="TeigServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>