lib/WSDLClient/wsdl/TestdataServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.0.2 svn-revision#b53771461f7d15f7842d8b88fd794780f6b9c4b4. --><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestdataServiceWS" targetNamespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test" schemaLocation="TestdataServiceWS_schema1.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" schemaLocation="exception.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/util" schemaLocation="util.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/test" schemaLocation="test.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak/koder" schemaLocation="sefrakKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/sefrak" schemaLocation="sefrak.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/rapport/koder" schemaLocation="rapportKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person/koder" schemaLocation="personKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/person" schemaLocation="person.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/metadata" schemaLocation="metadata.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet/koder" schemaLocation="matrikkelenhetKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/matrikkelenhet" schemaLocation="matrikkelenhet.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne/koder" schemaLocation="kulturminneKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kulturminne" schemaLocation="kulturminne.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon/koder" schemaLocation="konsesjonKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/konsesjon" schemaLocation="konsesjon.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg/koder" schemaLocation="kommunetilleggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommunetillegg" schemaLocation="kommunetillegg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kommune" schemaLocation="kommune.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/kodeliste" schemaLocation="kodeliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb/koder" schemaLocation="jobbKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/jobb" schemaLocation="jobb.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing/koder" schemaLocation="grunnforurensingKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/grunnforurensing" schemaLocation="grunnforurensing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri/koder" schemaLocation="geometriKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/geometri" schemaLocation="geometri.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/forretning" schemaLocation="forretning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg/koder" schemaLocation="endringsloggKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/endringslogg" schemaLocation="endringslogg.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/elektronisktinglysing" schemaLocation="elektronisktinglysing.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning/koder" schemaLocation="bygningKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bygning" schemaLocation="bygning.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker/koder" schemaLocation="brukerKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/bruker" schemaLocation="bruker.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste/koder" schemaLocation="aktivitetslisteKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/aktivitetsliste" schemaLocation="aktivitetsliste.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse/koder" schemaLocation="adresseKoder.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain/adresse" schemaLocation="adresse.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/domain" schemaLocation="basistyper.xsd"/>
    </xsd:schema>
  </types>
  <message name="getTestNumber0">
    <part element="tns:getTestNumber0" name="parameters"/>
  </message>
  <message name="getTestNumber0Response">
    <part element="tns:getTestNumber0Response" name="parameters"/>
  </message>
  <message name="ServiceException">
    <part xmlns:ns1="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/exception" element="ns1:ServiceException" name="fault"/>
  </message>
  <message name="getNextTestNumber">
    <part element="tns:getNextTestNumber" name="parameters"/>
  </message>
  <message name="getNextTestNumberResponse">
    <part element="tns:getNextTestNumberResponse" name="parameters"/>
  </message>
  <message name="saveAll">
    <part element="tns:saveAll" name="parameters"/>
  </message>
  <message name="saveAllResponse">
    <part element="tns:saveAllResponse" name="parameters"/>
  </message>
  <message name="saveSnapshotTransfer">
    <part element="tns:saveSnapshotTransfer" name="parameters"/>
  </message>
  <message name="saveSnapshotTransferResponse">
    <part element="tns:saveSnapshotTransferResponse" name="parameters"/>
  </message>
  <message name="saveAllWithAdressemerkeBestilling">
    <part element="tns:saveAllWithAdressemerkeBestilling" name="parameters"/>
  </message>
  <message name="saveAllWithAdressemerkeBestillingResponse">
    <part element="tns:saveAllWithAdressemerkeBestillingResponse" name="parameters"/>
  </message>
  <message name="saveSnapshotTransferWithAdressemerkeBestilling">
    <part element="tns:saveSnapshotTransferWithAdressemerkeBestilling" name="parameters"/>
  </message>
  <message name="saveSnapshotTransferWithAdressemerkeBestillingResponse">
    <part element="tns:saveSnapshotTransferWithAdressemerkeBestillingResponse" name="parameters"/>
  </message>
  <message name="objectExists">
    <part element="tns:objectExists" name="parameters"/>
  </message>
  <message name="objectExistsResponse">
    <part element="tns:objectExistsResponse" name="parameters"/>
  </message>
  <message name="findLastChangeNumberFraGammelEndringslogg">
    <part element="tns:findLastChangeNumberFraGammelEndringslogg" name="parameters"/>
  </message>
  <message name="findLastChangeNumberFraGammelEndringsloggResponse">
    <part element="tns:findLastChangeNumberFraGammelEndringsloggResponse" name="parameters"/>
  </message>
  <message name="finnMatrikkelnummerForId">
    <part element="tns:finnMatrikkelnummerForId" name="parameters"/>
  </message>
  <message name="finnMatrikkelnummerForIdResponse">
    <part element="tns:finnMatrikkelnummerForIdResponse" name="parameters"/>
  </message>
  <message name="findKrets">
    <part element="tns:findKrets" name="parameters"/>
  </message>
  <message name="findKretsResponse">
    <part element="tns:findKretsResponse" name="parameters"/>
  </message>
  <portType name="TestdataService">
    <operation name="getTestNumber0">
      <input message="tns:getTestNumber0" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/getTestNumber0Request"/>
      <output message="tns:getTestNumber0Response" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/getTestNumber0Response"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/getTestNumber0/Fault/ServiceException"/>
    </operation>
    <operation name="getNextTestNumber">
      <input message="tns:getNextTestNumber" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/getNextTestNumberRequest"/>
      <output message="tns:getNextTestNumberResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/getNextTestNumberResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/getNextTestNumber/Fault/ServiceException"/>
    </operation>
    <operation name="saveAll">
      <input message="tns:saveAll" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/saveAllRequest"/>
      <output message="tns:saveAllResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/saveAllResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/saveAll/Fault/ServiceException"/>
    </operation>
    <operation name="saveSnapshotTransfer">
      <input message="tns:saveSnapshotTransfer" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/saveSnapshotTransferRequest"/>
      <output message="tns:saveSnapshotTransferResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/saveSnapshotTransferResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/saveSnapshotTransfer/Fault/ServiceException"/>
    </operation>
    <operation name="saveAllWithAdressemerkeBestilling">
      <input message="tns:saveAllWithAdressemerkeBestilling" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/saveAllWithAdressemerkeBestillingRequest"/>
      <output message="tns:saveAllWithAdressemerkeBestillingResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/saveAllWithAdressemerkeBestillingResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/saveAllWithAdressemerkeBestilling/Fault/ServiceException"/>
    </operation>
    <operation name="saveSnapshotTransferWithAdressemerkeBestilling">
      <input message="tns:saveSnapshotTransferWithAdressemerkeBestilling" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/saveSnapshotTransferWithAdressemerkeBestillingRequest"/>
      <output message="tns:saveSnapshotTransferWithAdressemerkeBestillingResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/saveSnapshotTransferWithAdressemerkeBestillingResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/saveSnapshotTransferWithAdressemerkeBestilling/Fault/ServiceException"/>
    </operation>
    <operation name="objectExists">
      <input message="tns:objectExists" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/objectExistsRequest"/>
      <output message="tns:objectExistsResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/objectExistsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/objectExists/Fault/ServiceException"/>
    </operation>
    <operation name="findLastChangeNumberFraGammelEndringslogg">
      <input message="tns:findLastChangeNumberFraGammelEndringslogg" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/findLastChangeNumberFraGammelEndringsloggRequest"/>
      <output message="tns:findLastChangeNumberFraGammelEndringsloggResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/findLastChangeNumberFraGammelEndringsloggResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/findLastChangeNumberFraGammelEndringslogg/Fault/ServiceException"/>
    </operation>
    <operation name="finnMatrikkelnummerForId">
      <input message="tns:finnMatrikkelnummerForId" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/finnMatrikkelnummerForIdRequest"/>
      <output message="tns:finnMatrikkelnummerForIdResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/finnMatrikkelnummerForIdResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/finnMatrikkelnummerForId/Fault/ServiceException"/>
    </operation>
    <operation name="findKrets">
      <input message="tns:findKrets" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/findKretsRequest"/>
      <output message="tns:findKretsResponse" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/findKretsResponse"/>
      <fault message="tns:ServiceException" name="ServiceException" wsam:Action="http://matrikkel.statkart.no/matrikkelapi/wsapi/v1/service/test/TestdataService/findKrets/Fault/ServiceException"/>
    </operation>
  </portType>
  <binding name="TestdataServicePortBinding" type="tns:TestdataService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getTestNumber0">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="getNextTestNumber">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveSnapshotTransfer">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveAllWithAdressemerkeBestilling">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="saveSnapshotTransferWithAdressemerkeBestilling">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="objectExists">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findLastChangeNumberFraGammelEndringslogg">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="finnMatrikkelnummerForId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
    <operation name="findKrets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="TestdataServiceWS">
    <port binding="tns:TestdataServicePortBinding" name="TestdataServicePort">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>